---
layout: base.njk
pagename: art compendium
meta_title: The Ameswell Hotel | art compendium
meta_description: "The Ameswell Hotel offers three unique offers outlets: Roger, an indoor/outdoor bar and restaurant, The Flyby, an all-day café, and the Airstream for snacks and craft cocktails relaxing by the pool or fire pits."
canonical_href: https://www.theameswellhotel.com/art-compendium.html
permalink: "build/art-compendium.html"
permalinkBypassOutputDir: true
fabUrl: https://reservations.travelclick.com/111994
fabExternalLink: true
---
{% from "icons.njk" import svgicon %}
{% from "buttons.njk" import primaryButton %}
{% from "macros.njk" import scaled_image %}

<div id="pageHero" class="bg-ams-primary bg-hero--art-xmed xmed:bg-hero--art bg-cover bg-top min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-center pt-28 xmed:pt-0"></div>
<div class="w-full grid justify-items-center -mt-16 xmed:-mt-32 pt-8 xmed:pt-12 px-8 pb-16 bg-pattern--ams-grey">
    <article class="w-full grid justify-items-center pt-4">
        <section class="w-full grid justify-items-center max-w-screen-lg">
            <div class="pb-4 px-4 shadow-md xmed:-mt-10 xmed:p-10 bg-ams-white">
                <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:pb-8 xmed:text-center">
                    Ameswell Art Compendium
                </h2>
                <div class="xmed:text-center text-lg leading-6 tracking-wide">
                    Built in one of the most geographically lush and technologically innovative regions in the country, the Ameswell Hotel is situated on the crossroads of major north/south and east/west corridors. Guided by this theme of intersection, the art collection expresses the junction of real and conceptual.    
                </div>
            </div>
        </section>
    </article>
</div>
<section class="w-full grid justify-items-center xmed:pb-8 bg-ams-base">
    <div class="pb-4 px-4 shadow-md xmed:mt-10 xmed:p-10 max-w-screen-lg bg-ams-white">
        <h2 class="title-display text-2xl xmed:text-4xl pt-4 xmed:pt-0 pb-4 xmed:text-center">
            Explore The Art
        </h2>
        <div class="xmed:text-center">
            Whether complex renderings of astral images from the Hubble telescope, unlikely settings of Earthly flora and fauna, manipulated bright lights that slice through somber landscapes, or playfully animated reinterpretations of ancient hieroglyphics, each piece in this eclectic collection both reflects and reimagines the natural historic beauty and flourishing creative genius of the Northern California silicon valley. 
        </div>
    </div>
</section>

<section class="grid justify-items-center w-full">
    {% for item in art %}
        <section class="{{item.bgImage}} w-full">
            <figure class="max-w-screen-xl m-auto xmed:grid xmed:items-center xmed:grid-cols-2 gap-4 xmed:py-12 xmed:gap-28 shadow-md medium:shadow-none">
                <figcaption class="grid justify-items-center pt-4 xmed:pt-0">
                    {{ scaled_image(item.image) }}
                </figcaption>
                <figcaption class="mt-8 xmed:mt-0 mx-4 p-4 xmed:p-0 text-lg {{'text-ams-base' if item.bgImage!== 'bg-ams-white'}}">
                    <header>
                        <h2 class="pb-6 font-bold">
                            {{ item.p1 | safe }}
                        </h2>
                    </header>
                    <p class="mb-4 xmed:mb-12">
                        {{ item.p2 }}
                    </p>
                    <p class="mb-4 xmed:mb-12">
                        {{ item.location }}
                    </p>
                </figcaption>
            </figure>
        </section>
    {% endfor %}
</section>