---
layout: base.njk
pagename: art compendium
meta_title: The Ameswell Hotel | art compendium
meta_description: "The Ameswell Hotel offers three unique offers outlets: Roger, an indoor/outdoor bar and restaurant, The Flyby, an all-day café, and the Airstream for snacks and craft cocktails relaxing by the pool or fire pits."
canonical_href: https://www.theameswellhotel.com/art-compendium.html
permalink: "build/art-compendium.html"
permalinkBypassOutputDir: true
fabUrl: https://reservations.travelclick.com/111994
fabExternalLink: true
---
{% from "icons.njk" import svgicon %}
{% from "buttons.njk" import primaryButton %}
{% from "macros.njk" import scaled_image %}

<div id="pageHero" class="bg-ams-primary bg-hero--art-xmed xmed:bg-hero--art bg-cover bg-top min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-center pt-28 xmed:pt-0"></div>
<div class="w-full grid justify-items-center -mt-16 xmed:-mt-32 pt-8 xmed:pt-12 px-8 pb-16 bg-pattern--ams-grey">
    <article class="w-full grid justify-items-center pt-4">
        <section class="w-full grid justify-items-center max-w-screen-lg">
            <div class="pb-4 px-4 shadow-md xmed:-mt-10 xmed:p-10 bg-ams-white">
                <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:pb-8 text-center">
                    Ameswell Art Compendium
                </h2>
                <div class="text-center text-lg leading-6 tracking-wide">
                    Built in one of the most geographically lush and technologically innovative regions in the country, the Ameswell Hotel is situated on the crossroads of major north/south and east/west corridors. Guided by this theme of intersection, the art collection expresses the junction of real and conceptual.    
                </div>
            </div>
        </section>
    </article>
</div>
<section class="w-full grid justify-items-center p-8 xmed:p-0 xmed:pb-16 bg-ams-base">
    <div class="pb-4 px-4 shadow-md xmed:mt-10 xmed:p-10 max-w-screen-lg bg-ams-white">
        <h2 class="title-display text-2xl xmed:text-4xl pt-4 xmed:pt-0 pb-4 text-center">
            Explore The Art
        </h2>
        <div class="text-center">
            Whether complex renderings of astral images from the Hubble telescope, unlikely settings of Earthly flora and fauna, manipulated bright lights that slice through somber landscapes, or playfully animated reinterpretations of ancient hieroglyphics, each piece in this eclectic collection both reflects and reimagines the natural historic beauty and flourishing creative genius of the Northern California silicon valley. 
        </div>
    </div>
</section>
<!-- scroll to top start-->
<section class="xmed:hidden">
    <div class="flex bg-ams-gold text-ams-white p-2 text-lg fixed top-1/2 right-0 space-x-2">
        <div class="pt-1">
            <svg width="24" height="13" viewBox="0 0 24 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23 12L12 2L1 12" stroke="white" stroke-width="2"/>
            </svg>
        </div>
        <p>Scroll to top</p>
    </div>
</section>
<!--end-->
<section class="grid justify-items-center w-full">
    {% for item in art %}
        <section class="{{item.bgImage}} w-full">
            <figure class="max-w-screen-xl m-auto xmed:grid xmed:items-center xmed:grid-cols-2 xmed:py-12 xmed:gap-12 shadow-md medium:shadow-none">
            
                <figcaption class="pt-4 xmed:pt-0 px-8 xmed:px-0">
                    {% if item.images %}
                        <div class="flex flex-col xmed:flex-row">
                        {% for image in item.images %}
                            {{ scaled_image(image) }}
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ scaled_image(item.image) }}
                    {% endif %}
                </figcaption>
                <figcaption class="mt-8 xmed:mt-0 xmed:mx-4 p-4 xmed:p-0 text-lg 
                {% if item.bgImage == 'bg-ams-white' %}
                        text-ams-primary
                    {% elseif item.bgImage == 'bg-ams-main-12' %}
                        text-ams-primary
                    {% elseif item.bgImage == 'bg-ams-main-14' %}
                        text-ams-primary 
                    {% else %} text-ams-white
                {% endif %}
                ">
                    <header>
                        <h2 class="pb-6 font-bold">
                            {{ item.p1 | safe }}
                        </h2>
                    </header>
                    <p class="mb-4 xmed:mb-12 hidden xmed:block">
                        {{ item.p2 }}
                    </p>
                    <p class="mb-4 xmed:mb-12">
                        {{ item.location }}
                    </p>
                </figcaption>
                <div class="pb-4 xmed:hidden text-center">
                    <a href="#" class=" segment__cta  relative font-serif font-semibold text-xs uppercase
                    {% if item.bgImage == 'bg-ams-white' %}
                        text-ams-gold segment__cta--gold
                    {% elseif item.bgImage == 'bg-ams-main-12' %}
                        text-ams-gold segment__cta--gold
                    {% elseif item.bgImage == 'bg-ams-main-14' %}
                        text-ams-gold segment__cta--gold 
                    {% else %} text-ams-white segment__cta--white
                    {% endif %}                                        
                    ">READ MORE</a>
                </div>
            </figure>
        </section>
    {% endfor %}
</section>