---
layout: base.njk
pagename: art compendium
permalink: "build/art-compendium/index.html"
permalinkBypassOutputDir: true
canonical_href: https://www.theameswellhotel.com/art-compendium/
---
{% from "icons.njk" import svgicon %}
{% from "buttons.njk" import primaryButton %}
{% from "macros.njk" import scaled_image %}
{% from "global-image.njk" import global_image %}

{# Top Banner #}
{% if pageCMS['top-banner'] and pageCMS['top-banner'].top_banner %}
    {% set banner_image = pageCMS['top-banner'].top_banner %}
    <section id="pageHero" class="bg-ams-primary min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-end overflow-hidden">
        {{ global_image(banner_image.global_image, imgClass = "min-h-screen min-w-full max-w-none") }}
    </section> 
{% endif %}

{# Top Banner Article #}
{% if pageCMS['top-banner-article'] and pageCMS['top-banner-article'].single_article %}
<div class="w-full grid justify-items-center -mt-16 xmed:-mt-32 pt-8 xmed:pt-12 px-8 pb-16 bg-pattern--ams-grey">
    {% set top_banner_article = pageCMS['top-banner-article'].single_article%}
    <article class="w-full grid justify-items-center pt-4">
        <section class="w-full grid justify-items-center max-w-screen-lg">
            <div class="pb-4 px-4 shadow-md xmed:-mt-10 xmed:p-10 bg-ams-white">
                {% if top_banner_article.title %}
                    <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:pb-8 text-center">
                        {{ top_banner_article.title | safe }}
                    </h2>
                {% endif %}
                {% if top_banner_article.description %}
                    <div class="text-center text-base xmed:text-lg leading-6 tracking-wide">
                        {{ top_banner_article.description | safe }}
                    </div>
                {% endif %}                
            </div>
        </section>
    </article>
</div>
{% endif %}

{# Section Top Article #}
{% if pageCMS['top-article'] and pageCMS['top-article'].single_article %}
<section class="w-full grid justify-items-center p-8 xmed:p-0 xmed:pb-16 bg-ams-base">
    {% set top_article = pageCMS['top-article'].single_article %}
    <div class="pb-4 px-4 shadow-md xmed:mt-10 xmed:p-10 max-w-screen-lg bg-ams-white">
        {% if top_article.title %}
            <h2 class="title-display text-xl xmed:text-4xl pt-4 xmed:pt-0 pb-4 text-center">
                {{ top_article.title | safe }}
            </h2>
        {% endif %}
        {% if top_article.description %}
            <div class="text-center text-base xmed:text-lg">
                {{ top_article.description | safe }}
            </div>
        {% endif %}
    </div>
</section>
{% endif %}

{# Art Section #}
{% if pageCMS['art'] and pageCMS['art'].blog %}
    {% set artItems = pageCMS['art'].blog.blog_items %}
    <section id="artComponent" class="grid justify-items-center w-full py-10">
        {% for item in artItems %}
            <section id="{{item.slug}}" class="panel w-full" data-color="{{item.bgcolor}}">
                <figure class="max-w-screen-xl mx-auto px-4 py-10 xmed:py-32 xmed:grid xmed:items-center xmed:grid-cols-2 xmed:gap-12">
                    <figcaption class="px-2 xmed:px-0">                        
                        {% if item.images | length>1 %}
                            <div class="flex flex-col xmed:space-x-1 space-y-1 xmed:space-y-0 xmed:flex-row">
                                {% for img in item.images %}
                                    {{ global_image(img.global_image) }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {% for img in item.images %}
                                {{ global_image(img.global_image) }}
                            {% endfor %}                            
                        {% endif %}                                            
                    </figcaption>
                    <figcaption class="mt-28 xmed:mt-0 xmed:mx-4 px-6 xmed:p-0 
                    {% if item.bgcolor == 'bg-ams-white' %}
                            text-ams-primary
                        {% elseif item.bgcolor == 'bg-ams-main-12' %}
                            text-ams-primary
                        {% elseif item.bgcolor == 'bg-ams-main-14' %}
                            text-ams-primary
                        {% elseif item.bgcolor == 'bg-ams-main-16' %}
                            text-ams-primary     
                        {% else %} text-ams-white
                    {% endif %}
                    ">
                        {% if item.title %}                        
                            <header class="pb-2 xmed:pb-6">
                                {% for item in item.title %}
                                    <h2 class="text-sm xmed:text-lg font-bold">
                                        {{ item | safe }}
                                    </h2>
                                {% endfor %}    
                            </header>                            
                        {% endif %}
                        
                        {# <p class="mb-4 xmed:hidden xmed:mb-12">
                            {{ item.location }}
                        </p> #}
                        {% if item.description %}
                            <div class="mb-4 moreText text-base xmed:text-lg xmed:mb-12">
                                {{ item.description | safe}}
                            </div>
                        {% endif %}
                        
                        <div class="flex justify-center pb-4 xmed:hidden text-center">
                            <div class="read-more__btn segment__cta remove-outline relative font-serif font-semibold text-xs uppercase
                            {% if item.bgcolor == 'bg-ams-white' %}
                                text-ams-primary segment__cta--primary
                            {% elseif item.bgcolor == 'bg-ams-main-12' %}
                                text-ams-primary segment__cta--primary
                            {% elseif item.bgcolor == 'bg-ams-main-14' %}
                                text-ams-primary segment__cta--primary        
                            {% else %} text-ams-white segment__cta--white
                            {% endif %}">
                                MORE
                            </div>
                            <!--arrow down-->
                            <div class="toggle-arrow p-1 xmed:hidden">
                                <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.5 1L4.5 5L8.5 1"
                                    {% if item.bgcolor == 'bg-ams-white' %}  stroke="#213e4c"
                                    {% elseif item.bgcolor == 'bg-ams-main-12' %}  stroke="#213e4c"
                                    {% elseif item.bgcolor == 'bg-ams-main-14' %}  stroke="#213e4c"
                                    {% else %} stroke="white"
                                    {% endif %}
                                    stroke-linecap="round"/>
                                </svg>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </section>
        {% endfor %}
    </section>
{% endif %}