---
layout: base.njk
pagename: air-quality
permalink: "build/air-quality/index.html"
permalinkBypassOutputDir: true
canonical_href: https://www.theameswellhotel.com/air-quality/
---
{% from "global-image.njk" import global_image %}

{% if pageCMS['hero-image'] and pageCMS['hero-article'].single_article %}
    <section id="pageHero" class="bg-ams-primary min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-center overflow-hidden">
        {{ global_image(pageCMS['hero-image'].global_image, classes = "min-h-screen min-w-full max-w-none", imgClass="min-h-screen w-auto max-w-none") }}
    </section>

    <div class="w-full grid justify-items-center -mt-24 xmed:-mt-32 pt-8 xmed:pt-16 px-6 pb-16 xmed:pb-44 bg-pattern--ams-cyan">
        <article class="w-full grid justify-items-center pt-4">
            <section class="w-full grid justify-items-center max-w-screen-lg">
                <div class="pb-4 px-4 shadow-md xmed:-mt-10 xmed:p-10 bg-ams-white">
                    <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:text-center xmed:max-w-xl m-auto">
                        {{pageCMS['hero-article'].single_article.title}}
                    </h2>
                    <div class="xmed:text-center cms-description">
                        {{pageCMS['hero-article'].single_article.description | safe}}
                    </div>
                </div>
            </section>
        </article>
    </div>
{% endif %}
