---
layout: base.njk
pagename: air-quality
meta_title: The Ameswell Hotel | Medical Grade Air Filtration
meta_description: Our property was designed to provide the best air quality for our guests. Air throughout The Ameswell Hotel is continuously circulated with a Dedicated Outside Air System (DOAS), which runs 24/7, constantly providing fresh, filtered air.
canonical_href: https://theameswellhotel.com/air-quality.html
permalink: "build/air-quality.html"
permalinkBypassOutputDir: true
---
<div id="pageHero" class="bg-ams-primary bg-hero--air-quality-xmed xmed:bg-hero--air-quality bg-cover bg-top min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-center pt-28 xmed:pt-0">
</div>
<div class="w-full grid justify-items-center -mt-24 xmed:-mt-32 pt-8 xmed:pt-16 px-8 pb-16 xmed:pb-36 bg-pattern--ams-green">
    <article class="w-full grid justify-items-center pt-4">
        <section class="w-full grid justify-items-center max-w-screen-lg">
            <div class="pb-4 px-4 shadow-md xmed:-mt-10 xmed:p-10 bg-ams-white">
                <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:text-center">
                    Medical-grade air
                </h2>
                <div class="xmed:text-center space-y-6">
                    <p>Air is drawn through the DOAS and processed through a MERV 13 filter before making its way to the guest rooms and public areas.  MERV 13 filters are highly-rated and are frequently used in medical facilities and universities to capture microscopic particles, including unwanted allergens, pollens, bacteria, and harmful viruses.</p>
                    <p>Each guest room has its own dedicated Fan Coil Unit (FCU) to receive the filtered air. These units cool or heat the air for their specific room. As the air is pulled from the room, it is mixed with new, fresh and filtered air, returned through the FCU, and back into the room. This way, your air is never mixed with air from another guest room or any public area of the hotel.</p>
                    <p>At The Ameswell Hotel, you can take a deep breath and rest easy, knowing that you are in a safe and healthy environment.</p>
                </div>
            </div>
        </section>
    </article>
</div>