/****  start imports  ********************************/
@import "../../styles/global.css";
/****  end imports  ********************************/

@media all and ( max-width: 899px ) {
    .segment__cta--green:after{
        border-top-width: 2px;
        left: 0;
        width: 30%;
    }
}
@layer base{
    /* TODO */
    .cms-description a[type^="internal"] {
        @apply font-bold;
        @apply underline;
    }
}
