---
layout: base.njk
pagename: index
meta_title: The Ameswell Hotel
meta_description: "The Ameswell Hotel offers uncommon luxury in Silicon Valley. Nestled on 11 acres in sunny Mountain View, we bring together technology and innovation, natural beauty and an opportunity to play unlike any other hotel in the Bay Area."
canonical_href: https://www.theameswellhotel.com
permalink: "build/index.html"
permalinkBypassOutputDir: true
fabUrl: https://reservations.travelclick.com/111994
fabExternalLink: true
---
{% from "videos.njk" import lazyvideo %}
{% from "buttons.njk" import primaryButton %}
{% from "component_carousel.njk" import rooms_carousel %}
{% from "icons.njk" import svgicon %}
{% from "macros.njk" import scaled_image %}
{% from "svgicon.njk" import svg_icon %}

<div id="pageHero" class="bg-ams-primary min-h-screen bg-hero--home-xmed xmed:bg-hero--home bg-cover bg-bottom w-full grid xmed:grid-rows-hero-home justify-items-center pt-28 xmed:pt-0">
    <header class="grid xmed:items-end">
        <h1 class="title--1 text-ams-white text-2xl xmed:text-4xl uppercase text-center">
            UNCOMMON LUXURY IN<br class="xmed:hidden">
            SILICON VALLEY<br>
        </h1>
    </header>
    <div class="pt-16">
        {{svg_icon("logo_2", width="590", height="160", sclass="hidden xmed:block fill-current text-ams-white w-80")}}
    </div>
</div>
<div class="grid justify-items-center w-full bg-ams-base">
    <article class="pt-4 xmed:mb-10 xmed:px-4 xmed:mt-4 bg-ams-white xmed:bg-ams-base">
        <section class="grid justify-items-center max-w-screen-lg xmed:px-4">
            <div class="mx-4 xmed:mx-0">
                {{ scaled_image(entrance_image) }}
            </div>
            <div class="z-0 max-w-screen-xmed pb-4 px-4 xmed:shadow-md xmed:-mt-10 xmed:p-10 bg-ams-white">
                <h2 class="title-display text-2xl pt-4 xmed:pt-0 pb-4 xmed:text-center">
                    We believe in a foundation of exceptional experiences, thoughtful amenities, and effortless quality.
                </h2>
                <div class="xmed:text-center">
                    Nestled on 11 acres in sunny Mountain View, The Ameswell Hotel brings together innovation, natural beauty and an opportunity to play unlike any other hotel in the Bay Area.
                </div>
                <div class="pt-4 pb-4 xmed:pb-0 xmed:text-center">
                    <a href="about.html" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase">LEARN MORE</a>
                </div>
            </div>
        </section>
    </article>
</div>
<div class="bg-pattern--ams-grey w-full grid justify-items-center xmed:pb-28 relative z-10">
    <article class="grid justify-items-center items-start w-full max-w-7xl pt-9 p-14 xmed:pb-8 px-4 xmed:mt-5 xmed:grid-cols-35-65 xmed:gap-8">
        <section class="grid justify-items-center max-w-screen-lg mb-8 shadow-md">
            <div class="max-w-screen-xmed xmed:shadow-md p-4 xmed:p-10 bg-ams-white">
                <h2 class="title-display text-3xl pb-4">
                    More than enough room
                </h2>
                <p class="text-ams-primary text-lg">
                    Each of our 255 guest rooms is defined by comfort and space, privacy and respite. Sitting area and workspace for your waking hours, organic bath products for self-care, and luxurious sleep.
                </p>
                <div class="pt-7 pb-2 text-center">
                    <a href="room-detail.html" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase">VIEW ALL ROOMS</a>
                </div>
            </div>

            <div class="hidden xmed:block max-w-screen-xmed xmed:shadow-md p-4 xmed:p-10 bg-ams-white mt-8">
                <h2 class="title-display text-3xl pb-4">
                    Offers
                </h2>
                <p class="text-ams-primary text-lg">
                    Looking for a little something extra on your next visit to Silicon Valley? Treat yourself to one of these exclusive offers from The Ameswell Hotel.
                </p>
                <div class="pt-7 pb-2 text-center">
                    <a href="offers.html" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase">VIEW OFFERS</a>
                </div>
            </div>
        </section>
        <section class="w-full grid justify-items-center">
            <div class="w-full grid p-4 xmed:pb-10 shadow-md bg-ams-white">
                <figure class="w-full overflow-hidden">
                    {{ rooms_carousel(rooms) }}
                </figure>
            </div>
        </section>
        <section class="grid justify-items-center max-w-screen-lg xmed:hidden">
            
            <div class=" max-w-screen-xmed xmed:shadow-md p-4 xmed:p-10 bg-ams-white shadow-md mt-8">
                <h2 class="title-display text-3xl pb-4">
                    Offers
                </h2>
                <p class="text-ams-primary text-lg">
                    Looking for a little something extra on your next visit to Silicon Valley? Treat yourself to one of these exclusive offers from The Ameswell Hotel.
                </p>
                <div class="pt-7 pb-2 text-center">
                    <a href="offers.html" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase">VIEW OFFERS</a>
                </div>
            </div>
        </section>
    </article>
</div>
<div class="bg-ams-primary w-full grid justify-items-center pt-24 pr-4 pl-4 xmed:-mt-24 relative z-0">
    <article class="p-4 w-full max-w-screen-lg">
        <h2 class="title-display text-2xl xmed:text-4xl py-4 text-ams-white">
            Bar. Restaurant. Cafe.
        </h2>
        <p class="pb-6 text-ams-white">
            Options for every meal and in between craving, and every dietary desire—you can eat and drink with us all day, every day.
        </p>
        <a href="dining.html" class="segment__cta segment__cta--white relative text-ams-white font-serif-display uppercase">LEARN MORE</a>
        <section class="pt-9 xmed:grid xmed:grid-cols-3 xmed:gap-4 xmed:justify-between xmed:items-start">
            <figure class="grid grid-cols-2 xmed:grid-cols-1 gap-4 items-center mb-6">
                {{ scaled_image(roger_image) }}
                <figcaption class="text-ams-white xmed:px-8">
                    <header class="xmed:text-center">
                        <h3 class="segment__cta segment__cta--green relative inline-block mb-4 font-serif-display text-xl text-ams-white">
                            <a href="dining.html#the_flyby">ROGER</a>
                        </h3>
                    </header>
                    <p class="xmed:text-center">
                        Indoor/outdoor bar and restaurant
                    </p>
                </figcaption>
            </figure>
            <figure class="grid grid-cols-2 xmed:grid-cols-1 xmed:justify-items-center gap-4 items-center mb-6">
                {{ scaled_image(flyby_image) }}
                <figcaption class="text-ams-white xmed:px-8">
                    <header class="xmed:text-center">
                        <h3 class="segment__cta segment__cta--green relative inline-block mb-4 font-serif-display text-xl text-ams-white">
                            <a href="dining.html#roger">THE FLYBY</a>
                        </h3>
                    </header>
                    <p class="xmed:text-center">
                        All-day coffee and fast casual meals
                    </p>
                </figcaption>
            </figure>
            <figure class="grid grid-cols-2 xmed:grid-cols-1 xmed:justify-items-end gap-4 items-center mb-6">
                {{ scaled_image(airstream_image) }}
                <figcaption class="text-ams-white xmed:px-8">
                    <header class="xmed:text-center">
                        <h3 class="segment__cta segment__cta--green relative inline-block mb-4 font-serif-display text-xl text-ams-white">
                            <a href="dining.html#airstream_bar">AIRSTREAM BAR</a>
                        </h3>
                    </header>
                    <p class="xmed:text-center">
                        Outdoor bar for the pool, lawn and events
                    </p>
                </figcaption>
            </figure>
        </section>
    </article>
</div>

<div class="grid justify-items-center w-full bg-ams-base">
    <article class="pt-4 xmed:mb-10 xmed:px-4 xmed:mt-4 bg-ams-white xmed:bg-ams-base">
        <section class="grid justify-items-center max-w-screen-lg xmed:px-4">
            <div class="mx-4 xmed:mx-0">
                {{ scaled_image(event_spaces_image) }}
            </div>
            <div class="z-0 max-w-screen-xmed pb-4 px-4 xmed:shadow-md xmed:-mt-10 xmed:p-10 bg-ams-white">
                <h2 class="title-display text-2xl pt-4 xmed:pt-0 pb-4 xmed:text-center">
                    Not your typical meeting
                </h2>
                <div class="xmed:text-center">
                    Whether you are looking for a tech-enabled meeting room or an inspirational outdoor space for your Silicon Valley corporate gathering, The Ameswell Hotel offers a diverse array of safe spaces to meet any need.
                </div>
                <div class="pt-4 pb-4 xmed:pb-0 xmed:text-center">
                    <a href="events.html" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase">LEARN MORE</a>
                </div>
            </div>
        </section>
    </article>
</div>
<div class="grid justify-items-center w-full bg-ams-base">
    <article class="py-4 xmed:px-4 my-4">
        <section class="max-w-screen-lg xmed:grid xmed:grid-cols-auto-600 gap-4 xmed:p-8 xmed:bg-ams-white xmed:shadow-md">
            <div class="mx-4 xmed:mx-0 mb-8 xmed:mb-0 p-4 xmed:p-0 shadow-md xmed:shadow-none bg-ams-white">
                <h2 class="title-display text-2xl pt-4 pb-4">
                    Our Mountain View Wedding Venue
                </h2>
                <p>
                    Celebrate your wedding at one of the most unique and inspiring venues in the Bay Area.
                </p>
                <div class="pt-4 pb-4">
                    <a href="weddings.html" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase">LEARN MORE</a>
                </div>
            </div>
            <figure>
                {{ scaled_image(wedding_image) }}
            </figure>
        </section>
    </article>
</div>
<div class="grid bg-pattern--ams-grey xmed:justify-items-center w-full py-14 xmed:pt-24 xmed:pb-28">
    <article class="grid items-start max-w-screen-lg w-full xmed:grid-cols-3 xmed:gap-10">
        <section class="mb-8 shadow-md px-4 xmed:px-0">
            <div class="shadow-md p-4 xmed:p-8 bg-ams-white">
                <h2 class="title-display text-2xl font-serif font-medium py-4">
                    Happenings
                </h2>
                <div class="text-base xmed:text-lg font-sans">
                    Ameswell offers special event programming to add something special to your stay.
                </div>
                <div class="pt-7 pb-2 text-xs xmed:text-lg font-serif font-medium">
                    <a href="happenings.html" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase">VIEW ALL HAPPENINGS</a>
                </div>
            </div>
        </section>
        <section class="bg-ams-white mb-8 shadow-md">
            <figure>
                {{ scaled_image(happenings_image) }}
                <figcaption>
                    <header class="pl-4 xmed:pl-3 py-4">
                        <span class="text-lg font-sans">
                           July 3, 2021
                        </span>
                        <h2 class="title-display text-xl xmed:text-2xl text-left font-serif font-medium">
                           LIVE MUSIC WITH FREDDY CLARKE AND WOBBLY WORLD
                        </h2>
                    </header>
                </figcaption>
            </figure>
        </section>
        <section class="bg-ams-white mb-8 shadow-md">
            <figure>
                {{ scaled_image(happenings_image) }}
                <figcaption>
                    <header class="pl-4 xmed:pl-3 py-4">
                        <span class="text-lg font-sans">
                           July 3, 2021
                        </span>
                        <h2 class="title-display text-2xl text-left font-serif font-medium">
                           LIVE MUSIC WITH FREDDY CLARKE AND WOBBLY WORLD
                        </h2>
                    </header>
                </figcaption>
            </figure>
        </section>
    </article>
</div>
<div class="grid justify-items-center bg-ams-primary w-full p-8">
    <article class="max-w-screen-lg p-4 bg-ams-white w-full">
        <section class="xmed:grid xmed:grid-cols-2 xmed:gap-4">
            <header>
                <h2 class="title-display text-2xl pt-4 pb-4">
                    Join Our A-List
                </h2>
                <p>
                    You will be the first to hear about events and promotions.
                </p>
            </header>
            <form-sender data-type="alist">
                <form class="pt-4">
                    <div class="floating-input mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs relative">
                        <input onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" required="required" type="text" id="firstName" name="firstName" placeholder="John" class="border-0 border-b-2 border-ams-label bg-ams-label text-base w-full p-3 h-8 focus:outline-none focus:ring-transparent focus:border-ams-label"/>
                        <label for="firstName" class="absolute top-0 left-0 px-3 py-5 h-full pointer-events-none transform origin-left transition-all duration-100 ease-in-out">FIRST NAME *</label>
                    </div>
                    <div class="floating-input mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs relative">
                        <input onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" required="required" type="text" id="lastName" name="lastName" placeholder="Galen" class="border-0 border-b-2 border-ams-label bg-ams-label text-base w-full p-3 h-8 focus:outline-none focus:ring-transparent focus:border-ams-label"/>
                        <label for="lastName" class="absolute top-0 left-0 px-3 py-5 h-full pointer-events-none transform origin-left transition-all duration-100 ease-in-out">LAST NAME *</label>
                    </div>
                    <div class="floating-input mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs relative">
                        <input required="required" type="text" id="email" name="email" placeholder="johnglenn@example.com" class="border-0 border-b-2 border-ams-label bg-ams-label text-base w-full p-3 h-8 focus:outline-none focus:ring-transparent focus:border-ams-label"/>
                        <label for="email" class="absolute top-0 left-0 px-3 py-5 h-full pointer-events-none transform origin-left transition-all duration-100 ease-in-out">EMAIL *</label>
                    </div>
                    {{ primaryButton("#", 'Join the A-List', 'submit__button inline-block py-2 px-8 bg-ams-gold text-ams-white font-serif tracking-wide', 'button') }}
                    <div class="ajax__status text-ams-primary text-ams-green text-rose-600 text-xs pt-2 hidden"></div>
                </form>
            </form-sender>
        </section>
    </article>
</div>
<div class="bg-ams-primary w-full">
    <div class="bg-pattern--ams-grey w-full h-20 my-4 hidden xmed:block"></div>
</div>