/****  start imports  ********************************/
@import "../../styles/global.css";
/****  end imports  ********************************/

@media all and ( max-width: 899px ) {
    .segment__cta--green:after{
        border-top-width: 2px;
        left: 30%;
        width: 30%;
    }
}
