/****  start imports  ********************************/
@import "../../styles/global.css";
@import "basiclightbox/dist/basicLightbox.min.css";
/****  end imports  ********************************/

@media all and ( max-width: 899px ) {
    .segment__cta--green:after{
        border-top-width: 2px;
        left: 0;
        width: 30%;
    }
}
@layer base{
    .cms-description .bold-and-underline {
        @apply font-bold;
        @apply underline;
    }
    .cms-description .no-underline-text-cyan{
        @apply no-underline;
        @apply text-ams-cyan;
    }
}
