---
layout: base.njk
pagename: contact
meta_title: "The Contact Page"
permalink: "build/contact.html"
permalinkBypassOutputDir: true
---

<div id="pageHero" class="bg-ams-primary bg-hero--page-detail-xmed xmed:bg-hero--page-detail bg-cover bg-top min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-center pt-28 xmed:pt-0">
</div>
<div class="w-full xmed:grid xmed:justify-items-center xmed:bg-pattern--ams-grey xmed:pt-8 xmed:pb-16 xmed:px-8">
    <div class="w-full xmed:max-w-screen-lg xmed:grid xmed:grid-cols-40-60 xmed:-mt-16 xmed:border-2 xmed:shadow-md">
        <div class="w-full grid justify-items-center -mt-24 xmed:-mt-32 xmed:m-0 p-0 xmed:pt-0 px-8 pb-16 xmed:px-0 xmed:pb-0 bg-pattern--ams-grey xmed:bg-none">
            <article class="w-full grid justify-items-center pt-12 xmed:pt-16">
                <section class="w-full max-w-screen-lg pb-4 px-4 xmed:px-12 shadow-md grid content-start bg-ams-white xmed:shadow-none">
                    <h2 class="title text-2xl xmed:text-5xl py-4 xmed:py-8">
                        Reach out or&nbsp;<br class="hidden xmed:block">come by
                    </h2>
                    <p class="pb-4">
                        <a href="https://goo.gl/maps/UBPsrp6kvzVFc8BC7" target="_blank" class="text-ams-cyan underline">
                            800 Moffett Boulevard.,<br>
                            Mountain View, CA 94043
                        </a>
                    </p>
                    <p class="pb-4">
                        <a href="tel:1-650-880-1000" class="text-ams-cyan underline">650-880-1000</a>
                    </p>
                    <p class="pb-4">
                        <a href="mailto:info@theameswellhotel.com"  class="text-ams-cyan underline">info@theameswellhotel.com</a>
                    </p>
                </section>
            </article>
        </div>
        <div class="w-full grid justify-items-center px-8 xmed:px-0 xmed:-mt-16 bg-ams-base xmed:bg-transparent">
            <article class="w-full m-8 xmed:m-0 pb-8 px-4 xmed:px-8 bg-ams-white shadow-md max-w-screen-lg xmed:shadow-none">
                <h2 class="title text-2xl xmed:text-5xl py-4 xmed:py-8">
                    Contact Form
                </h2>
                <form>
                    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                        FIRST NAME *<br>
                        <input type="text" placeholder="Al" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                    </label>
                    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                        LAST NAME *<br>
                        <input type="text" placeholder="Shepard" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                    </label>
                    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                        PHONE NUMBER *<br>
                        <input type="text" placeholder="718-555-1212" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                    </label>
                    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                        EMAIL ADDRESS *<br>
                        <input type="text" placeholder="ashepard@example.com" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                    </label>
                    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                        MESSAGE<br>
                        <textarea class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary min-h-l bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50"></textarea>
                    </label>
                    <a href="#" class="inline-block py-2 px-8 bg-ams-magenta text-ams-white font-serif">Submit</a>
                </form>
            </article>
        </div>
    </div>
</div>