---
layout: base.njk
pagename: wedding-rfp
meta_title: "The Wedding RFP Page"
permalink: "build/wedding-rfp.html"
permalinkBypassOutputDir: true
---

<div id="pageHero" class="bg-ams-primary bg-hero--weddings-900 xmed:bg-hero--weddings bg-cover bg-top min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-center pt-28 xmed:pt-0">
</div>
<div class="w-full xmed:grid xmed:justify-items-center xmed:bg-pattern--ams-grey xmed:pt-8 xmed:pb-16 xmed:px-8">
    <div class="w-full xmed:max-w-screen-lg xmed:grid xmed:grid-cols-40-60 xmed:-mt-16 xmed:border-2 xmed:shadow-md">
        <div class="w-full grid justify-items-center -mt-16 xmed:m-0 p-0 xmed:pt-0 px-8 pb-16 xmed:px-0 xmed:pb-0 bg-pattern--ams-grey xmed:bg-none">
            <article class="w-full grid justify-items-center pt-4 xmed:pt-0">
                <section class="w-full max-w-screen-lg pb-4 px-4 xmed:px-12 shadow-md grid content-start bg-ams-white xmed:shadow-none">
                    <h2 class="title text-2xl xmed:text-5xl py-4 xmed:py-8">
                        Congratulations!
                    </h2>
                    <h3 class="title text-xl xmed:text-3xl py-4 xmed:py-8">
                        Let’s start planning your wedding
                    </h3>
                </section>
            </article>
        </div>
        <div class="w-full grid justify-items-center px-8 xmed:px-0 bg-ams-base xmed:bg-transparent">
            <article class="w-full m-8 xmed:m-0 pb-8 px-4 xmed:px-8 bg-ams-white shadow-md max-w-screen-lg xmed:shadow-none">
                <form>
                    <h3 class="title xmed:text-xl py-4 xmed:py-8">
                        What are your names?
                    </h3>
                    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                        YOUR NAME *<br>
                        <input type="text" placeholder="Al Shepard" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base  placeholder-ams-primary placeholder-opacity-50">
                    </label>
                    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                        FIANCÉ NAME *<br>
                        <input type="text" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                    </label>
                    <h3 class="title text-lg xmed:text-xl py-4 xmed:py-8">
                        Where would you like to get married?
                    </h3>
                    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs space-y-2">
                        <div class="space-x-2 items-center"><input type="checkbox" class="focus:ring-transparent focus:ring-offset-0 border-2 text-ams-gold"><span>Great Lawn</span></div>
                        <div class="space-x-2 items-center"><input type="checkbox" class="focus:ring-transparent focus:ring-offset-0 border-2 text-ams-gold"><span>Ballroom</span></div>
                    </label>
                    <h3 class="title text-lg xmed:text-xl py-4 xmed:py-8">
                        Please tell us more about your special day.
                    </h3>
                    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                        HOW MANY GUESTS? *<br>
                        <input type="number" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                    </label>
                    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                        EVENT NEEDS<br>
                        <input type="text" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                    </label>
                    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs space-y-2">
                        DO YOUR GUESTS NEED ROOMS?<br>
                        <div class="space-x-2 items-center"><input type="checkbox" class="focus:ring-transparent focus:ring-offset-0 border-2 text-ams-gold"><span>Yes</span></div>
                        <div class="space-x-2 items-center"><input type="checkbox" class="focus:ring-transparent focus:ring-offset-0 border-2 text-ams-gold"><span>No</span></div>
                    </label>
                    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                        WHAT IS YOUR BUDGET?<br>
                        <input type="text" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                    </label>
                    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                        WHAT ELSE?<br>
                        <textarea class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary min-h-l bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50"></textarea>
                    </label>
                    <h3 class="title text-lg xmed:text-xl py-4 xmed:py-8">
                        How can we reach you?
                    </h3>
                    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                        PHONE NUMBER *<br>
                        <input type="text" placeholder="718-555-1212" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                    </label>
                    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                        EMAIL ADDRESS *<br>
                        <input type="text" placeholder="ashepard@example.com" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                    </label>
                    <a href="#" class="inline-block py-2 px-8 bg-ams-magenta text-ams-white font-serif">Submit</a>
                </form>
            </article>
        </div>
    </div>
</div>