---
layout: base.njk
pagename: wedding-rfp
meta_title: The Ameswell Hotel | Wedding Request
meta_description: Plan your dream wedding at the Ameswell Hotel.
canonical_href: https://www.theameswellhotel.com/wedding-rfp.html
permalink: "build/wedding-rfp.html"
permalinkBypassOutputDir: true
---
{% from "buttons.njk" import primaryButton %}
{% from "macros.njk" import scaled_image %}

{% macro form_input( name, label, type="text", placeholder="", required = true, parentClass="", val="", readonly=false) %}
    <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs uppercase {{parentClass}}">
        {{label}}<br>
        <input type="{{type}}" id="{{name}}" name="{{name}}" placeholder="{{ placeholder }}"  {% if val !== "" %} value={{val}} {% endif %}
        class="w-full p-0 bg-ams-label border-0 focus:ring-transparent focus:border-b-2 focus:border-ams-primary focus:border-opacity-30 focus:outline-none 
        placeholder-ams-primary placeholder-opacity-50" aria-required="true" {{ 'required' if (required == true) }} {{ 'readonly' if (readonly == true) }}/>
    </label>
{% endmacro %}

<section id="pageHero" class="bg-ams-primary h-screen w-full grid grid-rows-1 justify-items-center items-center overflow-hidden">
    {{scaled_image(banner_image)}}
</section>

<div class="w-full xmed:grid xmed:justify-items-center xmed:bg-pattern--ams-grey xmed:pt-8 xmed:pb-16 xmed:px-8">
    <div class="w-full xmed:max-w-screen-lg xmed:grid xmed:grid-cols-40-60 xmed:-mt-16 xmed:border-2 xmed:shadow-md">
        <div class="w-full grid justify-items-center -mt-24 xmed:-mt-16 xmed:m-0 p-0 xmed:pt-0 px-6 pb-16 xmed:px-0 xmed:pb-0 bg-pattern--ams-grey xmed:bg-none">
            <article class="w-full grid justify-items-center pt-12 xmed:pt-16">
                <section class="w-full max-w-screen-lg pb-4 px-4 xmed:px-12 shadow-md grid content-start bg-ams-white xmed:shadow-none">
                    <h2 class="title-display text-2xl xmed:text-5xl py-4 xmed:py-8">
                        Congratulations!
                    </h2>
                    <h3 class="title xmed:title-display text-xl xmed:text-3xl py-4 xmed:py-8">
                        Let’s start planning your wedding
                    </h3>
                </section>
            </article>
        </div>
        <div class="w-full grid justify-items-center px-6 xmed:px-0 bg-ams-base xmed:bg-transparent">
            <article class="w-full m-8 xmed:m-0 pb-8 px-4 xmed:px-8 bg-ams-white shadow-md max-w-screen-lg xmed:shadow-none">
                <div id="wedding-rfp-form"></div>
            </article>
        </div>
    </div>
</div>