---
layout: base.njk
pagename: sample
meta_title: "The Sample Page"
permalink: "build/sample.html"
permalinkBypassOutputDir: true
nickname: "Sample Sample"
---
{% from "macros.njk" import cardcard, tester %}
{% from "videos.njk" import lazyvideo %}

<article class="grid-flow-cols grid-cols-2">
    <section class="group m-96" x-data="{ count: 0 }">
        <h1 class="group-hover:text-indigo-500 medium:txtor-upright small:wrmode-vrl">Hallllo There {{ fake_name }} you {{ nickname }}</h1>
        <h2 class="group-hover:text-green-500">YOooooOO</h2>
        <button class="btn-purple active:text-green-200 active:bg-indigo-700" @click="count++">Click MEEEE</button>
        <h3 class="subtitle subtitle-gr" x-show="count % 2 === 0">I just appear sometimes DOOD</h3>
        <h4 x-text="count"></h4>
        {{ tester('yee', 'haw') }}
    </section>
    <section class="container mx-auto px-24 mt-96">
        {{ cardcard('great job', 'SUPER', 'wow such a fantastic', 'https://cdn.images.express.co.uk/img/dynamic/galleries/x701/152480.jpg', 'doing it right', 'https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.express.co.uk%2Fpictures%2Fpics%2F7049%2FMeet-Graham-deformed-Transport-Accident-Commission&psig=AOvVaw3v_CkiD392xa49eRYzros7&ust=1612484819197000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCPCG55z8zu4CFQAAAAAdAAAAABAO') }}
    </section>
    {% include "directory/sample_includes.njk" %}
</article>
<section class="mt-96">
    {{ lazyvideo([{ src: "https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-mp4-file.mp4", type: "video/mp4" }], "images/ameswell_entrance.png") }}
</section>

<section class="container mt-96">
<media-carousel>
    <div class="splide">
        <div class="splide__arrows">
            <button class="bg-rose-500 splide__arrow splide__arrow--prev">
                Prev
            </button>
            <button class="bg-green-400 splide__arrow splide__arrow--next">
                Next
            </button>
        </div>
        <div class="splide__track">
            <ul class="splide__list bg-yellow-500">
                <li class="splide__slide">
                    <img data-splide-lazy="https://burst.shopifycdn.com/photos/spinal-twist-yoga-wheel.jpg" alt="stuff">
                </li>
                <li class="splide__slide">
                    <img data-splide-lazy="https://burst.shopifycdn.com/photos/dusty-rose.jpg" alt="dog">
                </li>
                <li class="splide__slide">
                    <img data-splide-lazy="https://burst.shopifycdn.com/photos/berries-granola.jpg" alt="cat">
                </li>
                <li class="splide__slide" data-splide-html-video="https://vod-progressive.akamaized.net/exp=1614500943~acl=%2A%2F572326122.mp4%2A~hmac=c2df00d8aa95b4c940a49a2af2846ca5420c322c1bd3f1fe7f6c42696434fc5d/vimeo-prod-skyfire-std-us/01/255/7/176277723/572326122.mp4?filename=Beach+-+3998.mp4">
                    <img data-splide-lazy="https://burst.shopifycdn.com/photos/berries-granola.jpg" alt="cat">
                </li>
            </ul>
        </div>
        <div class="splide__numbers text-8xl text-yellow-900">
            <span class="splide__index">0</span> of <span class="splide__length">0</span>
        </div>
    </div>
</media-carousel>
</section>