---
layout: base.njk
pagename: error
permalink: "build/error/index.html"
permalinkBypassOutputDir: true
canonical_href: https://www.theameswellhotel.com/404/
---

<section class="w-full xmed:max-w-screen-lg mt-24 mb-16 min-h-screen">
    <article class="px-8 xmed:px-0">
        {% if pageCMS['page-title'] %}
            <h2 class="title text-3xl pb-8">
                {{pageCMS['page-title'].simple_text}}
            </h2>
        {% endif %}
        {% if pageCMS['page-content'].single_article %}
                <h3 class="title text-2xl">
                    {{ pageCMS['page-content'].single_article.title }}
                </h3>
                <div class="page-content">
                    {{ pageCMS['page-content'].single_article.description | safe }}
                </div>
        {% endif %}
    </article>
</section>