/****  start imports  ********************************/
@import "../../styles/global.css";
/****  end imports  ********************************/

.page-content a {
    text-decoration: underline;
    --tw-text-opacity: 1;
    color: rgba(133, 117, 80, var(--tw-text-opacity));
}