---
layout: base.njk
pagename: error
meta_title: The Ameswell Hotel | Error
meta_description: "404 Error, Page Not Found"
canonical_href: https://www.theameswellhotel.com/404.html
permalink: "build/error.html"
permalinkBypassOutputDir: true
noindex: true
header_not_docked: true
---

<section class="w-full xmed:max-w-screen-lg mt-24 mb-16">
    <article class="px-8 xmed:px-0">
        <h2 class="title text-3xl pb-8">
            404 Error
        </h2>

        <h3 class="title text-2xl">
            Sorry, it looks like the link is broken or the page has been moved.
        </h3>
        <p>
            <a class="text-ams-gold underline" href="#" onclick="window.history.back();">Go back</a> 
            or head to the 
            <a class="text-ams-gold underline" href="index.html">homepage</a>.
        </p>
    </article>
</section>