---
layout: base.njk
pagename: accessibility
permalink: "build/accessibility/index.html"
permalinkBypassOutputDir: true
canonical_href: https://www.theameswellhotel.com/accessibility/
---
{% from "macros.njk" import address_format %}

<section class="w-full xmed:max-w-screen-lg mt-24 mb-16">
    <article class="px-6 xmed:px-0">
        {% if pageCMS['page-title'] %}
            <h2 class="title text-2xl pb-8">
                {{pageCMS['page-title'].simple_text}}
            </h2>
        {% endif %}

        {% if pageCMS['page-content'].single_article_arr.length > 0 %}
            {% for item in pageCMS['page-content'].single_article_arr %}
                <h3 class="title text-1xl pb-2">
                    {{item.title}}
                </h3>
                <div class="pb-4 cms-description">
                    {{item.description | safe}}
                </div>
            {% endfor %}
        {% endif %}

        {% if pageCMS['address'].single_article %}
            <div class="pb-4 ams-address">
                {{pageCMS['address'].single_article.description | safe}}
            </div>
        {% endif %}
    </article>
</section>