---
layout: base.njk
pagename: accessibility
permalink: "build/accessibility/index.html"
permalinkBypassOutputDir: true
---
{% from "macros.njk" import address_format %}

<section class="w-full xmed:max-w-screen-lg mt-24 mb-16">
    <article class="px-6 xmed:px-0">
        {% if pageCMS['contents'] and pageCMS['contents'].simple_article %}
            {% for item in pageCMS['contents'].simple_article %}
                {% if item.title %}
                    <h2 class="title text-2xl pb-8">
                        {{item.title}}
                    </h2>
                {% endif %}
                <h3 class="title text-1xl pb-2">
                    {{item.sub_title}}
                </h3>
                <div class="pb-4 cms-description">
                    {{item.description | safe}}
                </div>
            {% endfor %}
        {% endif %}
        {% if pageCMS['address'] and pageCMS['address'].address %}
        {% set item = pageCMS['address'].address %}
        {% set phone = pageCMS['address'].address.phone.simple_action %}
        {% set email = pageCMS['address'].address.email.simple_action %}
        {% set location = pageCMS['address'].address.location %}
        {{item.label}}<br>
        <a href="{{phone.href}}" class="text-ams-cyan">{{phone.copy}}</a><br>
        <a href="{{email.href}}" target="_blank" class="text-ams-cyan">{{email.copy}}</a><br>
        <a href="{{location.href}}" target="_blank" rel="noreferrer" class="text-ams-gold underline">{{ address_format(location.street_address, location.city, location.state, location.zip) }}</a>
    {% endif %}
    </article>
</section>