---
layout: base.njk
pagename: grid
meta_title: "The Grid Page"
permalink: "build/grid.html"
permalinkBypassOutputDir: true
nickname: "You Thing"
---
{% from "macros.njk" import section_maker %}

<div class="bg-purple-300">
{% for section in sections %}
    {{ section_maker(section) }}
{% endfor %}
</div>