---
layout: base.njk
pagename: dining
meta_title: Restaurants Mountain View | Roger | The Ameswell Hotel
meta_description: "The Ameswell Hotel offers three unique dining outlets: Roger, an indoor/outdoor bar and restaurant, The Flyby, an all-day café, and the Airstream for snacks and craft cocktails relaxing by the pool or fire pits."
canonical_href: https://www.theameswellhotel.com/dining.html
permalink: "build/dining.html"
permalinkBypassOutputDir: true
fabUrl: https://reservations.travelclick.com/111994
fabExternalLink: true
---
{% from "icons.njk" import svgicon %}
{% from "macros.njk" import scaled_image %}
{% from "svgicon.njk" import svg_icon %}

<div id="pageHero" class="bg-ams-primary bg-hero--dining-xmed xmed:bg-hero--dining bg-cover bg-top min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-center pt-28 xmed:pt-0">
</div>
<div class="w-full grid justify-items-center -mt-24 xmed:-mt-32 pt-8 xmed:pt-16 px-8 pb-16 bg-pattern--ams-green">
    <article class="w-full grid justify-items-center pt-4 pb-4">
        <section class="w-full grid justify-items-center max-w-screen-lg">
            <div class="pb-4 px-4 shadow-md xmed:-mt-10 xmed:p-8 bg-ams-white">
                <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:text-center">
                    Destination Dining 
                </h2>
                <div class="xmed:text-center">
                    Roger, the Flyby, and the Airstream provide options for every meal and in between craving, and every dietary desire—you can eat and drink with us all day, every day, and still want more. Enjoy on your own, or with friends and colleagues.
                </div>
                <div class="grid grid-cols-3 gap-y-8 justify-items-center pt-8 xmed:mx-16">
                    {{svg_icon("drink", 'Drink up', fill="#00a651")}}
                    {{svg_icon("containers", 'Dine In', fill="#00a651")}}
                    {{svg_icon("bag", 'Take out', fill="#00a651")}}
                </div>                
            </div>
        </section>
    </article>
</div>
<div class="grid justify-items-center w-full bg-ams-base" id="roger">
    <article class="mb-4 xmed:mt-8">
        <section class="max-w-screen-lg xmed:grid xmed:grid-cols-60-40 gap-4 xmed:p-4 xmed:pb-8 xmed:bg-ams-white xmed:shadow-md">
            <figure class="xmed:order-2 grid items-center justify-items-center pt-4 xmed:pt-0">
                {{ scaled_image(roger_image) }}
            </figure>
            <div class="mt-8 mx-4 p-4 xmed:p-0 shadow-md xmed:shadow-none bg-ams-white xmed:order-1">
                <h2 class="title-display text-3xl">
                    Roger
                </h2>
                <h3 class="title-display text-lg uppercase">
                    BAR &amp; RESTAURANT
                </h3>
                <p>
                    At Roger, we're taking an adventurous and innovative approach to California cuisine. We've redefined dining to make it all about you. Experience our playful and sustainable California cuisine on-demand - how you want it, when you want it.
                </p>
                <br>
                <p>Enjoy our finely crafted menu indoors or out, alone or with friends, have a quick bite or shut down the bar; there's no wrong way to Roger.</p>
                <br>
                <div class="xmed:text-left text-center">
                    <a class="inline-block py-2 px-8 bg-ams-gold text-ams-white font-serif tracking-wide button--primary button focus:outline-none" href="https://www.opentable.com/restref/client/?restref=1123459&lang=en-US&ot_source=Restaurant%20website&corrid=31c0fe57-c6b6-4b3c-88b9-3651f6459b60" target="_blank">Book a Table</a>
                </div>
            </div>
        </section>
    </article>
</div>
<div class="grid justify-items-center w-full bg-ams-base" id="the_flyby">
    <article class="mb-4 xmed:mt-8">
        <section class="max-w-screen-lg xmed:grid xmed:grid-cols-60-40 gap-4 xmed:p-4 xmed:pb-8 xmed:bg-ams-white xmed:shadow-md">
            <figure class="xmed:order-2 items-center grid justify-items-center pt-4 xmed:pt-0">
                {{ scaled_image(flyby_image) }}
            </figure>
            <div class="mt-8 mx-4 p-4 xmed:p-0 shadow-md xmed:shadow-none bg-ams-white xmed:order-1">
                <h2 class="title-display text-3xl">
                    The Flyby
                </h2>
                <h3 class="title-display text-lg uppercase">
                    QUICK &amp; CASUAL CAFÉ
                </h3>
                <p>
                    Flyby is Roger's out-of-the-box little brother. With a coffee bar, made-to-order breakfast and lunch, and a quirky list of homegrown snacks and beverages, the options are endless. Grab a bite for the patio or settle in at a table to finish those slides before your evening adventures. Go ahead, order a local brew with that breakfast sammy - no judgement here.
                </p>
            </div>
        </section>
    </article>
</div>
<div class="grid justify-items-center w-full bg-ams-base" id="airstream_bar">
    <article class="mb-8 xmed:mt-8">
        <section class="max-w-screen-lg xmed:grid xmed:grid-cols-60-40 gap-4 xmed:p-4 xmed:pb-8 xmed:bg-ams-white xmed:shadow-md">
            <figure class="xmed:order-2 grid items-center justify-items-center pt-4 xmed:pt-0">
                {{ scaled_image(airstream_image) }}
            </figure>
            <div class="mt-8 mx-4 p-4 xmed:p-0 shadow-md xmed:shadow-none bg-ams-white xmed:order-1">
                <h2 class="title-display text-3xl">
                    Airstream Bar
                </h2>
                <h3 class="title-display text-lg uppercase">
                    OUTDOOR BAR &amp; SNACKS
                </h3>
                <p>
                    Whether you want a signature cocktail on tap or a cold PBR, the Airstream bar is your spot. Order a snack poolside, in our beer garden, or while you crush your friends in cornhole on our lawn. Our bar bites - bo bells and whistles, just comfort food - are perfect for sharing around our outdoor fire pits. Cheers.
                </p>
            </div>
        </section>
    </article>
</div>