---
layout: base.njk
pagename: dining
permalink: "build/dining/index.html"
permalinkBypassOutputDir: true
---
{% from "icons.njk" import svgicon %}
{% from "macros.njk" import scaled_image %}
{% from "svgicon.njk" import svg_icon %}
{% from "global-image.njk" import global_image %}

{% if pageCMS['top-banner'] and pageCMS['top-banner'].simple_article %}
    {% for item in pageCMS['top-banner'].simple_article %}
        <section id="pageHero" class="bg-ams-primary min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-center overflow-hidden">
            {% for img in item.image %}
                {{ global_image(img.global_image, imgClass = "min-h-screen min-w-full max-w-none") }}
            {% endfor %}
        </section>
    {% endfor %}
{% endif %}
{% if pageCMS['icons'] and pageCMS['icons']
    .icon_list and pageCMS['icons']
    .icon_list
    .icons %}
    {% set item = pageCMS['icons'].icon_list%}
    <div class="w-full grid justify-items-center -mt-24 xmed:-mt-32 pt-8 xmed:pt-16 px-6 pb-12 bg-pattern--ams-green">
        <article class="w-full grid justify-items-center">
            <section class="w-full grid justify-items-center max-w-screen-lg">
                <div class="pb-4 px-4 shadow-md xmed:-mt-10 xmed:p-8 bg-ams-white">
                    <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:text-center">
                        {{item.title}}
                    </h2>
                    <div class="xmed:text-center">
                        {{item.description}}
                    </div>
                    <div class="grid grid-cols-3 gap-y-8 justify-items-center pt-8 xmed:mx-16">
                        {% for data in item.icons %}
                            <div class="grid xmed:grid-cols-1 xmed:justify-items-center content-start mb-2 xmed:text-center justify-items-center small:title-display small:text-3xl">
                                {{data.icon | safe}}
                                <a href="{{data.url}}">
                                    <span class="border-b border-ams-primary">{{data.title}}</span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </article>
    </div>
{% endif %}
{% if pageCMS['dining-items'] and pageCMS['dining-items'].simple_article %}
    {% for item in pageCMS['dining-items'].simple_article %}
        <div class="grid justify-items-center w-full bg-ams-base" id="roger">
            <article class="mb-4 xmed:mt-8">
                <section class="max-w-screen-xl xmed:grid xmed:grid-cols-60-40 gap-4 xmed:p-4 xmed:pb-8 xmed:bg-ams-white xmed:shadow-md">
                    <figure class="xmed:order-2 grid items-center justify-items-center">
                        {% for img in item.image %}
                            {{ global_image(img.global_image, classes = "w-full") }}
                        {% endfor %}
                    </figure>
                    <div class="m-6 p-4 xmed:p-0 shadow-md xmed:shadow-none bg-ams-white xmed:order-1">
                        <h2 class="title-display text-3xl">
                            {{item.title}}
                        </h2>
                        <h3 class="title-display text-lg uppercase">
                            {{item.sub_title}}
                        </h3>
                        <div>
                            {{item.description | safe}}
                        </div>
                        <br>
                        <div class="xmed:text-left text-center">
                            {% for cta in item.links %}
                                {% set link = cta.action%}
                                <a class="inline-block py-2 px-4 bg-ams-gold text-ams-white font-serif tracking-wide button--primary button focus:outline-none xmed:px-8 {{ 'xmed:ml-4' if not loop.first }}" href="{{link.url}}" target="_blank">{{link.copy}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </article>
        </div>
    {% endfor %}
{% endif %}