---
layout: base.njk
pagename: gallery
meta_title: "theameswellhotel | Gallery"
meta_description: "Gallery"
permalink: "build/gallery.html"
permalinkBypassOutputDir: true
fabUrl: https://reservations.travelclick.com/111994
fabExternalLink: true
---
{% from "macros.njk" import scaled_image %}

{% macro renderGalleryItems(items) %}
    {% for item in items %}
        {% set image = gallery_images[item] %}
        {% set defaultHref = image.artDirection | first %}
        <div href="{{defaultHref.src}}.jpg" class="cursor-pointer pb-6 xmed:pb-8" >
            {{ scaled_image(image) }}
        </div>
    {% endfor %}
{% endmacro %}

<div id="pageHero" class="bg-ams-taupe w-full justify-items-center pt-20 overflow-hidden"></div>

<section class="segment-outer bg-ams-taupe pb-2 px-7 xmed:px-14">
    {% set items = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19 ] %}
    {% set oddItems = items | select("odd") %}
    {% set evenItems = items | select("even") %}
    <article class="segment-inner grid grid-cols-1 xmed:grid-cols-2 gap-8">
        <figure class="xmed:hidden">
            {{renderGalleryItems(items)}}
        </figure>
        <figure class="hidden xmed:block">
            {{renderGalleryItems(evenItems)}}
        </figure>
        <figure class="hidden xmed:block">
            {{renderGalleryItems(oddItems)}}            
        </figure>
    </article>
</section>