---
layout: base.njk
pagename: events
meta_title: The Ameswell Hotel | Events
meta_description: "Located on 11 scenic acres in Mountain View with over 15,000 sq. ft. of indoor and outdoor event space, The Ameswell Hotel offers endless opportunities to create memorable meetings and events."
canonical_href: https://www.theameswellhotel.com/events.html
permalink: "build/events.html"
permalinkBypassOutputDir: true
fabUrl: "rfp.html"
fabBg: "857550"
fabCopy:
    - Plan
    - Event
---
{% from "icons.njk" import svgicon %}
{% from "videos.njk" import lazyvideo %}
{% from "media-carousel.njk" import media_carousel %}
{% from "svgicon.njk" import svg_icon %}

<div id="pageHero" class="bg-ams-primary bg-hero--events-xmed xmed:bg-hero--events bg-cover bg-top min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-center pt-28 xmed:pt-0">
</div>
<div class="w-full grid justify-items-center -mt-24 xmed:-mt-32 pt-8 xmed:pt-16 px-8 pb-16 xmed:pb-36 bg-pattern--ams-grey">
    <article class="w-full grid justify-items-center pt-4 pb-4">
        <section class="w-full grid justify-items-center max-w-screen-lg">
            <div class="pb-4 px-4 xmed:shadow-md xmed:-mt-10 xmed:p-8 bg-ams-white">
                <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:text-center">
                    Not your typical meeting
                </h2>
                <div class="xmed:text-center">
                    Whether you are planning a corporate meeting, fundraising dinner, or celebratory event, The Ameswell Hotel offers a variety of unique indoor and outdoor venues to help you bring your vision to life in the heart of Silicon Valley.
                </div>
                <ul class="grid grid-cols-3 justify-items-center pt-8">
                    {{svg_icon("dining",  'Corporate' , fill="#857550")}}
                    {{svg_icon("tent",  'Wedding' , stroke="#857550")}}
                    {{svg_icon("group",  'Group' , stroke="#857550", height="32", pclass="pt-4")}}                    
                </ul>
            </div>
        </section>
    </article>
</div>
<div class="grid auto-cols-fr justify-items-center w-full bg-ams-base pt-8">
    <article class="mb-8 w-full max-w-screen-lg overflow-hidden">
        <section>
            {{ lazyvideo([{ src: "videos/event-spaces.mp4", type: "video/mp4"}], "images/event-spaces-bg.jpg", "lazy") }}
            <figcaption class="max-w-xl pt-6 pb-4 px-4 m-auto text-center text-ams-primary">
                Located on 11 scenic acres in Mountain View with over 15,000 square feet of indoor and outdoor event space, we offer planners endless opportunities to create memorable meeting experiences at the newest and cleanest hotel in Silicon Valley.
            </figcaption>
        </section>
    </article>
</div>
<div class="grid justify-items-center w-full bg-ams-base">
    <article class="w-full grid justify-items-center mb-8 px-4">
        <section class="w-full grid max-w-screen-lg pb-4 px-4 xmed:mt-8 xmed:p-10 bg-ams-white xmed:shadow-md">
            <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:pb-8 xmed:text-center">
                Select event capabilities
            </h2>
            <ul class="xmed:grid xmed:grid-cols-4 xmed:gap-4">
                    {{svg_icon("group",  'Intimate or large gatherings', stroke="#857550", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}   
                    {{svg_icon("filter",  'Medical Grade Air Filtration' ,stroke="#857550", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}   
                    {{svg_icon("containers",  'Catering' , fill="#857550", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}   
                    {{svg_icon("resort",  'Resort Style Amenities' , fill="#857550", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                    {{svg_icon("tent",  'Indoor and Outdoor Venues' , stroke="#857550", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                    {{svg_icon("percent",  'Groups' , fill="#857550", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                    {{svg_icon("list",  'Event Planner' , fill="#857550", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                    {{svg_icon("wifi",  'Ultra High Speed Wifi' , fill="#857550", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
            </ul>
        </section>
    </article>
</div>
<div class="grid auto-cols-fr justify-items-center w-full bg-ams-base">
    <article class="mb-8 w-full max-w-screen-lg overflow-hidden">
        <section>
            {{ media_carousel(eventslides, "bg-ams-white xmed:bg-ams-base", "Our Infinity Ballroom has floor-to-ceiling windows to create a generous space filled with natural light, easily accommodating groups up to 490. For smaller meetings, the Boardroom, Breakout Room, Library and Art Gallery offer a variety of opportunities for creative gatherings or breakout sessions. The expansive Event Lawn offers a unique open air venue where the sky really is the limit on what you and our team can create.") }}
        </section>
    </article>
</div>

