---
layout: base.njk
pagename: events
meta_title: Silicon Valley Event Venue | The Ameswell Hotel | Mountain View
meta_description: "Located on 11 scenic acres in Mountain View with over 15,000 sq. ft. of indoor and outdoor event space, The Ameswell Hotel offers endless opportunities to create memorable meetings and events."
canonical_href: https://www.theameswellhotel.com/events.html
permalink: "build/events.html"
permalinkBypassOutputDir: true
fabUrl: "rfp.html"
fabBg: "857550"
fabCopy:
    - Plan
    - Event
---
{% from "icons.njk" import svgicon %}
{% from "videos.njk" import lazyvideo %}
{% from "media-carousel.njk" import  media_carousel %}
{% from "svgicon.njk" import svg_icon %}
{% from "macros.njk" import scaled_image %}

<section id="pageHero" class="bg-ams-primary h-screen w-full grid grid-rows-1 justify-items-center items-center overflow-hidden">
    {{scaled_image(banner_image)}}
</section>

<div class="w-full grid justify-items-center -mt-24 xmed:-mt-32 pt-8 xmed:pt-16 px-6 pb-12 xmed:pb-36 bg-pattern--ams-grey">
    <article class="w-full grid justify-items-center">
        <section class="w-full grid justify-items-center max-w-screen-lg">
            <div class="pb-4 px-4 xmed:shadow-md xmed:-mt-10 xmed:p-8 bg-ams-white">
                <h2 class="title-display text-3xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:text-center">
                    The sky is the limit
                </h2>
                <div class="text-base xmed:text-lg xmed:text-center">
                    Whether you are planning a corporate meeting, fundraising dinner or celebratory event, the Ameswell Hotel offers a variety of unique indoor and outdoor venues to help you bring your vision to life in the heart of Silicon Valley.
                </div>
                <ul class="grid grid-cols-3 text-ams-primary title-display text-2xl xmed:text-3xl font-medium gap-y-8 justify-items-center text-center pt-8 xmed:mx-16">
                    <li class="xmed:border-b xmed:border-ams-primary"><a href="wedding-rfp.html">Weddings</a></li>                 
                    <li class="xmed:border-b xmed:border-ams-primary"><a href="rfp.html">Social Events</a></li>                 
                    <li class="xmed:border-b xmed:border-ams-primary"><a href="rfp.html">Meetings</a></li>                 
                </ul>
            </div>
        </section>
    </article>
</div>

<div class="grid justify-items-center w-full bg-ams-grey">
    <article class="max-w-screen-xl w-full grid justify-items-center p-6">
        <section class="w-full grid pb-4 px-4 xmed:my-8 xmed:p-8 bg-ams-white xmed:shadow-md">
            <h2 class="title-display text-2xl xmed:text-4xl pt-4 xmed:pt-0 pb-4 xmed:pb-8 xmed:text-center">
                Resort amenities in a spacious and convenient location
            </h2>
            <ul class="xmed:grid xmed:grid-cols-4 xmed:gap-4 text-ams-primary">
                    <li class="grid xmed:grid-cols-1 xmed:justify-items-center content-start mb-2 xmed:text-center grid-cols-sm-auto gap-4 xmed:px-8 items-center">
                        <img src="/images/sunglass_icon.svg" width="48" height="48" />
                        <a>
                            <span>Full resort amenities<span>
                        </a>
                    </li>
                    <li class="grid xmed:grid-cols-1 xmed:justify-items-center content-start mb-2 xmed:text-center grid-cols-sm-auto gap-4 xmed:px-8 items-center">
                        <img src="/images/sustainable_icon.svg" width="48" height="48"/>
                        <a>
                            <span>Sustainable outdoor spaces<span>
                        </a>
                    </li>
                    <li>{{svg_icon("venues",  'Indoor / outdoor venues' , fill="#213E4C", width="48", height="48", pclass="grid-cols-sm-auto gap-4 xmed:px-8 items-center")}}</li>
                    <li class="events__svgicon">{{svg_icon("list",  'Dedicated event planner' , fill="#213E4C", pclass="events__svgicon grid-cols-sm-auto gap-4 xmed:px-8 items-center")}}</li>
                    <li class="events__svgicon">{{svg_icon("containers",  'Creative event catering' , fill="#213E4C", pclass="events__svgicon grid-cols-sm-auto gap-4 xmed:px-8 items-center")}}</li>
                    <li class="events__svgicon">{{svg_icon("sdrinks",  'Custom signature drinks' , fill="#213E4C", pclass="events__svgicon grid-cols-sm-auto gap-4 xmed:px-8 items-center")}}</li>
                    <li class="events__svgicon">{{svg_icon("mic",  'Onsite audio visual' , width="48", height="48", fill="#213E4C", pclass="events__svgicon grid-cols-sm-auto gap-4 xmed:px-8 items-center")}}</li>
                    <li class="events__svgicon">{{svg_icon("wifi",  'Ultra fast wifi' , fill="#213E4C", pclass="events__svgicon grid-cols-sm-auto gap-4 xmed:px-8 items-center")}}</li>                
            </ul>
            <div class="text-center xmed:hidden mt-4 xmed:mt-0">
                <a class="show-all__amenities inline-block py-3 px-12 bg-ams-gold text-ams-white font-serif text-lg tracking-wide button--primary button focus:outline-none xmed:px-8">Show All</a>
            </div>
        </section>
    </article>
</div>
{% for item in event_items %}
    <section class="event grid justify-items-center w-full bg-ams-base
    {% if loop.last %}
        pb-10 xmed:pb-14
    {% endif %}}
    ">
        <article class="max-w-screen-xl mx-auto">
            <section class="grid xmed:event__grid-cols items-center gap-x-8
                {% if loop.first %}
                    pt-0 xmed:pt-10
                {% else %}
                    pt-10    
                {% endif %}">
                <figure class="event__image xmed:px-4">
                     {{ scaled_image(item.image) }}
                </figure>
                <figcaption class="event__description mt-8 xmed:mt-0 px-6">
                    <h2 class="title-display pb-4 text-3xl xmed:text-4xl">
                        {{item.title}}
                    </h2>
                    <p>
                        {{item.p}}
                    </p>
                </figcaption>
            </section>
        </article>
    </section>
{% endfor %}
<section class="grid w-full mb-10 xmed:mb-0 p-6 xmed:py-11 bg-ams-gold">
    <section class="max-w-screen-xl mx-auto w-full">
       <article class="text-center pt-12 xmed:pt-9 pb-6 xmed:pb-10 xmed:mx-4 bg-ams-white shadow-md">
            <h2 class="px-12 pb-5 xmed:pb-8 font-serif text-2xl xmed:text-4xl text-ams-taupe">Start planning your event now</h2>
            <div class="text-center">
                <a class="inline-block py-3 px-12 bg-ams-gold text-ams-white font-serif text-xl xmed:text-lg tracking-wide button--primary button focus:outline-none xmed:px-8" href="rfp.html">Click Here</a>
            </div>
       </article>
    </section>
</section>
