{% from "macros.njk" import fab, address_format %}
{% from "skipper-footer.njk" import skipper_footer %}
{% set footer_cms = globalCMS['footer'].footer %}
<footer class="grid xmed:justify-items-center bg-ams-primary xmed:bg-ams-primary w-full px-2">
    <div class="xmed:grid xmed:grid-areas-footer xmed:grid-cols-footer xmed:grid-rows-footer xmed:items-stretch xmed:gap-x-8 px-4 xmed:px-0 pb-8 xmed:pb-16 max-w-screen-lg">
        {% if footer_cms.svg_icon %}
        {% set svg_icons = footer_cms.svg_icon %}
            <a href="{{ svg_icons.link }}" class="grid justify-items-start pt-8 xmed:pt-14 xmed:px-4 grid-in-logo">
                {% for items in svg_icons.icons %}
                    {{ items.icon | safe }}
                {% endfor %}            
            </a>
        {% endif %}
        
        <nav class="pt-4 xmed:pt-10 xmed:pb-4 xmed:px-4 text-ams-white grid-in-hotel">
            <ul class="grid grid-cols-footer-mobile xmed:grid-cols-40-60 gap-x-6 xmed:gap-x-10 xmed:pt-4">
                {% set menuItems = footer_cms.menus %}
                {% for item in menuItems %}
                    {% set trg = '_blank' if not item.internal else '_self' %}
                    <li class="py-2 {% if item.pclasses %}  {{item.pclasses}}  {% endif %} ">
                        <a  {% if item.rel %} rel="{{item.rel}}" {% endif %}
                            target="{{trg}}" 
                            href="{{item.href}}" class="text-ams-white">
                            {{item.text}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <nav class="pt-8 xmed:pt-10 xmed:pb-4 xmed:px-4 text-ams-white grid-in-contact">
            {% set address_value = footer_cms.address.address %}
            {% if address_value.label %}
                <div class="page-footer__toggle-button block font-bold">
                    {{ address_value.label | safe }}
                </div>
            {% endif %}
            
            <address class="page-footer__menu xmed:grid xmed:pt-4 xmed:pb-8 not-italic">
                {% if address_value.location %}
                    {% set location = address_value.location %}
                    {% set trg = '_blank' if not location.internal else '_self' %}
                    <p class="py-2">
                        <a href="{{location.href}}" target="{{trg}}" rel="{{location.rel}}" class="text-ams-white">
                            {{ address_format(location.street_address, location.city, location.state, location.zip) }}
                        </a>
                    </p>
                {% endif %}

                {% if address_value.email %}
                    {% set email = address_value.email.simple_action %}
                    {% set trg = '_blank' if not email.internal else '_self' %}
                    <p class="py-2">
                        <a href="mailto:{{email.href}}" rel="{{email.rel}}" target="{{trg}}" class="text-ams-white">{{email.copy}}</a>
                    </p>
                {% endif %}

                {% if address_value.phone %}
                    {% set phone = address_value.phone.simple_action %}
                    {% set trg = '_blank' if not email.internal else '_self' %}
                    <p class="py-2">
                        <a href="tel:{{phone.href}}" class="text-ams-white">{{phone.copy}}</a>
                    </p>
                {% endif %}

                {% if footer_cms.social_icons %}
                    <div class="flex space-x-4 -ml-2">
                        {% for item in footer_cms.social_icons %}
                            {% set trg = '_blank' if not item.internal else '_self' %}
                            <a href="{{ item.href}}" class="p-2" target="{{trg}}">{{item.icon | safe }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </address>
        </nav>
    </div>
</footer>
{{ skipper_footer("text-ams-primary uppercase", "bg-ams-white pb-28 small:pb-4 xmed:pb-4") }}
{{ fab(fabUrl, fabBg, fabCopy, fabExternalLink) }}