<header class="{{ "" if header_not_docked else "page-header--docked" }} page-header--splayed page-header w-full fixed z-40 grid justify-items-center text-ams-white bg-ams-primary" id="pageHeader">
    {% set header = globalCMS['header'].header %}
    <section class="page-header__section grid grid-cols-2 px-6 pt-4 pb-2 xmed:pb-4 xmed:px-4 w-full max-w-screen-xl">
        {% if header.header_svg and  header.header_svg_link %}
            <a href="{{ header.header_svg_link }}" class="page-header__logo relative z-50 justify-self-start">
                {% if header.header_svg %}
                    <span class="fill-current text-ams-white w-56 xmed:w-80">{{ header.header_svg | safe }}</span>
                {% endif %}
            </a>
        {% endif %}
       
        <nav class="page-header__nav grid grid-cols-auto-sm justify-items-end">
            {# weather widget #}
            <weather-widget class="page-header__weather hidden small:-mt-0.313 small:block pr-8 xmed:pr-24 z-50 xmed:-mt-0"></weather-widget>
            <input type="checkbox" id="menu-toggle" class="page-header__toggle hidden">
            <label for="menu-toggle" class="page-header__toggle-button relative z-50 -top-0.5 xmed:top-0 border-t border-ams-white w-6 mt-0.8 xmed:mt-2 block cursor-pointer -indent-xl">Menu</label>
            <div class="page-header__menu-container absolute z-40 top-0 left-0 xmed:grid xmed:justify-items-center w-full overflow-hidden xmed:overflow-visible bg-ams-primary">
                {% if header.header_menus %}
                    <ul class="page-header__menu grid gap-8 items-stretch xmed:grid-flow-col xmed:justify-between xmed:justify-items-center w-full max-w-screen-lg h-0 xmed:h-auto px-16 xmed:px-4 py-0">
                        {% for item in header.header_menus %}
                            <li>
                                <a href="{{item.href}}" class="text-ams-white text-2xl font-serif-display">{{ item.copy }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
                <div class="bg-pattern--ams-grey w-full h-20 hidden xmed:block pl-2 xmed:pl-3"></div>
                <div class="bg-pattern--ams-grey w-full h-20 hidden xmed:block absolute left-0 -bottom-20 z-40 "></div>
            </div>
        </nav>
    </section>
</header>