{% macro primaryButton(src='#', copy='', className='inline-block py-2 px-8 bg-ams-gold text-ams-white font- tracking-wide') %}
    <a  href="{{ src }}" class="{{ className }} button--primary button">
        {{ copy }}
    </a>
{% endmacro %}