{% from "svgicon.njk" import svg_icon %}
{% from "global-image.njk" import global_image %}
{% from "macros.njk" import cms_description %}
{% macro scaled_image(artDirection) %}
    {% for direction in artDirection %}
        <source 
            data-src="{{ direction.src }}.webp"
            data-srcset="{{ direction | imgObjSrcSet('webp') }}"
            media="{{ direction.media }}"
            sizes="{{ direction.sizes if direction.sizes else '75vw' }}"
            type="image/webp">
        <source 
            data-src="{{ direction.src }}.{{ direction.type if direction.type else 'jpg' }}"
            data-srcset="{{ direction | imgObjSrcSet }}" 
            media="{{ direction.media }}"
            sizes="{{ direction.sizes if direction.sizes else '75vw' }}"
            type="image/{{ direction.type | getImgSourceType }}">
    {% endfor %}
    {% set default = artDirection | first %}
    <img 
            data-srcset="{{ default | imgObjSrcSet }}"
            data-src="{{ default.src }}.{{ default.type if default.type else 'jpg' }}" 
            class="swiper-lazy w-full h-full object-cover"
            sizes="{{ default.sizes if default.sizes else '75vw' }}" 
            alt="{{ default.imgalt }}">
{% endmacro %}
{% macro component_carousel(content) %}
    <figure class="{{ background_color if background_color }}">
        <media-carousel>
            <div class="swiper-container w-full h-full relative overflow-hidden">

                <nav class="com-car-nav">
                    <div class="pl-2 pr-2 xmed:pt-3 xmed:pl-4 xmed:bg-ams-white xmed:shadow-md">
                        <button class="carousel-button-prev inline-block w-4 h-4 transform rotate-45 justify-self-end border-b-2 border-l-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                            previous
                        </button>
                    </div>
                    <div class="px-2 xmed:px-3 xmed:pt-3 xmed:pb-1 xmed:bg-ams-white xmed:shadow-md">
                        <button class="carousel-button-next inline-block w-4 h-4 transform rotate-45 justify-self-start border-t-2 border-r-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                            next
                        </button>
                    </div>
                </nav>

                <div class="swiper-wrapper z-10">
                    {% for slide in content %}
                        <div class="swiper-slide">
                            <div class="grid grid-cols-1 xmed:grid-cols-2 xmed:mx-24 ">
                                {{global_image(image = slide.image.global_image, classes= 'flex', imgClass = 'swiper-lazy w-full h-auto swiper-lazy-loaded')}}
                                <div class="mx-8 mt-8 mb-0">
                                    <h2 class="title-display text-2xl pt-4 xmed:pt-0 pb-4 text-center">
                                        {{slide.title}}
                                    </h2>
                                    <div class="xmed:text-center text-base xmed:text-lg mt-4 h-48 overflow-hidden cms-description">
                                        {{slide.description | safe}}
                                    </div>
                                    <div class="pt-4 pb-4 text-center">
                                        {% for act in slide.actions %}
                                            {% set cta = act.action %}
                                            {% if cta.type == 'view-offer' %}
                                                <a href="{{cta.url}}" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display text-xs xmed:text-lg uppercase">
                                                    <span class="{{ 'hidden xmed:inline-block' if not cta.mobile_copy == '' }}">{{cta.copy | safe}}</span>
                                                    {% if cta.mobile_copy %}
                                                        <span class="xmed:hidden">{{cta.mobile_copy | safe}}</span>
                                                    {% endif %}
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </media-carousel>
    </figure>
{% endmacro %}

{% macro rooms_carousel(content) %}
    <media-carousel>
        <div class="swiper-container w-full h-full relative overflow-hidden">
            <nav class="room-car-nav px-4">
                <div class="pl-2 pr-2 xmed:pt-3 xmed:pl-4 xmed:bg-ams-white xmed:shadow-md">
                    <button class="carousel-button-prev inline-block w-4 h-4 transform rotate-45 justify-self-end border-b-2 border-l-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                            previous
                    </button>
                </div>
                <div class="px-2 xmed:px-3 xmed:pt-3 xmed:pb-1 xmed:bg-ams-white xmed:shadow-md">
                    <button class="carousel-button-next inline-block w-4 h-4 transform rotate-45 justify-self-start border-t-2 border-r-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                        next
                    </button>
                </div>
            </nav>

            <div class="swiper-wrapper z-10">
                {% for slide in content %}
                    <div class="swiper-slide">
                        <div class="grid grid-cols-1 xmed:mx-4 xmed:mt-12">
                            <picture class="h-72 xmed:h-96">
                                {{scaled_image(slide.artDirection)}}
                                <div class="swiper-lazy-preloader"></div>
                            </picture>
                            <div class="xmed:my-8">
                                <h2 class="w-full px-5 title-display mt-12 xmed:mt-0 text-2xl xmed:text-4xl text-center xmed:text-left">
                                    {{slide.title}}
                                </h2>
                                <div class="grid grid-cols-1 xmed:grid-cols-2 justify-items-center xmed:justify-items-start">
                                    <ul class="grid grid-flow-col auto-cols-max">
                                        <li class="rooms-gallery--icon-sqft grid justify-items-center content-start text-center w-28">
                                            {{svg_icon("size",width="48", height="48", fill="#213E4C", sclass="icon inline-block")}}
                                            <span class="text-ams-primary">{{slide.icons.sqft}} ft<sup>2</sup>
                                            </span>
                                        </li>
                                        <li class="rooms-gallery--icon-sleeps grid justify-items-center content-start text-center w-28">
                                            {# {{svg_icon("bed",width="48", height="48", fill="#ec008c", sclass="icon inline-block")}}
                                            <span>Sleeps {{slide.icons.capacity}} </span> #}
                                            {{svg_icon("bed", "Sleeps " + slide.icons.capacity, width="48", height="48", fill="#213E4C", sclass="icon inline-block mt-2", textColor="true")}}
                                        </li>
                                    </ul>
                                    <div class="mt-10 xmed:mt-0 justify-self-center xmed:justify-self-end">
                                        <a href="https://reservations.theameswellhotel.com/111994?_ga=2.47358439.1701343345.1627359188-567585118.1626186950" class="block py-2 px-8 bg-ams-gold text-ams-white font-serif tracking-wide button--primary button" target="_blank">Book a Room</a>
                                        <div class="hidden xmed:block mt-6 text-xs text-center">
                                            <a href="room-detail.html" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase">VIEW DETAILS</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </media-carousel>
{% endmacro %}
{% macro homepage_offers_carousel(content, isRoomDetail = false) %}
    <media-carousel>
        <div class="swiper-container w-full h-full relative overflow-hidden">
            <nav class="room-car-nav px-4 {{ 'px-8' if isRoomDetail == true }}">
                <div class="pl-2 pr-2 xmed:pt-3 xmed:pl-4 xmed:bg-ams-white xmed:shadow-md">
                    <button class="carousel-button-prev inline-block w-4 h-4 transform rotate-45 justify-self-end border-b-2 border-l-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                            previous
                    </button>
                </div>
                <div class="px-2 xmed:px-3 xmed:pt-3 xmed:pb-1 xmed:bg-ams-white xmed:shadow-md">
                    <button class="carousel-button-next inline-block w-4 h-4 transform rotate-45 justify-self-start border-t-2 border-r-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                        next
                    </button>
                </div>
            </nav>

            <div class="swiper-wrapper z-10">
                {% for slide in content %}
                    <div class="swiper-slide">
                        <div class="grid grid-cols-1 xmed:mx-4 xmed:mt-12">
                            <picture class="h-72 xmed:h-96">
                                {{scaled_image(slide.artDirection)}}
                                <div class="swiper-lazy-preloader"></div>
                            </picture>
                            <article class="xmed:my-8 {{ 'px-4' if isRoomDetail == true }}">
                                <h2 class="w-full {{ 'pr-0 xmed:pr-5' if isRoomDetail == false }} title-display mt-12 xmed:mt-0 text-2xl xmed:text-4xl text-center xmed:text-left">
                                    {{slide.title}}
                                </h2>
                                <div class="block xmed:grid grid-cols-1 xmed:grid-cols-auto-max justify-items-center xmed:justify-items-start gap-20">
                                    <div class="text-ams-primary px-4">
                                        {{slide.p1}}
                                    </div>
                                    {% if (isRoomDetail == false) %}
                                        <div class="mt-10 mb-2 xmed:mt-0 justify-self-center xmed:justify-self-end text-center xmed:text-left">
                                            <a href="{{slide.link}}" class="hidden xmed:block py-2 px-8 bg-ams-gold text-ams-white font-serif tracking-wide button--primary button" target="_blank">Book This Offer</a>
                                            <a href="{{slide.link}}" class="xmed:mt-0 mt-6 py-2 px-8 bg-ams-gold text-ams-white font-serif tracking-wide button--primary button">Book Offer</a>
                                        </div>
                                    {% else %}
                                        <div class="mt-10 mb-8 xmed:mt-0 justify-self-center xmed:justify-self-end text-center xmed:text-left">
                                            <a href="offers.html" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase">VIEW <span class="xmed:hidden">ALL</span> OFFERS</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </article>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </media-carousel>
{% endmacro %}

{% macro cms_rooms_carousel(content) %}
    <media-carousel>
        <div class="swiper-container w-full h-full relative overflow-hidden">
            <nav class="room-car-nav px-4">
                <div class="pl-2 pr-2 xmed:pt-3 xmed:pl-4 xmed:bg-ams-white xmed:shadow-md">
                    <button class="carousel-button-prev inline-block w-4 h-4 transform rotate-45 justify-self-end border-b-2 border-l-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                            previous
                    </button>
                </div>
                <div class="px-2 xmed:px-3 xmed:pt-3 xmed:pb-1 xmed:bg-ams-white xmed:shadow-md">
                    <button class="carousel-button-next inline-block w-4 h-4 transform rotate-45 justify-self-start border-t-2 border-r-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                        next
                    </button>
                </div>
            </nav>

            <div class="swiper-wrapper z-10">
                {% for slide in content %}
                    <div class="swiper-slide">
                        <div class="grid grid-cols-1 xmed:mx-4 xmed:mt-12">
                            {{global_image(image = slide.image.global_image, classes = 'h-72 xmed:h-96', imgClass = 'swiper-lazy w-full h-full object-cover swiper-lazy-loaded')}}
                            <div class="xmed:my-8">
                                <h2 class="w-full px-5 title-display mt-12 xmed:mt-0 text-2xl xmed:text-4xl text-center xmed:text-left">
                                    {{slide.title}}
                                </h2>
                                <div class="grid grid-cols-1 xmed:grid-cols-2 justify-items-center xmed:justify-items-start">
                                    <ul class="grid items-end grid-flow-col auto-cols-max">
                                        {% for iconItem in slide.icons %}
                                            {% if iconItem.type == 'size' %}
                                                <li class="rooms-gallery--icon-sqft grid justify-items-center content-start text-center w-28">
                                                    {% if iconItem.icon == '' %}
                                                        {{svg_icon("size",width="48", height="48", fill="#213E4C", sclass="icon inline-block")}}
                                                    {% endif %}
                                                    <span class="text-ams-primary">{{cms_description(iconItem.description + ' ft<sup>2</sup>')}}
                                                    </span>
                                                </li>

                                            {% elif iconItem.type == 'bed' %}
                                                <li class="rooms-gallery--icon-sleeps grid justify-items-center content-start text-center w-28">
                                                    {# {{svg_icon("bed",width="48", height="48", fill="#ec008c", sclass="icon inline-block")}}
                                                    <span>Sleeps {{slide.icons.capacity}} </span> #}
                                                    {% if iconItem.icon == '' %}
                                                        {{svg_icon("bed", width="48", height="48", fill="#213E4C", sclass="icon inline-block mt-2", textColor="true")}}
                                                    {% endif %}
                                                    <span class="text-ams-primary">{{cms_description(iconItem.description)}}
                                                    </span>
                                                </li>
                                            {% else %}
                                                <li class="rooms-gallery--icon-sleeps grid justify-items-center content-start text-center w-28">
                                                    {% if iconItem.icon == '' %}
                                                        {{svg_icon("bed", width="48", height="48", fill="#213E4C", sclass="icon inline-block mt-2", textColor="true")}}
                                                    {% endif %}
                                                    <span class="text-ams-primary">{{cms_description(iconItem.description)}}
                                                    </span>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    {% if content[0] and content[0].actions %}
                                        <div class="mt-10 xmed:mt-0 justify-self-center xmed:justify-self-end">
                                            {% for act in content[0].actions %}
                                                {% set cta = act.action %}
                                                {% if cta.type == 'primary' %}
                                                    <a href="{{cta.url}}" class="block py-2 px-8 bg-ams-gold text-ams-white font-serif tracking-wide button--primary button" target="_blank">{{cta.copy}}</a>
                                                {% endif %}
                                                {% if cta.type == 'secondary' %}
                                                    <div class="hidden xmed:block mt-6 text-xs text-center">
                                                        <a href="{{cta.url}}" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase">{{cta.copy}}</a>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </media-carousel>
{% endmacro %}

{% macro cms_homepage_offers_carousel(content, isRoomDetail = false) %}
    <media-carousel>
        <div class="swiper-container w-full h-full relative overflow-hidden">
            <nav class="room-car-nav px-4 {{ 'px-8' if isRoomDetail == true }}">
                <div class="pl-2 pr-2 xmed:pt-3 xmed:pl-4 xmed:bg-ams-white xmed:shadow-md">
                    <button class="carousel-button-prev inline-block w-4 h-4 transform rotate-45 justify-self-end border-b-2 border-l-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                            previous
                    </button>
                </div>
                <div class="px-2 xmed:px-3 xmed:pt-3 xmed:pb-1 xmed:bg-ams-white xmed:shadow-md">
                    <button class="carousel-button-next inline-block w-4 h-4 transform rotate-45 justify-self-start border-t-2 border-r-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                        next
                    </button>
                </div>
            </nav>

            <div class="swiper-wrapper z-10">
                {% for slide in content %}
                    <div class="swiper-slide">
                        <div class="grid grid-cols-1 xmed:mx-4 xmed:mt-12">
                            {{global_image(slide.image.global_image, classes="h-72 xmed:h-96", imgClass = 'swiper-lazy w-full h-full object-cover swiper-lazy-loaded')}}
                            <article class="xmed:my-8 {{ 'px-4' if isRoomDetail == true }}">
                                <h2 class="w-full {{ 'pr-0 xmed:pr-5' if isRoomDetail == false }} title-display mt-12 xmed:mt-0 text-2xl xmed:text-4xl text-center xmed:text-left">
                                    {{slide.title}}
                                </h2>
                                <div class="block xmed:grid grid-cols-1 xmed:grid-cols-auto-max justify-items-center xmed:justify-items-start gap-20">
                                    <div class="text-ams-primary px-4 cms-description">
                                        {{slide.description | safe}}
                                    </div>
                                    {% if (isRoomDetail == false) %}
                                        <div class="mt-10 mb-2 xmed:mt-0 justify-self-center xmed:justify-self-end text-center xmed:text-left">
                                            {% for act in slide.actions %}
                                                {% set cta = act.action %}
                                                {% if cta.type == 'book-offer' %}
                                                    <a href="{{cta.url}}" class="xmed:mt-0 mt-6 py-2 px-8 bg-ams-gold text-ams-white font-serif tracking-wide button--primary button">
                                                        <span class="{{ 'hidden xmed:inline-block' if not cta.mobile_copy == '' }}">{{cta.copy | safe}}</span>
                                                        {% if cta.mobile_copy %}
                                                            <span class="xmed:hidden">{{cta.mobile_copy | safe}}</span>
                                                        {% endif %}
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div class="mt-10 mb-8 xmed:mt-0 justify-self-center xmed:justify-self-end text-center xmed:text-left">
                                            {% for act in slide.actions %}
                                                {% set cta = act.action %}
                                                {% if cta.type == 'view-offer' %}
                                                    <a href="{{cta.url}}" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase">
                                                        <span class="{{ 'hidden xmed:inline-block' if not cta.mobile_copy == '' }}">{{cta.copy | safe}}</span>
                                                        {% if cta.mobile_copy %}
                                                            <span class="xmed:hidden">{{cta.mobile_copy | safe}}</span>
                                                        {% endif %}
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </article>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </media-carousel>
{% endmacro %}