
{#
    #   @desc   global_image_macro
    #   @param  item object (image object)
    #   @return Image Component
    #   @author Nazmul Alam
 #}
{% macro global_image(image, classes, carousel=false, lazy = true, imgClass="") %}
    {% set srcset = 'data-srcset' if carousel else 'srcset' %}
    <picture class="{{ classes }}">
        {% if image.sizes | length > 0 %}
        {% for size in image.sizes %}
            {% set defaultSrc = {
                intrinsicwidth: (size.intrinsicwidth if size.intrinsicwidth else
                image.intrinsicwidth), 
                intrinsicheight: (size.intrinsicheight if size.intrinsicheight else
                image.intrinsicheight), 
                src : (size.src if size.src else image.src)} %}
            {% for type in image.types %}
                <source {% if carousel %} data-src="{{ defaultSrc.src }}" {% endif %}
                        srcset="{{ defaultSrc | cmsImgObjSrcSet(type) }}" 
                        media="{{ size.media }}"
                        sizes="{{ size.view }}" 
                        width="{{ defaultSrc.intrinsicwidth }}"
                        height="{{ defaultSrc.intrinsicheight }}"
                        type="image/{{ type | trim }}">
            {% endfor %}
        {% endfor %}
        {% endif %}
        <img
                src="{{ image.src | theImgSrc }}"
        {{ srcset }} = "{{ image | cmsImgObjSrcSet(image.types | last ) }}"
        {% if image.sizes | length > 0 %}
        sizes = {{ (image.sizes | first).view }}
        {% endif %}
        {% if not carousel %}
            loading="{{ 'lazy' if lazy else 'auto' }}"
        {% endif %}
        class="{{ 'swiper-lazy' if carousel }} w-full {{ imgClass }}"
        decoding="async"
        alt="{{ image.alt }}">

        {% if image.credit %}
            <p class="text-right text-xs mt-3">Credit: {{ image.credit }}</p>
        {% endif %}
    </picture>
{% endmacro %}