{% macro location_carousel(content) %}
    <figure class="w-full overflow-hidden">
        <media-carousel>
            <div class="swiper-container w-full h-full relative">

                <div class="swiper-wrapper z-10">
                    {% for slide in content %}
                        <div class="swiper-slide bg-ams-base pt-8" >
                            <div class="grid xmed:justify-items-center w-full bg-ams-base xmed:pt-8">
                                <article class="p-0 xmed:mt-4">
                                    <section class="max-w-screen-xl grid xmed:grid-cols-50-50 gap-4 xmed:p-4">
                                        <div>
                                            <div class="xmed:pt-8 px-6 xmed:p-10 xmed:bg-ams-white xmed:shadow-md">
                                                <div class="text-center xmed:text-left category-header header-{{loop.index}}">
                                                    <h2 class="text-2xl xmed:text-2.5xl font-medium font-serif">{{slide.title}}</h2>
                                                    <p class="py-3">{{slide.body}}</p>
                                                </div>
                                            </div>
                                            <nav class="flex flex-row items-center relative m-auto w-max py-2 top-14 xmed:-top-4 px-10 bg-ams-white shadow-md z-40">
                                                <button class="carousel-button-prev inline-block w-4 h-4 transform rotate-45 justify-self-end border-b-2 border-l-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                                                    previous
                                                </button>
                                                <span class="uppercase text-base text-ams-gold font-bold px-10">{{slide.title}}</span>
                                                <button class="carousel-button-next inline-block w-4 h-4 transform rotate-45 justify-self-start border-t-2 border-r-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                                                    next
                                                </button>
                                            </nav>
                                            <div class="hidden xmed:block mb-10 mt-10">
                                                {% for item in slide.locations %}
                                                    <div class="mb-6">
                                                        <div class="grid xmed:grid-cols-40-60">
                                                            <div class="relative">
                                                                <div class="absolute bg-ams-white text-xs w-24 right-2 top-2 p-2 text-center">{{ item.category_name }}</div>
                                                                <img src="{{ item.image }}" class="w-full" alt="{{ item.imgalt }}">
                                                            </div>
                                                            <div class="pt-4 px-4">
                                                                <div class="flex justify-between">
                                                                    <div class="title justify-items-start">{{ item.card_title }}</div>
                                                                    <div class="justify-items-end text-ams-gold">{{ item.distance }}</div>
                                                                </div>
                                                                <p class="mb-4 text-sm leading-snug">{{ item.card_body }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="relative xmed:hidden z-30">
                                                {{sub_location_carousel(slide.locations)}}
                                            </div>

                                        </div>
                                        <div class="hidden xmed:sticky -top-96 xmed:top-20 h-800 ">
                                            <iframe class="w-full h-full border-0" 
                                                frameborder="0"
                                                allowfullscreen="" 
                                                aria-hidden="false" 
                                                tabindex="0" 
                                                src="https://maps.google.com/maps?hl=en&amp;q=The%20Ameswell%20Hotel,%20Mountain%20View,%20CA%2094043+(The%20Ameswell%20Hotel)&amp;t=&amp;z=10&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                                        </div>
                                    </section>
                                </article>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </media-carousel>
    </figure>
{% endmacro %}

{% macro sub_location_carousel(slides) %}
    <figure class="w-screen overflow-hidden">
        <carousel-component>
            <div class="carousel-container w-full h-full">
                <div class="swiper-wrapper z-10">
                    {% for slide in slides %}
                        <div class="swiper-slide w-full h-184 ">
                            <iframe class="w-full h-184 border-0" 
                                    frameborder="0"
                                    allowfullscreen="" 
                                    aria-hidden="false" 
                                    tabindex="0" 
                                    src="https://maps.google.com/maps?hl=en&amp;q=The%20Ameswell%20Hotel,%20Mountain%20View,%20CA%2094043+(The%20Ameswell%20Hotel)&amp;t=&amp;z=10&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>

                            <div class="absolute bottom-7">
                                <div class="mx-6 bg-ams-white shadow-md p-4">
                                    <div class="cat-image relative">
                                        <div class="absolute bg-ams-white text-xs w-24 left-2 bottom-2 p-2 text-center">{{ slide.category_name }}</div>
                                        <img src="{{ slide.image }}" class="w-full" alt="{{ slide.imgalt }}">
                                    </div>
                                    <div class="pt-4 px-2">
                                        <div class="flex justify-between">
                                            <div class="title justify-items-start">{{ slide.card_title }}</div>
                                            <div class="justify-items-end text-ams-gold">{{ slide.distance }}</div>
                                        </div>
                                        <p class="mb-4 text-sm leading-snug">{{ slide.card_body }}</p>
                                    </div>

                                </div>
                                <div>
                                    <div class="flex absolute bg-button w-9 h-9 left-3 bottom-3 justify-center items-center">

                                        <button class="carousel-prev w-4 h-4 transform rotate-45 border-b-2 border-l-2 focus:outline-none -indent-xl overflow-hidden" tabindex="0" aria-label="Previous slide" aria-controls="swiper-wrapper-6fdf19d53630b5ef">
                                        previous
                                    </button>
                                    </div>

                                    <div class="flex absolute bg-button w-9 h-9 right-3 bottom-3 justify-center items-center">
                                        <button class="carousel-next w-4 h-4 transform rotate-45 border-t-2 border-r-2 focus:outline-none -indent-xl overflow-hidden" tabindex="0" aria-label="Next slide" aria-controls="swiper-wrapper-6fdf19d53630b5ef">
                                        next
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </carousel-component>
    </figure>

{% endmacro %}