{% macro fab(fabUrl, fabBg, fabCopyLines) %}
{% if not fabCopyLines %}
  {% set fabCopyLines = ['Contact', 'Us'] %}
{% endif %}
<a href="{{ fabUrl if fabUrl else 'contact.html' }}" class="page-fab fixed bottom-0 right-4 z-50 w-fab-container-sm xmed:w-fab-container-lg">
    <svg viewBox="0 0 176 163" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-fab-width-sm h-fab-height-sm xmed:w-fab-width-lg xmed:h-fab-height-lg">
        <path d="M31.5472 44H144.453L176 164H0L31.5472 44Z" fill="#{{ fabBg if fabBg else '857550' }}"/>
        <path d="M148 56C144.694 41.0141 140.992 26.9041 129.989 16.402C118.985 5.89998 104.061 1.1213e-06 88.5 0C72.9388 -1.1213e-06 58.0149 5.89998 47.0115 16.402C36.0081 26.9041 32.3056 41.8028 29 56H88.5H148Z" fill="#{{ fabBg if fabBg else '857550' }}"/>
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" class="text-center text-3xl xmed:text-2xl fill-current text-ams-white font-serif">
            {% for line in fabCopyLines %}
              {% if loop.first %}
                <tspan x="50%" dy="0">{{ line }}</tspan>
              {% else %}
                <tspan x="50%" dy="1.3em">{{ line }}</tspan>
              {% endif %}
            {% endfor %}
        </text>
    </svg>
</a>
{% endmacro %}

{% macro cardcard(title, eyebrow, description, image, alt, url)%}
<div class="container px-12 mx-auto grid grid-cols-3 gap-2 place-items-auto">
    <img class="rounded" src="{{ image }}" alt="{{ alt }}">
    <div class="mt-2">
      <div>
        <div class="text-xs text-green-300 uppercase font-bold">{{ eyebrow }}</div>
        <div class="font-bold text-green-400 leading-snug">
          <a href="{{ url }}" class="hover:underline">{{ title }}</a>
        </div>
        <div class="mt-2 text-sm text-green-300">{{ description }}</div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro tester(foo, bar) %}
<h1 class="text-purple-700 font-bold uppercase">{{ foo }} {{ bar }}</h1>
{% endmacro %}

{% macro section_maker(section) %}
<div class="container mx-auto bg-{{ section.backgroundColor }}">
    <div class="grid place-content-stretch {{ section.grid.backgroundColor }} {{ section.grid.cols | join(' ')}} {{ section.grid.gaps | join(' ') }}">
    {% for component in section.components %}
        <div class="{{ component.classes | join(' ') }}">
          {% include component.path %}
        </div>
    {% endfor %}
    </div>
</div>
{% endmacro %}
