{% from "buttons.njk" import primaryButton %}
{% from "global-image.njk" import global_image %}

{% macro fab(fabUrl, fabBg, fabCopyLines, fabExternalLink) %}
{% if not fabCopyLines %}
  {% set fabCopyLines = ['Book', 'a Room'] %}
{% endif %}
<a href="{{ fabUrl if fabUrl else 'contact/' }}" {{ 'target="_blank"' if fabExternalLink }} class="page-fab fixed bottom-0 right-4 z-50 w-fab-container-sm xmed:w-fab-container-lg">
    <svg viewBox="0 0 176 163" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-fab-width-sm h-fab-height-sm xmed:w-fab-width-lg xmed:h-fab-height-lg">
        <path d="M31.5472 44H144.453L176 164H0L31.5472 44Z" fill="#{{ fabBg if fabBg else '857550' }}"/>
        <path d="M148 56C144.694 41.0141 140.992 26.9041 129.989 16.402C118.985 5.89998 104.061 1.1213e-06 88.5 0C72.9388 -1.1213e-06 58.0149 5.89998 47.0115 16.402C36.0081 26.9041 32.3056 41.8028 29 56H88.5H148Z" fill="#{{ fabBg if fabBg else '857550' }}"/>
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" class="text-center text-3xl xmed:text-2xl fill-current text-ams-white font-serif">
            {% for line in fabCopyLines %}
              {% if loop.first %}
                <tspan x="50%" dy="0">{{ line }}</tspan>
              {% else %}
                <tspan x="50%" dy="1.3em">{{ line }}</tspan>
              {% endif %}
            {% endfor %}
        </text>
    </svg>
</a>
{% endmacro %}

{% macro cardcard(title, eyebrow, description, image, alt, url)%}
<div class="container px-12 mx-auto grid grid-cols-3 gap-2 place-items-auto">
    <img class="rounded" src="{{ image }}" alt="{{ alt }}">
    <div class="mt-2">
      <div>
        <div class="text-xs text-green-300 uppercase font-bold">{{ eyebrow }}</div>
        <div class="font-bold text-green-400 leading-snug">
          <a href="{{ url }}" class="hover:underline">{{ title }}</a>
        </div>
        <div class="mt-2 text-sm text-green-300">{{ description }}</div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro tester(foo, bar) %}
<h1 class="text-purple-700 font-bold uppercase">{{ foo }} {{ bar }}</h1>
{% endmacro %}

{% macro section_maker(section) %}
<div class="container mx-auto bg-{{ section.backgroundColor }}">
    <div class="grid place-content-stretch {{ section.grid.backgroundColor }} {{ section.grid.cols | join(' ')}} {{ section.grid.gaps | join(' ') }}">
    {% for component in section.components %}
        <div class="{{ component.classes | join(' ') }}">
          {% include component.path %}
        </div>
    {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro scaled_image(imgObj, lazy=true) %}
<picture class="{{ imgObj.classes if imgObj.classes else 'w-full' }}">
{# for each breakpoint #}
  {% for direction in imgObj.artDirection %}
    <source 
      srcset="{{ direction | imgObjSrcSet('webp') }}"
      media="{{ direction.media }}" 
      sizes="{{ direction.sizes if direction.sizes else '75vw' }}"
      type="image/webp">
    <source 
      srcset="{{ direction | imgObjSrcSet(direction.type) }}" 
      media="{{ direction.media }}" 
      sizes="{{ direction.sizes if direction.sizes else '75vw' }}"
      type="image/{{ direction.type | getImgSourceType }}">
  {% endfor %}
  {# we assume the first direction is the default to use #}
  {% set default = imgObj.artDirection|first %}
  <img 
    srcset="{{ default | imgObjSrcSet(default.type) }}"
    src="{{ default.src }}.{{ default.type if default.type else 'jpg' }}" 
    class="{{ imgObj.classes if imgObj.classes else 'w-full' }}"
    sizes="{{ default.sizes if default.sizes else '75vw' }}"
    loading="{{ 'lazy' if lazy else 'auto' }}" 
    alt="{{ default.alt }}">
</picture>
{% endmacro %}

{# Standard Address format to use globally #}
{% macro address_format( streetAddress, city, state, zip ) %}
{{streetAddress}}<br>
{{city}}, {{state}} {{zip}}
{% endmacro %}

{# Back To Top Macro #}
{% macro backToTop(
	copy="Scroll to top",
	className='absolute z-10 top-14 right-2 xmed:top-24 xmed:right-10 z-100 inline-grid grid-flow-col items-center h-10 px-2 bg-ams-gold text-ams-white font-sans text-sm xmed:text-lg tracking-wide'
) %}
    <a href="#" class="{{ className }} button--backtotop button--primary button">
		<svg width="24" height="13" viewBox="0 0 24 13" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 xmed:w-auto">
			<path d="M23 12L12 2L1 12" stroke="white" stroke-width="2"/>
		</svg>
		<span class="pl-2">{{ copy | safe }}</span>
    </a>
{% endmacro %}

{% macro offersArticle(item) %}
  <article class="xmed:shadow-md p-4 xmed:p-10 bg-ams-white">
        <header>
            <h2 class="title-display text-2xl xmed:text-3xl pb-4">
                {{item.title}}
            </h2>
        </header>
        <div class="text-ams-primary text-md cms-description">
            {{item.description | safe}}
        </div>
        {% if item.links %}
            {% for action in item.links %}
                {% set cta = action.action %}
                <nav class="pt-7 pb-2 xmed:text-center">
                    <a href="{{cta.url}}" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase text-xs xmed:text-lg">
                        <span class="{{ 'hidden xmed:inline-block' if not cta.mobile_copy == '' }}">{{cta.copy | safe}}</span>
                        {% if cta.mobile_copy %}
                            <span class="xmed:hidden">{{cta.mobile_copy | safe}}</span>
                        {% endif %}
                    </a>  
                </nav>
            {% endfor %}  
        {% endif %}
  </article>
{% endmacro %}
{% macro subfooter__form(item, maxWidth) %}
  <div class="grid justify-items-center bg-ams-primary w-full p-6">
      <article class="{% if maxWidth %} {{maxWidth}} {% else %} max-w-screen-lg {% endif %}
           p-6 bg-ams-white w-full">
          <section class="xmed:grid xmed:grid-cols-2 xmed:gap-8">
              <figure class="grid">
                  <figcaption class="order-2 xmed:order-1">
                      <h2 class="title-display pt-4 text-ams-primary font-serif text-2xl xmed:text-4xl pb-4 xmed:pt-0">
                          {{item.title}}
                      </h2>
                      <div class="text-ams-primary pb-4 font-sans text-md cms-description">
                          {{item.description | safe}}
                      </div>
                  </figcaption>
                  <figcaption class="order-1 xmed:order-2">
                      {{ global_image(item.image.global_image) }}
                  </figcaption>
              </figure>
              <form-sender data-type="alist">
                  <form class="pt-4 xmed:pt-16">
                      {% for inp in item.inputs %}
                          <div class="floating-input mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs relative">
                                <input onkeypress="{{inp.onkeypress}}" required="required" type="{{inp.type}}" id="{{inp.id}}" name="{{inp.name}}" placeholder="{{inp.placeholder}}" class="border-0 border-b-2 border-ams-label bg-ams-label text-base w-full p-3 h-8 focus:outline-none focus:ring-transparent focus:border-ams-label"/>
                                <label for="{{inp.id}}" class="absolute top-0 left-0 px-3 py-5 h-full pointer-events-none transform origin-left transition-all duration-100 ease-in-out">{{inp.label}}</label>
                            </div>
                      {% endfor %}
                      <div class="text-center xmed:text-left">
                          {{ primaryButton("#", item.cta, 'submit__button inline-block py-2 px-8 bg-ams-gold text-ams-white font-serif tracking-wide', 'button') }}
                      </div>    
                      <div class="ajax__status text-ams-primary text-ams-green text-rose-600 text-xs pt-2 hidden"></div>
                  </form>
              </form-sender>
          </section>
      </article>
  </div>
{% endmacro %}

{% macro cms_description(description, class = 'cms-description') %}
    <div class="{{class}}">{{description | safe}}</div>
{% endmacro %}