{% from "svgicon.njk" import svg_icon %}
{% macro media_carousel(slides, background_color, caption, splitNav = false) %}
    <figure class="{{ background_color if background_color }}">
    <media-carousel>
        <div class="swiper-container w-full h-full" style="overflow: visible !important;">
            {% if splitNav %}
                <nav class="car-nav flex flex-row justify-between relative z-20 m-auto -mt-10 top-52">
                    <div class="pt-3 pb-1 pl-5 pr-3 bg-ams-white shadow-md">
                        <button class="carousel-button-prev inline-block w-4 h-4 transform rotate-45 justify-self-end border-b-2 border-l-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                            previous
                        </button>
                    </div>
                    <div class="pt-3 pb-1 pl-3 pr-5 bg-ams-white shadow-md">
                        <button class="carousel-button-next inline-block w-4 h-4 transform rotate-45 justify-self-start border-t-2 border-r-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                            next
                        </button>
                    </div>
                </nav>
            {% endif %}
            <div class="swiper-wrapper z-10">
                    {% for slide in slides %}
                        <div class="swiper-slide">
                            <picture>
                            {% for direction in slide.artDirection %}
                                <source 
                                    data-src="{{ direction.src }}.webp"
                                    data-srcset="{{ direction | imgObjSrcSet('webp') }}"
                                    media="{{ direction.media }}"
                                    sizes="{{ direction.sizes if direction.sizes else '75vw' }}"
                                    type="image/webp">
                                <source 
                                    data-src="{{ direction.src }}.{{ direction.type if direction.type else 'jpg' }}"
                                    data-srcset="{{ direction | imgObjSrcSet }}" 
                                    media="{{ direction.media }}"
                                    sizes="{{ direction.sizes if direction.sizes else '75vw' }}"
                                    type="image/{{ direction.type | getImgSourceType }}">
                            {% endfor %}
                            {% set default = slide.artDirection|first %}
                                <img 
                                    data-srcset="{{ default | imgObjSrcSet }}"
                                    data-src="{{ default.src }}.{{ default.type if default.type else 'jpg' }}" 
                                    class="swiper-lazy w-full h-auto {{ 'px-5' if splitNav }}"
                                    sizes="{{ default.sizes if default.sizes else '75vw' }}" 
                                    alt="{{ default.imgalt }}">
                                <div class="swiper-lazy-preloader"></div>
                            </picture>
                        </div>
                    {% endfor %}
            </div>
            {% if not splitNav %}
                <nav class="flex flex-row items-center relative z-20 m-auto w-max -top-4 py-2 px-4 bg-ams-white shadow-md">
                    <button class="carousel-button-prev inline-block w-4 h-4 transform rotate-45 justify-self-end border-b-2 border-l-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                        previous
                    </button>
                    <span class="px-4 whitespace-nowrap text-ams-gold">
                        <span class="carousel-pagination"></span>
                    </span>
                    <button class="carousel-button-next inline-block w-4 h-4 transform rotate-45 justify-self-start border-t-2 border-r-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                        next
                    </button>
                </nav>
            {% endif %}
            {% if caption %}
            <figcaption class="max-w-xl pt-6 pb-4 px-4 m-auto text-center text-ams-primary">
                {{ caption }}
            </figcaption>
            {% endif %}
        </div>
    </media-carousel>
    </figure>
    
{% endmacro %}

{% macro special_carousel(slides) %}
    <figure>
    <media-carousel>
        <div class="swiper-container w-full h-full">
            
            <div class="swiper-wrapper z-10">
                    {% for slide in slides %}
                        <div class="swiper-slide">
                            <picture>
                            {% for direction in slide.artDirection %}
                                <source 
                                    data-src="{{ direction.src }}.webp"
                                    data-srcset="{{ direction | imgObjSrcSet('webp') }}"
                                    media="{{ direction.media }}"
                                    sizes="{{ direction.sizes if direction.sizes else '75vw' }}"
                                    type="image/webp">
                                <source 
                                    data-src="{{ direction.src }}.{{ direction.type if direction.type else 'jpg' }}"
                                    data-srcset="{{ direction | imgObjSrcSet }}" 
                                    media="{{ direction.media }}"
                                    sizes="{{ direction.sizes if direction.sizes else '75vw' }}"
                                    type="image/{{ direction.type | getImgSourceType }}">
                            {% endfor %}
                            {% set default = slide.artDirection|first %}
                                <img 
                                    data-srcset="{{ default | imgObjSrcSet }}"
                                    data-src="{{ default.src }}.{{ default.type if default.type else 'jpg' }}" 
                                    class="swiper-lazy w-full h-auto {{ 'px-5' if splitNav }}"
                                    sizes="{{ default.sizes if default.sizes else '75vw' }}" 
                                    alt="{{ default.imgalt }}">
                                <div class="swiper-lazy-preloader"></div>
                            </picture>
                        </div>
                    {% endfor %}
            </div>
            <section class="w-full grid my-6">
                <div class="xmed:mx-9 xmed:pb-4 px-4 xmed:p-6 shadow-sm xmed:shadow-md bg-ams-white mx-6 pt-6 pb-6">
                <div class="xmed:text-center text-lg max-w-6xl mx-auto">Rest and relaxation is ensured with luxurious robes and Rivolta Italian bed linens, plush Sealy mattresses and 100% organic bath amenities by Juice Beauty.</div>
                </div>
            </section>
            <nav class="flex flex-row items-center relative z-20 m-auto w-max py-2 px-4 bg-ams-white shadow-md mt-2">
                <button class="carousel-button-prev inline-block w-4 h-4 transform rotate-45 justify-self-end border-b-2 border-l-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                    previous
                </button>
                <span class="px-4 whitespace-nowrap text-ams-gold">
                    <span class="carousel-pagination"></span>
                </span>
                <button class="carousel-button-next inline-block w-4 h-4 transform rotate-45 justify-self-start border-t-2 border-r-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                    next
                </button>
            </nav>
            
            
        </div>
    </media-carousel>
    </figure>
    
{% endmacro %}

{% macro homepage_art_carousel(slides, background_color, caption, splitNav = false) %}
    <figure class="{{ background_color if background_color }} max-w-screen-lg mx-5 xmed:mx-auto mb-4 overflow-hidden">
    <media-carousel>
        <div class="swiper-container w-full h-full" style="overflow: visible !important;">
           
            <div class="swiper-wrapper z-10">
                    {% for slide in slides %}
                        <div class="swiper-slide">
                            <picture>
                            {% for direction in slide.artDirection %}
                                <source 
                                    data-src="{{ direction.src }}.webp"
                                    data-srcset="{{ direction | imgObjSrcSet('webp') }}"
                                    media="{{ direction.media }}"
                                    sizes="{{ direction.sizes if direction.sizes else '75vw' }}"
                                    type="image/webp">
                                <source 
                                    data-src="{{ direction.src }}.{{ direction.type if direction.type else 'jpg' }}"
                                    data-srcset="{{ direction | imgObjSrcSet }}" 
                                    media="{{ direction.media }}"
                                    sizes="{{ direction.sizes if direction.sizes else '75vw' }}"
                                    type="image/{{ direction.type | getImgSourceType }}">
                            {% endfor %}
                            {% set default = slide.artDirection|first %}
                                <img 
                                    data-srcset="{{ default | imgObjSrcSet }}"
                                    data-src="{{ default.src }}.{{ default.type if default.type else 'jpg' }}" 
                                    class="swiper-lazy w-full h-auto {{ 'px-5' if splitNav }}"
                                    sizes="{{ default.sizes if default.sizes else '75vw' }}" 
                                    alt="{{ default.imgalt }}">
                                <div class="swiper-lazy-preloader"></div>
                            </picture>
                        </div>
                    {% endfor %}
            </div>
            <figcaption class="relative z-20 mx-auto max-w-screen-xmed xmed:shadow-md xmed:-mt-10 pb-4 pl-4 pt-12 mb-4 xmed:p-10 bg-ams-white">
                <h2 class="title-display text-2xl xmed:text-4xl pt-4 xmed:pt-0 pb-4 xmed:text-center">
                    Ameswell Art Compendium
                </h2>
                <div class="xmed:text-center font-sans text-base xmed:text-lg">
                    We are proud to showcase our extensive art collection throughout our property. Check out the <span class="text-ams-cyan">Ameswell Art Compendium</span> for a virtual tour.
                </div>
                <div class="pt-4 pb-4 xmed:pb-0 xmed:text-center">
                    <a href="art-compendium.html" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display text-xs xmed:text-lg uppercase">LEARN MORE</a>
                </div>
                <nav class="flex flex-row items-center absolute z-20 m-auto w-max py-2 px-4 bg-ams-white shadow-md
                    {% if splitNav %} nav-position__desktop
                    {% else %} nav-position__mobile
                    {% endif %}
                    ">
                    <button class="carousel-button-prev inline-block w-4 h-4 transform rotate-45 justify-self-end border-b-2 border-l-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                        previous
                    </button>
                    <span class="px-4 whitespace-nowrap text-ams-gold">
                        <span class="carousel-pagination"></span>
                    </span>
                    <button class="carousel-button-next inline-block w-4 h-4 transform rotate-45 justify-self-start border-t-2 border-r-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                        next
                    </button>
                </nav>
            </figcaption>            
        </div>
    </media-carousel>
    </figure>
   {% endmacro %} 



{% macro press_carousel(slides, background_color) %}
    <figure class="{{ background_color if background_color }} overflow-hidden pb-4 xmed:pb-6">
    <media-carousel>
        <div class="swiper-container w-full h-full" style="overflow: visible !important;">
            <div class="swiper-wrapper z-10">
                    {% for slide in slides %}
                        <div class="swiper-slide">
                            <figcaption >
                                <header class="p-4">
                                    <h2 class="title-display pb-0 text-left xmed:text-center text-xl xmed:text-2xl my-4">{{slide.heading}}</h2>
                                    <div class="my-4 flex space-x-2 justify-start xmed:justify-center">
                                        {% set x = [1,2,3,4,5] %}
                                        {% for item in x %}
                                            {{svg_icon(name="rating", width="24", height="23", fill="#354656")}}
                                        {% endfor %}
                                    </div>
                                    <p class="max-w-3xl mx-auto my-4 text-left xmed:text-center break-words font-sans text-base xmed:text-lg text-ams-primary">{{slide.quote}}</p>
                                    <p class="text-left xmed:text-center my-4 font-sans font-bold text-base xmed:text-lg text-ams-primary">{{slide.p}}</p>
                                    <div class="text-left xmed:text-center">
                                        <a class="my-4 inline-block border-b border-ams-gold text-ams-gold font-serif font-medium text-lg text-center" href="{{slide.link}}">{{slide.textLink}}</a>
                                    <div>
                                </header>
                            </figcaption>
                        </div>
                    {% endfor %}
            </div>            
            <nav class="flex flex-row items-center relative z-20 m-auto w-max -top-4 py-2 px-4 bg-ams-white shadow-md">
                <button class="carousel-button-prev inline-block w-4 h-4 transform rotate-45 justify-self-end border-b-2 border-l-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                    previous
                </button>
                <span class="px-4 whitespace-nowrap text-ams-gold">
                    <span class="carousel-pagination"></span>
                </span>
                <button class="carousel-button-next inline-block w-4 h-4 transform rotate-45 justify-self-start border-t-2 border-r-2 border-ams-gold focus:outline-none -indent-xl overflow-hidden">
                    next
                </button>
            </nav>
        </div>
    </media-carousel>
    </figure>    
{% endmacro %}