{% macro sample_carousel(slides, title, id) %}
<div x-data="carousel()" id="{{ id }}" class="splide">
	<div class="splide__track">
        <h1 class="text-xl text-yellow-900">{{ title }}</h1>
		<ul class="splide__list">
        {% for slide in slides %}
            {% if loop.first %}
            <li class="splide__slide">
				<img loading="lazy" src="{{ slide.src }}">
                <h6 class="text-green-700 text-sm">{{ slide.caption }}</h6>
			</li>
            {% else %}
            <li class="splide__slide">
				<img src="{{ slide.src }}">
                <h6 class="text-green-700 text-sm">{{ slide.caption }}</h6>
			</li>
            {% endif %}
        {% endfor %}
		</ul>
	</div>
    <div>
        <button @click="previous">Previous</button>
        <div><span x-text="current"></span> of <span x-text="length"></span></div>
        <button @click="next">Next</button>
    </div>
</div>
{% endmacro %}