{% macro skipper_footer(textClasses="", bgClasses="") %}
    <aside class="{{ bgClasses }} py-4 flex items-center space-x-3">
        <span class="{{ textClasses }} self-auto">Powered By</span>
        <a class="self-auto" href="https://skipperhospitality.com"><img src="/images/skipper_logo.svg" width="108px"></a>
    </aside>
{% endmacro %}