{% macro skipper_footer(textClasses="", bgClasses="") %}
    <aside class="{{ bgClasses }} py-4 flex items-center space-x-3">
        <span class="{{ textClasses }} self-auto">Powered By</span>
        <a class="self-auto" href="https://www.skipperhospitality.com/?utm_source=Partner&utm_medium=Web&utm_campaign=The%20Ameswell"><img alt="Skipper Hospitality" src="/images/skipper_logo.svg" width="108px"></a>
    </aside>
{% endmacro %}