---
layout: base.njk
pagename: happenings
meta_title: The Ameswell Hotel
meta_description: "The Ameswell Hotel offers uncommon luxury in Silicon Valley. Nestled on 11 acres in sunny Mountain View, we bring together technology and innovation, natural beauty and an opportunity to play unlike any other hotel in the Bay Area."
canonical_href: https://www.theameswellhotel.com
permalink: "build/happenings.html"
permalinkBypassOutputDir: true
fabUrl: https://reservations.travelclick.com/111994
fabExternalLink: true
---
{% from "macros.njk" import scaled_image %}
{% from "buttons.njk" import primaryButton %}
{% macro eventCard() %}
<section class="bg-ams-white xmed:shadow-2xl h-96 w-96">
    <figure>
        {{ scaled_image(happenings_image) }}
        <figcaption>
            <header class="px-6 py-4 text-left bg-ams-white">
                <h3 class="text-lg font-sans">
                        July 3, 2021
                    </h3>
                <h2 class="title-display text-xl xmed:text-2xl font-serif font-medium">
                        LIVE MUSIC WITH FREDDY CLARKE AND WOBBLY WORLD
                    </h2>
            </header>
        </figcaption>
    </figure>
    <div class="pb-5 text-left pl-6 bg-ams-white text-xs text-ams-primary font-medium">
        {{ primaryButton("#", 'View More') }}        
    </div>
</section>
{% endmacro %}
<div id="pageHero" class="min-h-screen bg-hero--happenings-xmed xmed:bg-hero--happenings bg-cover bg-bottom w-full grid xmed:grid-rows-hero-home justify-items-center pt-28 xmed:pt-0"></div>
<!-- calendar start-->
<section class="xmed:bg-ams-base w-full text-ams-primary">
    <section class="px-10 max-w-screen-lg m-auto">
        <header class="flex items-center justify-center mt-10 mb-7 text-center font-sans">
            <img alt="previous icon" src="/images/prev_icon.svg" class="prev"></img>
            <h1 class="font-bold px-4 text-4xl uppercase">July 2021</h1>
            <img alt="next icon" src="/images/next_icon.svg" class="next"></img>
        </header>
        <div class="font-sans text-xs grid grid-cols-7 gap-x-2 xmed:gap-x-6 text-center">
            <div class="bg-ams-primary text-ams-base">Sun</div>
            <div class="bg-ams-primary text-ams-base">Mon</div>
            <div class="bg-ams-primary text-ams-base">Tue</div>
            <div class="bg-ams-primary text-ams-base">Wed</div>
            <div class="bg-ams-primary text-ams-base">Thu</div>
            <div class="bg-ams-primary text-ams-base">Fri</div>
            <div class="bg-ams-primary text-ams-base">Sat</div>
        </div>
        {% set items=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]%}
        <div class="grid grid-cols-7 gap-x-2 xmed:gap-x-6 mb-8 text-2xl xmed:text-6xl text-center">
            {% for item in items %}
                <div class="py-4 xmed:py-8 grid-item">
                    <p>{{item}}</p>
                    <section class="tooltip">
                        <p class="hidden medium:block text-xs cursor-pointer">
                            some event here
                        </p>
                        <p class="block medium:hidden text-ams-magenta">
                            <svg width="5" height="5" viewBox="0 0 5 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="2.5" cy="2.5" r="2.5" fill="#EC008C"/>
                            </svg>
                        </p>
                        <section class="tooltipText">
                            {{eventCard()}}
                        </section>
                    </section>                    
                </div>
            {% endfor %}
        </div>
    </section>
</section>
<!-- calendar end-->
<hr class="xmed:hidden border-solid border-4 w-11/12 border-ams-primary">
<!--event List-->
<section class="grid xmed:bg-pattern--ams-grey xmed:justify-items-center w-full xmed:pt-24 xmed:pb-28">
    <header class="bg-ams-white w-full mb-0 xmed:mb-24 xmed:w-2/5 xmed:shadow-md">
        <h2 class="title-display text-2xl text-center px-16 font-serif font-medium py-4">
            Our Happenings
        </h2>
    </header>
    {% set items = [0, 1, 2] %}
    <article class="grid items-start max-w-screen-lg w-full xmed:grid-cols-3 xmed:gap-16">
        {% for item in items %}
            <section class="bg-ams-white mb-8 xmed:shadow-md">
                <figure>
                    {{ scaled_image(happenings_image) }}
                    <figcaption>
                        <header class="px-6 py-4">
                            <span class="text-lg font-sans">
                           July 3, 2021
                        </span>
                            <h2 class="title-display text-xl xmed:text-2xl text-left font-serif font-medium">
                           LIVE MUSIC WITH FREDDY CLARKE AND WOBBLY WORLD
                        </h2>
                        </header>
                    </figcaption>
                </figure>
                <div class="xmed:hidden pb-5 grid grid-cols-2 px-6 gap-x-3 font-serif text-center">
                    {{ primaryButton("#", 'Reserve Here') }}
                    <div class="inline-block py-2 px-8 border-4 font-medium text-ams-gold border-ams-gold">
                        More Info
                    </div>
                </div>
            </section>
        {% endfor %}
    </article>
    <div class="bg-pattern--ams-grey pt-6 pb-11 xmed:pt-0 xmed:pb-0 text-center">
        {{ primaryButton("#", 'View all') }}
    </div>
</section>


