---
layout: base.njk
pagename: happenings
permalink: "build/happenings/index.html"
permalinkBypassOutputDir: true
canonical_href: https://www.theameswellhotel.com/happenings/
---
{% from "macros.njk" import scaled_image,
subfooter__form %}
{% from "buttons.njk" import primaryButton %}
{% from "global-image.njk" import global_image %}

{% if pageCMS['top-banner'] and pageCMS['top-banner'].simple_article %}
    {% for item in pageCMS['top-banner'].simple_article %}
        <section id="pageHero" class="bg-ams-primary h-screen w-full grid xmed:grid-rows-hero-home justify-items-center overflow-hidden">
            {% for img in item.image %}
                {{ global_image(img.global_image) }}
            {% endfor %}
            <h1 class="title--1 text-ams-white text-3xl xmed:text-7xl font-serif uppercase text-center pt-30">
                {{item.title}}
            </h1>
        </section>
    {% endfor %}
{% endif %}
<section class="xmed:bg-ams-base w-full text-ams-primary hidden">
    {% if globalCMS['happenings'] and globalCMS['happenings'].happenings | length > 0 %}
        {% for event in globalCMS['happenings'].happenings %}
            {{ global_image(event.image_.global_image, classes = 'w-full h-96 object-cover event_id_' + event.id) }}
        {% endfor %}
    {% endif %}
</section>
<!-- calendar start-->
<section class="xmed:bg-ams-base w-full text-ams-primary">
    <section id="happening_calendar" class="px-6 xmed:px-10 max-w-ameswel m-auto relative">
        <header class="flex items-center justify-center mt-10 mb-7 text-center font-sans">
            <img alt="previous icon" src="/images/prev_icon.svg" class="nav-prev cursor-pointer" width="15" height="24"></img>
            <h1 class="month-name font-bold px-4 text-4xl uppercase"></h1>
            <img alt="next icon" src="/images/next_icon.svg" class="nav-next cursor-pointer" width="15" height="24"></img>
        </header>
        <div class="font-sans text-xs grid grid-cols-7 gap-x-2 xmed:gap-x-6 text-center">
            <div class="bg-ams-primary text-ams-base">Sun</div>
            <div class="bg-ams-primary text-ams-base">Mon</div>
            <div class="bg-ams-primary text-ams-base">Tue</div>
            <div class="bg-ams-primary text-ams-base">Wed</div>
            <div class="bg-ams-primary text-ams-base">Thu</div>
            <div class="bg-ams-primary text-ams-base">Fri</div>
            <div class="bg-ams-primary text-ams-base">Sat</div>
        </div>
        <div class="calendar-body grid grid-cols-7 gap-x-1 mb-8 text-center"></div>
    </section>
</section>
<!-- calendar end-->
<hr class="xmed:hidden border-solid border-4 w-11/12 border-ams-primary">
<!--event List-->
<section class="grid xmed:bg-pattern--ams-grey xmed:justify-items-center w-full xmed:pt-24 xmed:pb-20">
    {% if pageCMS['happenings-article'] and pageCMS['happenings-article'].simple_article %}
        {% set object = pageCMS['happenings-article'].simple_article%}
    {% endif %}
    {% if object %}
        <header class="bg-ams-white w-full mb-0 xmed:mb-24 xmed:w-2/5 xmed:shadow-md">
            <h2 id="our_happenings_title" class="title-display text-2xl text-center px-16 font-serif font-medium py-4 uppercase">
                {{object[0].title}}
            </h2>
        </header>
    {% endif %}
    {% if globalCMS['happenings'] and globalCMS['happenings'].happenings %}
        <article id="our_happenings" data-happenings="{{globalCMS['happenings'].happenings | stringify}}" class="our_happenings grid items-start max-w-ameswel w-full xmed:grid-cols-3 xmed:gap-16 xmed:px-24">
            
        </article>
    {% endif %}
    {% if object %}
        <div class="bg-pattern--ams-grey pt-6 pb-11 xmed:pt-0 xmed:pb-0 text-center mt-16">
            {{ primaryButton("javascript:void(0)", object[0].footer, 'btn_view_all inline-block py-2 px-8 bg-ams-gold text-ams-white font-serif tracking-wide') }}
        </div>
    {% endif %}
    
</section>
{% if globalCMS['join-the-a-list'] and globalCMS['join-the-a-list'].form %}
    {% set subfooter_form = globalCMS['join-the-a-list'].form%}
    {{subfooter__form(subfooter_form)}}
{% endif %}