---
layout: base.njk
pagename: room-detail
meta_title: The Ameswell Hotel | Rooms
meta_description: "Our 255 spacious guest rooms were designed for the ultimate sleep experience, with special attention
given to air filtration, sound quality, lighting, luxurious linens and 100% organic bath amenities by Juice Beauty."
canonical_href: https://www.theameswellhotel.com/room-detail.html
permalink: "build/room-detail.html"
permalinkBypassOutputDir: true
fabUrl: https://reservations.travelclick.com/111994
fabExternalLink: true
---
{% from "videos.njk" import lazyvideo %}
{% from "icons.njk" import svgicon %}
{% from "media-carousel.njk" import media_carousel, special_carousel %}
{% from "component_carousel.njk" import component_carousel %}
{% from "macros.njk" import scaled_image %}
{% from "buttons.njk" import primaryButton %}
{% from "svgicon.njk" import svg_icon %}

{% macro textCard(title, text, pClass, childClass)%}
<section class="w-full grid {{pClass}}">
    <div class="xmed:mx-9 xmed:pb-4 px-4 xmed:p-6 shadow-sm xmed:shadow-md bg-ams-white {{childClass}}">
        {% if title %}
        <h2 class="title-display text-2xl xmed:text-4xl pt-4 xmed:pt-0 pb-4 text-center">
            {{title}}
        </h2>
        {% endif %}
        <div class="xmed:text-center text-lg max-w-6xl mx-auto"> {{text}} </div>
    </div>
</section>
{% endmacro %}

<div id="pageHero"
    class="bg-ams-primary bg-hero--page-detail-xmed xmed:bg-hero--page-detail bg-cover bg-top min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-center pt-28 xmed:pt-0">
</div>

<div
    class="w-full grid justify-items-center -mt-24 xmed:-mt-32 pt-8 xmed:pt-12 pb-8 xmed:pb-14 px-5 bg-pattern--ams-gold">
    <article class="w-full grid justify-items-center">
        <section class="w-full grid justify-items-center max-w-screen-lg shadow-md">
            <div class="pb-4 px-4 xmed:shadow-md xmed:p-10 bg-ams-white">
                <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:text-center">
                    Sleep is a necessity.<br class="hidden xmed:block">
                    Really good sleep is a luxury.
                </h2>
                <div class="xmed:text-center">
                    Whether you are working or getting away, your safety is prioritized through our sanitation process,
                    and your comfort is ensured through thoughtful design, with special attention given to air,
                    lighting, water and sound quality via state-of-the-art systems. Rest and relaxation is ensured with
                    luxurious robes and Rivolta Italian bed linens, plush Sealy mattresses and 100% organic bath
                    amenities by Juice Beauty.
                </div>
            </div>
        </section>
        <section class="w-full grid my-8 xmed:my-12 max-w-screen-lg mx-auto">
            <div class="py-6 px-4 xmed:p-8 shadow-sm xmed:shadow-md bg-ams-white">
                <div class="xmed:mx-4">
                    <h2 class="pb-10 font-serif text-2xl xmed:text-4xl text-center">
                        Our rooms feature
                    </h2>
                    <div class="grid grid-cols-3 xmed:grid-cols-6 gap-4 xmed:gap-8">
                    {{svg_icon("wifi", 'Ultra High Speed Wifi', fill="#213e4c", pclass="justify-items-center text-center")}}
                    {{svg_icon("bed", 'Suite, 1 Bed or 2 Beds', fill="#213e4c", pclass="justify-items-center text-center")}}
                    {{svg_icon("tv", '65” HD Smart TV', fill="#213e4c", pclass="justify-items-center text-center")}}
                    {{svg_icon("table", 'Work Space', stroke="#213e4c", pclass="justify-items-center text-center")}}
                    {{svg_icon("containers", '3 Dining Options', fill="#213e4c", pclass="justify-items-center text-center")}}
                    {{svg_icon("bath", '100% Organic Toiletries', fill="#213e4c", pclass="justify-items-center text-center")}}                    
                    </div>
                </div>
            </div>
        </section>
    </article>
</div>

<div class="grid auto-cols-fr justify-items-center w-full bg-ams-base pb-12 xmed:pt-12">
    <figure class="hidden xmed:block w-full max-w-screen-xl overflow-hidden">
        {{ media_carousel(imageSlides) }}
    </figure>
    <div class="w-full grid justify-items-center max-w-screen-2xl">
        {{textCard('','Rest and relaxation is ensured with luxurious robes and Rivolta Italian bed linens, plush Sealy mattresses and 100% organic bath amenities by Juice Beauty.', 'hidden xmed:block', 'mx-6 pt-6 pb-6')}}
    </div>
    <figure class=" xmed:hidden w-full max-w-screen-xl overflow-hidden">
        {{ special_carousel(imageSlides) }}
    </figure>

</div>

<div class="w-full grid justify-items-center bg-pattern--ams-grey pb-32">
    <section class="w-full grid my-8 xmed:my-12 justify-items-center max-w-screen-md">
        <div class="w-full mx-6 py-6 px-4 xmed:p-8 shadow-sm xmed:shadow-md bg-ams-white">
            <h2 class="font-serif text-3xl xmed:text-5xl text-center">
                Rooms
            </h2>
        </div>
    </section>

    <!-- Room list -->
    {% for room in rooms %}
    <div class="room-list w-full max-w-screen-2xl border-t border-ams-primary xmed:border-0">
        {{textCard(room.name, room.description, 'text-center z-10', 'summury pb-20')}}

        <div class="accordion-item grid justify-items-center w-full -mt-16 xmed:-mt-20 xmed:pt-16 pb-6">
            <!-- toggle button -->
            <div class="accordion-button hidden xmed:grid grid-flow-col auto-cols-min gap-3 px-3 py-2 text-white text-lg font-serif cursor-pointer bg-ams-taupe z-10 h-10">
                <span class="arrow inline-block w-4 h-4 border-t-2 border-r-2 border-white"></span> <span>View</span>
            </div>

            <!-- Toggle content -->
            <div class="accordion-content w-full overflow-hidden transition justify-items-center z-0">
                {% for type in room.types %}
                    <article class="mx-6 xmed:mx-9">
                        <div class="grid grid-cols-1 xmed:grid-cols-2 gap-2 mt-20 mb-16">
                            <!-- sliding images -->
                            <div class="rooms-carousel hidden xmed:block xmed:h-carousel-lg xmed:overflow-hidden">
                                {{ media_carousel(type.imageSlides, '', '', true) }}
                            </div>
                            <!-- room types content -->
                            <div class="shadow-sm xmed:shadow-md bg-ams-white">
                                <h2 class="title-display text-2xl xmed:text-4xl pt-4 py-5 text-center">
                                    {{type.name}}
                                </h2>
                                {% for des in type.description %}
                                    <div class="text-center xmed:text-left text-lg max-w-6xl mx-auto px-6 pb-4">{{des}}</div>
                                {% endfor %}

                                <!-- svg icons -->
                                <div class="w-full grid justify-items-center" >
                                    <div class="grid grid-flow-col auto-cols-max gap-2 xmed:gap-5 my-6">
                                        {{ svgicon(
                                        [
                                        {
                                        d:"M14.0379 0L14.0371 20.1323L32.5 20.1333V27.3135L14.0371 27.3131L14.0379
                                        32H6.84335L6.8424 27.3131L0.5 27.3135V20.1333L6.8424 20.1323L6.84335 0H14.0379ZM12.8164
                                        1.19924H8.06484L8.0648 3.21387L9.46574 3.21448V3.97714L8.0648 3.97653V6.30933L10.7445
                                        6.3101V7.07276L8.0648 7.072V9.4048L9.46574 9.40571V10.1676L8.0648
                                        10.1675V12.5013L9.46574 12.5021V13.264L8.0648 13.2629V15.5968L10.7445
                                        15.5977V16.3596L8.0648 16.3595V18.6933H9.46574V19.4552L8.0648 19.4549V20.1323L8.07706
                                        20.1333L8.07653 21.7888L9.46574 21.789V22.5509L8.07653
                                        22.5504V24.8853H10.7445V25.6472L8.07653 25.6469L8.07706 27.3135L8.0648
                                        27.3131V27.9797L9.46574 27.9802V28.7421L8.0648 28.7413L8.06484
                                        30.8H12.8164V1.19924ZM31.2785 21.3516H14.0379V26.0937L15.8035 26.0928L15.8045
                                        23.4194H16.5679L16.5672 26.0928H18.9064L18.9071 24.6964H19.6705L19.6701
                                        26.0928H22.0072L22.0082 24.6964H22.7724L22.772 26.0928H25.1091L25.11
                                        23.4194H25.8734L25.8728 26.0928H28.2109L28.2118 24.6964H28.9752L28.9747 26.0928L31.2785
                                        26.0937V21.3516ZM6.8424 21.3515L1.72149 21.3516V26.0937L3.98267 26.0928L3.98277
                                        24.6964H4.74621L4.74533 26.0928H6.8424V21.3515Z",
                                        fill: "#213e4c",
                                        fillRule: "evenodd",
                                        clipRule: "evenodd"
                                        }
                                        ],
                                        type.icons.sqft + ' sqft',
                                        'grid grid-cols-1 justify-items-center text-center text-xs xmed:text-base h-28 w-20 xmed:w-28
                                        mx-auto'
                                        ) }}
                                        {{ svgicon(
                                        [
                                        {
                                        d:"M31.5389 15.8486H1.46107V11.1945C1.46107 10.7397 1.8497 10.3718 2.33024
                                        10.3718H30.6704C31.1503 10.3718 31.5389 10.7397 31.5389 11.1945V15.8486ZM4.15987
                                        3.52992C4.15987 2.37008 5.15398 1.43028 6.37934 1.43028H26.6219C27.8466 1.43028 28.8401
                                        2.37008 28.8401 3.52992V9.46214H26.3534V6.65352C26.3534 5.69722 25.5334 4.92172 24.5231
                                        4.92172H19.2739C18.2624 4.92172 17.4436 5.69665 17.4436
                                        6.65352V9.46214H15.557V6.65352C15.557 5.69722 14.7376 4.92172 13.7273
                                        4.92172H8.47747C7.46595 4.92172 6.64724 5.69665 6.64724
                                        6.65352V9.46214H4.15987V3.52992ZM25.3923 9.46214H18.4041V6.65352C18.4041 6.19925 18.7934
                                        5.83083 19.2739 5.83083H24.5231C25.0031 5.83083 25.3923 6.19925 25.3923
                                        6.65352V9.46214ZM14.5959 9.46214H7.60831V6.65352C7.60831 6.19925 7.99694 5.83083 8.47747
                                        5.83083H13.7273C14.2072 5.83083 14.5959 6.19925 14.5959 6.65352V9.46214ZM30.6704
                                        9.46214H29.8012V3.52992C29.8012 1.86806 28.3776 0.520599 26.6219
                                        0.520599H6.37934C4.62299 0.520599 3.1994 1.86806 3.1994 3.52992V9.46214H2.33024C1.31931
                                        9.46214 0.5 10.2371 0.5 11.1945V16.3035C0.5 16.5548 0.715039 16.7583 0.980535
                                        16.7583H1.8497V19.4794H2.81077V16.7583H30.1898V19.4794H31.1509V16.7583H32.0195C32.285
                                        16.7583 32.5 16.5548 32.5 16.3035V11.1945C32.5 10.2371 31.6807 9.46214 30.6704
                                        9.46214Z",
                                        fill: "#213e4c",
                                        fillRule: "evenodd",
                                        clipRule: "evenodd"
                                        }
                                        ],
                                        type.icons.beds + ' Bed',
                                        'grid grid-cols-1 justify-items-center text-center text-xs xmed:text-base h-28 w-20 xmed:w-28
                                        mx-auto'
                                        ) }}
                                        {{ svgicon(
                                        [
                                        {
                                        d:"M15.3031 9.57014C15.4148 9.52327 15.5399 9.53127 15.647 9.59414C16.7707 10.2537
                                        18.2254 10.2537 19.3524 9.59414C19.4584 9.53184 19.5835 9.52327 19.6974 9.57071L22.402
                                        10.6824C22.4687 10.7167 23.5576 11.2997 24.2426 12.8121L24.5108 12.7018C24.6218 12.655
                                        24.7475 12.663 24.8541 12.7258C25.9783 13.3854 27.433 13.3854 28.5595 12.7258C28.6655
                                        12.6635 28.7912 12.655 28.9045 12.7024L31.6096 13.8141C31.7072 13.865 34 15.0882 34
                                        18.6926V23.076H33.1838V18.6926C33.1838 15.6855 31.3672 14.6515 31.2752 14.6023L28.7822
                                        13.5792L28.7233 13.6095C27.4812 14.2422 25.9363 14.2422 24.6903 13.6095L24.6319
                                        13.5792L24.5338 13.6198C24.6908 14.1736 24.7929 14.8132 24.7929
                                        15.5609V19.9443H23.9767V15.5609C23.9767 14.935 23.8948 14.3983 23.7691 13.9347C23.6883
                                        13.6346 23.5879 13.3666 23.4763 13.1277C22.9316 11.9651 22.1293 11.5032 22.0682
                                        11.4706L19.5751 10.4469L19.5162 10.4772C18.2742 11.1105 16.7286 11.1105 15.4832
                                        10.4778L15.4249 10.4475L12.8622 11.5038C12.7411 11.5758 12.0213 12.0434 11.5187
                                        13.1248C11.4081 13.3631 11.31 13.6324 11.2292 13.9324C11.1047 14.3971 11.0233 14.9333
                                        11.0233 15.5609V19.9443H10.2071V15.5609C10.2071 14.8127 10.3092 14.1731 10.4662
                                        13.6192L10.3681 13.5792L10.3092 13.6095C9.06655 14.2422 7.52157 14.2422 6.2756
                                        13.6095L6.21782 13.5792L3.65463 14.6355C3.46614 14.7481 1.81625 15.8152 1.81625
                                        18.6926V23.076H1V18.6926C1 15.1248 3.24791 13.8861 3.33038 13.8416L6.09608
                                        12.7018C6.20772 12.655 6.33282 12.663 6.43941 12.7258C7.56365 13.3854 9.01775 13.3854
                                        10.1453 12.7258C10.2514 12.6635 10.3765 12.655 10.4904 12.7024L10.7563 12.8116C11.4272
                                        11.3237 12.4813 10.7402 12.5374 10.7099L15.3031 9.57014ZM8.29238 4.0557C10.3972 4.0557
                                        12.1094 5.82588 12.1094 8.00075C12.1094 10.1756 10.3972 11.9452 8.29238 11.9452C6.18809
                                        11.9452 4.47481 10.1756 4.47481 8.00075C4.47481 5.82588 6.18809 4.0557 8.29238
                                        4.0557ZM26.7069 4.0557C28.8117 4.0557 30.5239 5.82588 30.5239 8.00075C30.5239 10.1756
                                        28.8117 11.9452 26.7069 11.9452C24.602 11.9452 22.8893 10.1756 22.8893 8.00075C22.8893
                                        5.82588 24.602 4.0557 26.7069 4.0557ZM8.29238 4.95823C6.66774 4.95823 5.34547 6.32316
                                        5.34547 8.00075C5.34547 9.67834 6.66774 11.0438 8.29238 11.0438C9.91758 11.0438 11.2393
                                        9.67834 11.2393 8.00075C11.2393 6.32316 9.91758 4.95823 8.29238 4.95823ZM26.7069
                                        4.95823C25.0822 4.95823 23.7594 6.32316 23.7594 8.00075C23.7594 9.67834 25.0822 11.0438
                                        26.7069 11.0438C28.3315 11.0438 29.6544 9.67834 29.6544 8.00075C29.6544 6.32316 28.3315
                                        4.95823 26.7069 4.95823ZM17.4998 0.924011C19.6046 0.924011 21.3168 2.6942 21.3168
                                        4.86849C21.3168 7.04392 19.6046 8.81354 17.4998 8.81354C15.3949 8.81354 13.6822 7.04392
                                        13.6822 4.86849C13.6822 2.6942 15.3949 0.924011 17.4998 0.924011ZM17.4998
                                        1.82654C15.8746 1.82654 14.5523 3.19147 14.5523 4.86849C14.5523 6.54665 15.8746 7.91215
                                        17.4998 7.91215C19.1244 7.91215 20.4467 6.54665 20.4467 4.86849C20.4467 3.19147 19.1244
                                        1.82654 17.4998 1.82654Z",
                                        fill: "#213e4c",
                                        fillRule: "evenodd",
                                        clipRule: "evenodd"
                                        }
                                        ],
                                        'Sleeps ' + type.icons.capacity,
                                        'grid grid-cols-1 justify-items-center text-center text-xs xmed:text-base h-28 w-20 xmed:w-28
                                        mx-auto'
                                        ) }}
                                    </div>
                                </div>

                                <!-- mobile slider -->
                                <div class="rooms-carousel block xmed:hidden mx-7">
                                    {{ media_carousel(type.imageSlides) }}
                                </div>
                                <h2 class="title-display text-2xl xmed:text-4xl pt-4 py-5 text-center">
                                    Details
                                </h2>
                                <ul class="list-disc px-6 xmed:max-w-xl mx-4 xmed:mx-auto text-base xmed:text-lg pb-8">
                                    {% for det in type.details %}
                                        <li>{{det}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        {% if not loop.last %}                            
                            <div class="hidden xmed:block max-w-5xl mx-auto">
                                <div class="w-full border-t-4 border-ams-gold h-1"></div>
                            </div>
                        {% endif %}
                    </article>
                {% endfor %}
            </div>

            <div class="accordion-button grid xmed:hidden grid-flow-col auto-cols-min gap-3 px-3 py-2 text-white text-lg font-serif cursor-pointer bg-ams-taupe z-10 h-10">
                <span class="arrow inline-block w-4 h-4 border-t-2 border-r-2 border-white"></span> <span>View</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="w-full grid justify-items-center bg-ams-base xmed:pb-12">
    <section class="w-full grid xmed:hidden my-8 xmed:my-12 ">
        <div class="mx-6 xmed:mx-96 py-6 px-4 xmed:p-8 shadow-sm xmed:shadow-md bg-ams-white">
            <h2 class="font-serif text-3xl xmed:text-5xl text-center">
                Room Amenities
            </h2>
        </div>
    </section>
    {% for feature in features %}
        <div class="w-full grid justify-items-center max-w-screen-xl xmed:mt-14 {{feature.classes}}" >
            <section class="shadow-sm xmed:shadow-md bg-ams-white grid grid-cols-1 xmed:grid-cols-2">
                <div class="px-6 mt-6 block xmed:hidden">
                    <figure>
                        {{ scaled_image(feature.img) }}
                    </figure>
                </div>
                <div class="p-6">
                    <h2 class="font-serif text-2xl xmed:text-4xl xmed:pt-8">{{feature.title}}</h2>
                    <div class="pt-6 pb-8 text-base xmed:text-lg max-w-6xl"> {{feature.text}} </div>
                </div>
                <div class="p-8 hidden xmed:block">
                    <figure>
                        {{ scaled_image(feature.img) }}
                    </figure>
                </div>
            </section>
        </div>
    {% endfor %}
</div>

<div class="w-full grid justify-items-center bg-pattern--ams-grey py-6 xmed:py-20">
   <section class="w-full grid justify-items-center max-w-screen-xl xmed:px-16">
        <div class="w-full mx-6 xmed:mx-0 py-4 xmed:py-9 px-4 shadow-sm xmed:shadow-md bg-ams-white grid">
            <h2 class="title-display text-2xl xmed:text-4xl pb-4 xmed:text-center"> Offers </h2>
            <div class="xmed:text-center text-lg max-w-6xl mx-auto"> Looking for a little something extra on your next visit to Silicon Valley? Treat yourself to one of these exclusive offers from The Ameswell Hotel. </div>
            <div class="xmed:hidden pt-4 pb-4">
                <a href="offers.html" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase">VIEW OFFERS</a>
            </div>
        </div>
    </section>
    
    <section class="w-full grid mt-6 justify-items-center max-w-screen-xl xmed:px-16">
        <div class="w-full grid mx-6 py-4 xmed:py-9 xmed:px-4 shadow-sm xmed:shadow-md bg-ams-white">
            <figure class="w-full overflow-hidden">
                {{ component_carousel(offers) }}
            </figure>
        </div>
    </section>
</div>

<div class="grid justify-items-center bg-ams-primary w-full p-8">
    <article class="max-w-screen-xl p-4 bg-ams-white w-full">
        <section class="xmed:grid xmed:grid-cols-2 xmed:gap-4">
            <header>
                <h2 class="title-display text-2xl pt-4 pb-4">
                    Join Our A-List
                </h2>
                <p>
                    You will be the first to hear about events and promotions.
                </p>
            </header>
            <form-sender data-type="alist">
                <form class="pt-4">
                    <div class="floating-input mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs relative">
                        <input onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" required="required" type="text" id="firstName" name="firstName" placeholder="John" class="border-0 border-b-2 border-ams-label bg-ams-label text-base w-full p-3 h-8 focus:outline-none focus:ring-transparent focus:border-ams-label" />
                        <label for="firstName" class="absolute top-0 left-0 px-3 py-5 h-full pointer-events-none transform origin-left transition-all duration-100 ease-in-out">FIRST NAME *</label>
                    </div>
                    <div class="floating-input mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs relative">
                        <input onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" required="required" type="text" id="lastName" name="lastName" placeholder="Galen" class="border-0 border-b-2 border-ams-label bg-ams-label text-base w-full p-3 h-8 focus:outline-none focus:ring-transparent focus:border-ams-label" />
                        <label for="lastName" class="absolute top-0 left-0 px-3 py-5 h-full pointer-events-none transform origin-left transition-all duration-100 ease-in-out">LAST NAME *</label>
                    </div>
                    <div class="floating-input mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs relative">
                        <input required="required" type="text" id="email" name="email" placeholder="johnglenn@example.com" class="border-0 border-b-2 border-ams-label bg-ams-label text-base w-full p-3 h-8 focus:outline-none focus:ring-transparent focus:border-ams-label" />
                        <label for="email" class="absolute top-0 left-0 px-3 py-5 h-full pointer-events-none transform origin-left transition-all duration-100 ease-in-out">EMAIL *</label>
                    </div>
                    {{ primaryButton("#", 'Join the A-List', 'submit__button inline-block py-2 px-8 bg-ams-gold text-ams-white font-serif tracking-wide', 'button') }}
                    <div class="ajax__status text-ams-primary text-ams-green text-rose-600 text-xs pt-2 hidden"></div>
                </form>
            </form-sender>
        </section>
    </article>
</div>
<div class="bg-ams-primary w-full">
    <div class="bg-pattern--ams-grey w-full h-20 my-4 hidden xmed:block"></div>
</div>