---
layout: base.njk
pagename: wellness
meta_title: The Ameswell Hotel | Wellness
meta_description: The Ameswell Hotel was designed with wellness at its core, with guest rooms featuring the Mirror and workout accessories, spa, 1,600 sq. ft. fitness center, heated swimming pool, and direct access to biking and hiking trails.
canonical_href: https://www.theameswellhotel.com/wellness.html
permalink: "build/wellness.html"
permalinkBypassOutputDir: true
fabUrl: https://app.squarespacescheduling.com/schedule.php?owner=23496406
fabExternalLink: true
fabCopy:
    - Book
    - Spa
---
{% from "icons.njk" import svgicon %}
{% from "buttons.njk" import primaryButton %}
{% from "media-carousel.njk" import media_carousel %}
{% from "svgicon.njk" import svg_icon %}

<div id="pageHero" class="bg-ams-primary bg-hero--wellness-xmed xmed:bg-hero--wellness bg-cover bg-top min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-center pt-28 xmed:pt-0">
</div>
<div class="w-full grid justify-items-center -mt-24 xmed:-mt-32 pt-8 xmed:pt-16 px-8 pb-16 xmed:pb-36 bg-pattern--ams-orange">
    <article class="w-full grid justify-items-center pt-4">
        <section class="w-full grid justify-items-center max-w-screen-lg">
            <div class="pb-4 px-4 shadow-md xmed:-mt-10 xmed:p-10 bg-ams-white">
                <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:text-center">
                    Focused on your wellness
                </h2>
                <div class="xmed:text-center">
                    Whether you are here for work travel or weekend getaways, we are committed to your health and well-being, first and foremost. Starting with the design of the hotel itself—sustainable, with <a class="font-bold underline" href="air-quality.html">medical-grade filtered air</a> throughout the guest rooms and public spaces, water filtration, superior acoustics, and human-centered private and public spaces. Continuing through your full experience both indoors and outdoors—reading in the library, relaxing at the spa, picnicking on the lawn, biking the Stevens Creek Trail.
                </div>
                <div class="text-center">
                    {{ primaryButton("https://app.squarespacescheduling.com/schedule.php?owner=23496406", 'View & Book Treatments', 'submit__button inline-block mt-4 xmed:mt-10 py-2 px-8 bg-ams-gold text-ams-white font-serif tracking-wide', external=true) }}
                </div>
            </div>
        </section>
    </article>
</div>
<div class="grid auto-cols-fr justify-items-center w-full xmed:-mt-16 xmed:mb-8 bg-ams-base xmed:bg-transparent">
    <article class="w-full max-w-screen-lg overflow-hidden">
        {{ media_carousel(slides, "", "") }}
    </article>
</div>

<div class="w-full grid justify-items-center pt-8 xmed:pt-6 px-4 pb-14 bg-ams-base">
    <article class="w-full grid justify-items-center space-y-8 xmed:space-y-24">
        <section class="w-full grid justify-items-center max-w-screen-lg pb-4 px-4 xmed:mt-6 xmed:p-10 bg-ams-white xmed:shadow-md">
            <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:pb-8 xmed:text-center">
                Wellness Features &amp; Amenities
            </h2>
            <ul class="xmed:grid xmed:grid-cols-4 xmed:gap-4">
                {{svg_icon("sanitization",  'High-Tech Sanitization', fill="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}   
                {{svg_icon("filter",  'Medical Grade Air Filtration' ,stroke="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}   
                {{svg_icon("fitness",  'State-of-the-art fitness center', stroke="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}   
                {{svg_icon("spa",  'Full-Service Spa' , fill="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                {{svg_icon("water",  'Filtered Water Throughout Property' , stroke="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                {{svg_icon("farmers",  'Direct Access to Biking and Hiking' , fill="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                {{svg_icon("group",  'Group and outdoor fitness classes' , stroke="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                {{svg_icon("apple",  'Healthly Menu Options' , stroke="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}                
            </ul>
        </section>
        <section class="w-full grid justify-items-center max-w-screen-lg">
            <div class="pb-4 px-4 shadow-md xmed:-mt-10 xmed:p-10 bg-ams-white">
                <h2 class="title-display text-2xl xmed:text-4xl pt-4 xmed:pt-0 pb-4 xmed:text-center">
                    Take a Deep Breath...
                </h2>
                <div class="xmed:text-center">
                    At The Ameswell Hotel, we understand that the quality of air we breathe affects our health, comfort, and well-being.  Our property was designed to provide the best air quality for our guests. Air throughout The Ameswell Hotel is continuously circulated with a Dedicated Outside Air System (DOAS), which runs 24/7, constantly providing fresh, filtered air. 
                </div>
                <div class="pt-7 pb-2 xmed:text-center">
                    <a href="air-quality.html" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase">LEARN MORE</a>
                </div>
            </div>
        </section>
    </article>
</div>