---
layout: base.njk
pagename: wellness
meta_title: Wellness Retreat | Bay Area Resorts | The Ameswell Hotel
meta_description: "The Ameswell Hotel was designed with wellness at its core, with guest rooms featuring the Mirror and workout accessories, spa, 1,600 sq. ft. fitness center, heated swimming pool, and direct access to biking and hiking trails."
canonical_href: https://www.theameswellhotel.com/wellness.html
permalink: "build/wellness.html"
permalinkBypassOutputDir: true
fabUrl: https://app.squarespacescheduling.com/schedule.php?owner=23496406
fabExternalLink: true
fabCopy:
    - Book
    - Spa
---
{% from "icons.njk" import svgicon %}
{% from "buttons.njk" import primaryButton %}
{% from "media-carousel.njk" import media_carousel %}
{% from "macros.njk" import scaled_image %}
{% from "svgicon.njk" import svg_icon %}

<div id="pageHero" class="bg-ams-primary bg-hero--wellness xmed:bg-hero--wellness-xmed bg-cover bg-center min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-center pt-28 xmed:pt-0"></div>
<div class="w-full grid justify-items-center -mt-24 xmed:-mt-32 pt-8 xmed:pt-16 px-6 pb-12 xmed:pb-36 bg-pattern--ams-grey xmed:bg-pattern--ams-yellow">
    <article class="w-full grid justify-items-center">
        <section class="w-full grid justify-items-center max-w-screen-lg">
            <div class="pb-4 px-4 shadow-md xmed:-mt-10 xmed:p-10 bg-ams-white">
                <h2 class="title-display text-3xl xmed:text-5xl pt-6 xmed:pt-0 pb-3 xmed:text-center">
                    Focused on your wellness
                </h2>
                <div class="xmed:text-center tracking-tight text-ams-primary">
                    Whether you’re here for work travel or weekend getaways, we’re committed to your health and well-being, first and foremost. Starting with the design of the hotel itself—sustainable, with  <a class="font-bold underline" href="air-quality.html"> filtered air</a> and water, superior acoustics, and human-centered private and public spaces. Continuing through your full experience both indoors and outdoors—reading in the library, relaxing at the spa, picnicking on the lawn, biking the Stevens Creek Trail.
                </div>
                <div class="text-center">
                    {{ primaryButton("https://app.squarespacescheduling.com/schedule.php?owner=23496406", 'View & Book Treatments', 'submit__button inline-block mt-4 xmed:mt-10 py-2 px-8 bg-ams-gold text-ams-white font-serif tracking-wide', external=true) }}
                </div>
                {# TODO: If this button needed, please remove the comment #}
                {# <div class="text-center xmed:hidden py-2">
                    {{ primaryButton("https://app.squarespacescheduling.com/schedule.php?owner=23496406", 'Make Spa Appointment', 'submit__button inline-block mt-4 xmed:mt-10 py-2 px-8 bg-ams-gold text-ams-white font-serif tracking-wide', external=true) }}
                </div> #}
            </div>
        </section>
    </article>
</div>
<div class="grid auto-cols-fr justify-items-center w-full xmed:-mt-16 xmed:mb-8 bg-ams-base xmed:bg-transparent">
    <article class="hero-swiper w-full max-w-screen-xl overflow-hidden">
        {{ media_carousel(slides, "", "") }}
    </article>
</div>

<div class="w-full grid justify-items-center pt-8 xmed:pt-6 px-6 xmed:pb-14 bg-ams-base xmed:bg-pattern--ams-grey">
    <p class="xmed:hidden mb-10 text-center text-ams-primary">Located on eleven scenic acres in Mountain View and boasting over 15,000 square feet of indoor and outdoor event space, we offer planners endless opportunities to create memorable meeting experiences.</p>
    <article class="w-full grid justify-items-center space-y-8 xmed:space-y-24">
        <section class="w-full grid justify-items-center max-w-screen-xl pb-4 px-4 xmed:mt-6 xmed:p-10 bg-ams-white xmed:shadow-md">
            <h2 class="px-10 title-display text-2xl xmed:text-4xl pt-4 xmed:pt-0 pb-4 xmed:pb-8 text-center">
               Resort amenities in an intimate &amp; convenient location
            </h2>
            <ul class="xmed:grid xmed:grid-cols-4 xmed:gap-4">
                {{svg_icon("sanitization",  'Advanced sanitazation tech', fill="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}   
                {{svg_icon("filter",  'Medical Grade Air Filtration' ,stroke="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}   
                {{svg_icon("fitness",  'State-of-the-art fitness center', stroke="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}   
                {{svg_icon("spa",  'Massages, facials, & nutritionist' , fill="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                {{svg_icon("water",  'Filtered water stations' , stroke="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                {{svg_icon("farmers",  'Direct Access to Biking and Hiking' , fill="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                {{svg_icon("group",  'Group and outdoor fitness' , stroke="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                {{svg_icon("apple",  'Health-forward options' , stroke="#f7941e", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}                
            </ul>
        </section>
        <section class="w-full grid justify-items-center max-w-screen-xl">
            <div class="pb-4 px-4 shadow-md xmed:-mt-10 xmed:p-10 bg-ams-white">
                <h2 class="title-display text-2xl xmed:text-4xl pt-4 xmed:pt-0 pb-4 text-center">
                    Take a Deep Breath...
                </h2>
                <div class="text-center">
                    At The Ameswell Hotel, we understand that the quality of air we breathe affects our health, comfort, and well-being.  Our property was designed to provide the best air quality for our guests. Air throughout The Ameswell Hotel is continuously circulated with a Dedicated Outside Air System (DOAS), which runs 24/7, constantly providing fresh, filtered air. 
                </div>
                <div class="pt-7 pb-2 text-center">
                    <a href="air-quality.html" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase">LEARN MORE</a>
                </div>
            </div>
        </section>
        <section class="w-full grid justify-items-center xmed:hidden">
            <div class="w-full pb-4 px-4 shadow-md xmed:-mt-10 xmed:p-10 bg-ams-white">
                <h2 class="title-display text-2xl xmed:text-4xl pt-4 xmed:pt-0 pb-4 text-center">
                    Wellness Amenities
                </h2>
                {% for amenity in amenities %}
                    <a href="#{{amenity.slug}}" class="block text-center underline text-ams-primary mb-5">
                        {{amenity.title}}
                    </a>
                {% endfor %}
            </div>
        </section>
    </article>
</div>
<div class="w-full grid justify-items-center pt-8 xmed:py-6 bg-ams-base">
    {% for amenity in amenities %}
        {% set outer_loop_index = loop.index %}
        <article id={{amenity.slug}} class="xmed:w-full xmed:max-w-screen-xl mb-8 bg-ams-white shadow-md mx-6 xmed:mx-auto text-ams-primary">
            <div class="grid grid-cols-1 xmed:grid-cols-2 py-5">
                <div class="amenity-xs-swiper max-w-screen-xl overflow-hidden xmed:hidden mx-3">
                    {% if amenity.slides.length > 1 %}
                        {{ media_carousel(amenity.slides, "", "") }}
                    {% else %}
                        <div class="mb-5">
                            {{ scaled_image(amenity.slides[0]) }}
                        </div>
                    {% endif %}
                </div>
                <div class="px-4 xmed:px-8">
                    <div class="mr-10 pb-3 border-b border-ams-gold">
                        <h2 class="text-2xl xmed:text-4xl font-serif">{{amenity.title}}</h2>
                        <div class="text-sm xmed:text-lg font-bold">{{amenity.time}}</div>
                        <div class="text-sm xmed:text-lg font-bold">{{amenity.access}}</div>
                        <div class="text-sm xmed:text-lg font-bold">{{amenity.note}}</div>
                    </div>
                    {% for txt in amenity.texts %}
                        <div class="pt-6">
                            <span class="text-sm xmed:text-lg">{{txt}}</span>
                            {% if loop.last %}
                                <span class="relative">
                                    <input type="checkbox" id="read_more_{{outer_loop_index}}" class="read-more absolute top-0 left-0 w-full h-full opacity-0">

                                    <label for="read_more_{{outer_loop_index}}" class="segment__cta segment__cta--gold relative text-ams-gold text-xs font-serif-display uppercase cursor-pointer">READ MORE</label>

                                    {% for mtxt in amenity.more_texts %}
                                        <p class="amenities-more overflow-hidden max-h-0">{{mtxt}}</p>
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                    {% endfor %}
                    
                    {% if amenity.buttons | length %}
                        <div class="w-full py-8 grid xmed:grid-flow-col xmed:auto-cols-max gap-6 justify-items-center">
                            {% for btn in amenity.buttons %}
                            <span class="{{btn.classes}}">
                                {{ primaryButton(btn.link, btn.label) }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="amenity-swiper hidden xmed:block w-full overflow-hidden">
                    {% if amenity.slides.length > 1 %}
                        {{ media_carousel(amenity.slides, "", "", true) }}
                    {% else %}
                        <div class="px-5">
                            {{ scaled_image(amenity.slides[0]) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </article>
    {% endfor %}
</div>