/****  start imports  ********************************/
@import "../../styles/global.css";
/****  end imports  ********************************/
.hero-swiper .swiper-slide img {
  @apply h-136;
  @apply object-cover;
}

.amenity-xs-swiper img {
  @apply h-44;
  @apply object-cover;
}

.amenity-swiper img {
  @apply h-80;
  @apply object-cover;
}

.read-more:checked ~ label ~ div {
  max-height: 300px;
  @apply pt-6;
}

.read-more:checked ~ label {
  display: none;
}

.amenities-more {
  transition: max-height 0.7s ease;
}

.cms-description .bold-and-underline {
  font-weight: bold;
}