/****  start imports  ********************************/
@import "../../styles/global.css";
/****  end imports  ********************************/
.hero-swiper .swiper-slide img {
  @apply h-136;
  @apply object-cover;
}

.amenity-xs-swiper .swiper-slide img {
  @apply h-44;
  @apply object-cover;
}

.amenity-swiper .swiper-slide img {
  @apply h-80;
  @apply object-cover;
}

input[type="checkbox"]:checked ~ label ~ p {
  max-height: 300px;
}

input[type="checkbox"]:checked ~ label {
  display: none;
}

.amenities-more {
  transition: max-height 0.7s ease;
}
