---
layout: base.njk
pagename: about
meta_title: The Ameswell Hotel | Silicon Valley | Wellness Meets Tech
meta_description: "Conveniently located in Mountain View near Google and other major tech companies, The Ameswell Hotel brings together wellness, nature, art, technology, and an opportunity to play unlike any other hotel in the Silicon Valley."
canonical_href: https://www.theameswellhotel.com/about.html
permalink: "build/about.html"
permalinkBypassOutputDir: true
fabUrl: https://reservations.travelclick.com/111994
fabExternalLink: true
---
{% from "icons.njk" import svgicon %}
{% from "macros.njk" import scaled_image, address_format %}
{% from "media-carousel.njk" import media_carousel %}
{% from "svgicon.njk" import svg_icon %}

<div id="pageHero" class="bg-ams-primary bg-hero--about-xmed xmed:bg-hero--about bg-cover bg-top min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-center pt-28 xmed:pt-0">
</div>
<div class="w-full grid justify-items-center -mt-24 xmed:-mt-32 pt-8 xmed:pt-16 px-8 pb-16 xmed:pb-44 bg-pattern--ams-cyan">
    <article class="w-full grid justify-items-center pt-4">
        <section class="w-full grid justify-items-center max-w-screen-lg">
            <div class="pb-4 px-4 shadow-md xmed:-mt-10 xmed:p-10 bg-ams-white">
                <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:text-center xmed:max-w-xl m-auto">
                    A hotel for the innovator and adventurer in everyone
                </h2>
                <div class="xmed:text-center">
                    Like the community we serve, we are inspired by art, nature, innovation, and technology. Whether it's keeping you connected or unplugged, working or unwinding—our rooms, common spaces, and grounds are designed to support your work and play. Join us for something different that you cannot find anywhere else.
                </div>
            </div>
        </section>
    </article>
</div>
<div class="grid auto-cols-fr justify-items-center w-full xmed:-mt-16 xmed:mb-8 bg-ams-base xmed:bg-transparent">
    <article class="w-full max-w-screen-lg overflow-hidden">
        {{ media_carousel(slides) }}
    </article>
</div>
<div class="grid justify-items-center w-full xmed:py-8 bg-ams-base xmed:bg-ams-primary">
    <article class="max-w-screen-lg xmed:grid xmed:grid-cols-slideshow xmed:content-stretch">
        <section class="p-8 xmed:bg-ams-white">
            <h2 class="title xmed:title-display text-xl xmed:text-4xl">
                Born in Silicon Valley 
            </h2>
            <p>
                We are all about location – walking distance from downtown Mountain View, moments from Google, Apple and Facebook headquarters, as well as offices for Microsoft, Intuit and LinkedIn, close to Shoreline Amphitheatre, Levi’s Stadium, Stanford University and Stanford Shopping Center, and the nearby beach towns of Santa Cruz and Half Moon Bay.
            </p>
            <p class="pt-4">
                The Ameswell Hotel is the perfect business and social hub in Silicon Valley.
            </p>
            <p class="pt-4">
                <a href="https://goo.gl/maps/UBPsrp6kvzVFc8BC7" target="_blank" rel="noreferrer" class="text-ams-cyan font-bold underline xmed:no-underline skip-ink">
                    800 Moffett Boulevard., Mountain View, CA 94043
                </a>
            </p>
            <div class="pt-4 pb-4 xmed:pb-0">
                {# TODO: uncomment and link to the location page when it goes live --Alex July 15, 2021
                    <a href="#" class="segment__cta segment__cta--gold relative text-ams-gold font-serif-display uppercase">LEARN MORE</a>
                #}
            </div>
        </section>
        <section class="xmed:bg-ams-white xmed:grid xmed:content-center xmed:justify-items-center xmed:pr-8">
            <div id="map" class="block w-full h-72 p-0 relative"></div>
        </section>
    </article>
</div>
<div class="bg-ams-primary w-full grid justify-items-center pt-4 px-4">
    <article class="p-4 w-full max-w-screen-lg">
        <h2 class="title-display text-2xl py-4 text-ams-white xmed:text-center xmed:text-4xl">
            All the things you need and nothing else
        </h2>
        <p class="pb-6 text-ams-white">
            Options for every meal and in between craving, and every dietary desire—you can eat and drink with us all day, every day.
        </p>
        <section class="pt-9 xmed:grid xmed:grid-cols-3 xmed:gap-4 xmed:items-start">
            <figure class="grid grid-cols-2 xmed:grid-cols-1 xmed:justify-items-center gap-4 items-center mb-6">
                {{ scaled_image(rooms_image) }}
                <figcaption class="text-ams-white xmed:text-center">
                    <header>
                        <h3 class="segment__cta segment__cta--grey relative inline-block mb-4 font-serif-display text-xl text-ams-white">
                            ROOMS
                        </h3>
                    </header>
                    <p class="mb-2 xmed:px-16 xmed:text-center">
                        255 guest rooms designed for comfort
                    </p>
                    <a href="room-detail.html" class="font-bold text-ams-white uppercase underline">LEARN MORE</a>
                </figcaption>
            </figure>
            <figure class="grid grid-cols-2 xmed:grid-cols-1 xmed:justify-items-center gap-4 items-center mb-6">
                {{ scaled_image(dining_image) }}
                <figcaption class="text-ams-white xmed:text-center">
                    <header>
                        <h3 class="segment__cta segment__cta--green relative inline-block mb-4 font-serif-display text-xl text-ams-white">
                            DINING
                        </h3>
                    </header>
                    <p class="mb-2 xmed:px-16 xmed:text-center">
                        All day dining from three options
                    </p>
                    <a href="dining.html" class="font-bold text-ams-white uppercase underline">LEARN MORE</a>
                </figcaption>
            </figure>
            <figure class="grid grid-cols-2 xmed:grid-cols-1 xmed:justify-items-center gap-4 items-center mb-6">
                {{ scaled_image(wellness_image) }}
                <figcaption class="text-ams-white xmed:text-center">
                    <header>
                        <h3 class="segment__cta segment__cta--yellow relative inline-block mb-4 font-serif-display text-xl text-ams-white">
                            WELLNESS
                        </h3>
                    </header>
                    <p class="mb-2 xmed:px-16 xmed:text-center">
                        Pool, spa &amp; fitness center for you
                    </p>
                    <a href="wellness.html" class="font-bold text-ams-white uppercase underline">LEARN MORE</a>
                </figcaption>
            </figure>
        </section>
    </article>
</div>
<div class="w-full grid justify-items-center pt-8 xmed:pt-16 px-8 pb-16 bg-pattern--ams-cyan">
    <article class="w-full grid justify-items-center pt-4">
        <section class="w-full grid justify-items-center max-w-screen-lg">
            <div class="pb-4 px-4 xmed:shadow-md xmed:-mt-10 xmed:p-10 bg-ams-white">
                <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:pb-8 xmed:text-center">
                    Dedicated to Sustainability
                </h2>
                <div class="xmed:text-center">
                    <p>
                        The Ameswell Hotel incorporates sustainable products and practices throughout the property and in our daily operations. 
                    </p>
                    <p>
                        We are committed to offering the highest quality, locally-sourced, organic products while constantly seeking new ways to reduce our impact on Mountain View’s vital natural resources.
                    </p>
                </div>
            </div>
        </section>
    </article>
    <article class="w-full grid justify-items-center pt-4">
        <section class="w-full grid justify-items-center max-w-screen-lg pb-4 px-4 xmed:mt-8 xmed:p-10 bg-ams-white xmed:shadow-md">
            <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:pb-8 xmed:text-center">
                Our sustainability program includes:
            </h2>
            <div class="xmed:grid xmed:grid-cols-3 xmed:gap-4">
                {{svg_icon("containers", 'Biodegradable or reusable containers at all restaurants', fill="#ec008c", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                {{svg_icon("recycling", 'In-room recycling options', fill="#ec008c", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                {{svg_icon("bath", '100% organic bath amenities by Juice Beauty', fill="#ec008c", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                {{svg_icon("car", 'Electric car charging stations', fill="#ec008c", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                {{svg_icon("farmers", 'Partnerships with farmers/ranchers', fill="#ec008c", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
                {{svg_icon("plastic", 'Almost no single-use plastic', fill="#ec008c", pclass="grid-cols-sm-auto gap-4 xmed:px-8")}}
            </div>            
        </section>
    </article>
</div>
<div class="w-full grid justify-items-center bg-ams-base">
    <div class="w-full grid my-8 xmed:my-12 justify-items-center max-w-screen-md">
        <div class="w-full mx-6 py-6 px-4 xmed:p-8 shadow-sm xmed:shadow-md bg-ams-white">
            <h2 class="title-display text-3xl xmed:text-5xl text-center">
                Who are we?
            </h2>
        </div>
    </div>
</div>        
{% for item in about_items %}
    <div class="grid justify-items-center w-full bg-ams-base">
        <article class="mb-4 xmed:mb-12">
            <section class="max-w-screen-lg xmed:grid xmed:grid-cols-2 gap-8 p-4 bg-ams-white xmed:shadow-md">
                {{ scaled_image(item.image) }}
                <div class="mx-4 p-4 mt-8 xmed:mt-0 xmed:order-first">
                    <h2 class="title-display text-3xl">
                        {{item.h2}}
                    </h2>
                    <h3 class="title-display text-lg pb-8 pt-0 xmed:pb-4">
                        {{item.h3}}
                    </h3>
                    <p>
                        {{item.p}}
                    </p>
                </div>
            </section>
        </article>
    </div>
{% endfor %}


