---
pagename: base
meta_title: Skipper
meta_description: Some description here DOOD
---
<!DOCTYPE html>
<html lang="en">
    <head>
<!-- start Google Analytics -->
        {% if ga_id %}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ga_id}}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '{{ga_id}}');
            </script>
        {% endif %}
<!-- end Google Analytics -->
        <meta charset="utf-8" />
        {% if meta_description %}
            <meta name="description" content="{{meta_description}}">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{meta_title}}</title>
        <link rel="icon" href="images/favicon.png">
<!-- start critical css -->
        {% if critical_css %}
        <style>
            {{ critical_css | include }}
        </style>
        {% endif %}
<!-- end critical css -->
<!-- start sync css -->
        {% if sync_css %}
            <link rel="stylesheet" type="text/css" href="{{sync_css}}">
        {% endif %}
<!-- end sync css -->
<!-- start font preloads -->
        {% if data.preload_fonts %}
            {% for font in data.preload_fonts %}
                <link rel="preload" href="{{font.href}}" as="font" type="{{font.type}}" crossorigin>
            {% endfor %}
        {% endif %}
<!-- end font preloads -->
<!-- start scripts -->
        {% if defer_js %}
            <script src="{{defer_js}}" defer></script>
        {% endif %}
        {% if async_js %}
            <script src="{{async_js}}" async></script>
        {% endif %}
        {% if sync_js %}
            <script src="{{sync_js}}"></script>
        {% endif %}
<!-- end scripts -->
    </head>
    <body class="preload page-{{pagename}} grid justify-items-center bg-ams-white text-base sans">
        {{content | safe}}
        <script>
            /* preload class */
            document.body.classList.remove("preload");

            /* sticky pageHeader */
            const pageHeader = document.querySelector('#pageHeader');
            const navTop = pageHeader.offsetTop;
            function stickyPageHeader() {
                if (window.scrollY > navTop) {
                    pageHeader.classList.remove('page-header--docked');
                } else {
                    pageHeader.classList.add('page-header--docked');
                }
            }
            window.addEventListener('scroll', stickyPageHeader);
        </script>
    </body>
</html>