---
pagename: base
meta_title: The Ameswell Hotel
meta_description: The Ameswell Hotel offers uncommon luxury in Silicon Valley. Nestled on 11 acres in sunny Mountain View, we bring together innovation, natural beauty and an opportunity to play unlike any other hotel in the Bay Area.
---
<!DOCTYPE html>
<html lang="en">
    <head>
<!-- Google Tag Manager -->
<script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KKQNLKM');
</script>
<!-- End Google Tag Manager -->
        <meta charset="utf-8" />
        {% if meta_description %}
            <meta name="description" content="{{meta_description}}">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{meta_title}}</title>
        <link rel="icon" href="favicon.svg" type="image/svg+xml">
        <link rel="alternate icon" href="favicon.ico">
<!-- start critical css -->
        {% if critical_css %}
        <style>
            {{ critical_css | include }}
        </style>
        {% endif %}
<!-- end critical css -->
<!-- start sync css -->
        {% if sync_css %}
            <link rel="stylesheet" type="text/css" href="{{sync_css}}">
        {% endif %}
<!-- end sync css -->
<!-- start image preloads -->
    {% if preload_images %}
        {% for image in preload_images %}
            <link rel="preload" href="{{image.href}}" as="image" media="{{image.media}}">
        {% endfor %}
    {% endif %}
<!-- end image preloads -->
<!-- start font preloads -->
        {% if data.preload_fonts %}
            {% for font in data.preload_fonts %}
                <link rel="preload" href="{{font.href}}" as="font" type="{{font.type}}" crossorigin>
            {% endfor %}
        {% endif %}
<!-- end font preloads -->
<!-- start scripts -->
        {% if defer_js %}
            <script src="{{defer_js}}" defer></script>
        {% endif %}
        {% if async_js %}
            <script src="{{async_js}}" async></script>
        {% endif %}
        {% if sync_js %}
            <script src="{{sync_js}}"></script>
        {% endif %}
<!-- end scripts -->
    </head>
    <body class="preload page-{{pagename}} grid justify-items-center bg-ams-white text-base sans">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKQNLKM" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% include "_page-header.njk" %}
        {{content | safe}}
        {% include "_page-footer.njk" %}
        <script>
            /* preload class */
            document.body.classList.remove("preload");

            /* sticky pageHeader */
            const pageHeader = document.querySelector('#pageHeader');
            const pageHero = document.querySelector('#pageHero');
            const navTop = pageHeader.offsetTop;
            const navHeight = pageHeader.offsetHeight;
            const heroOffset = pageHero ? pageHero.offsetTop + pageHero.offsetHeight : navTop;
            const isHomePage = document.body.classList.contains('page-index');
            function stickyPageHeader() {
                if (window.scrollY > heroOffset - navHeight) {
                    pageHeader.classList.remove('page-header--docked');
                } else {
                    pageHeader.classList.add('page-header--docked');
                }

                if (window.scrollY > navTop) {
                    pageHeader.classList.remove('page-header--splayed');
                } else {
                    if(isHomePage) {
                        pageHeader.classList.add('page-header--splayed');
                    }
                }
            }
            window.addEventListener('scroll', stickyPageHeader);
        </script>
    </body>
</html>
