---
layout: base.njk
pagename: press
meta_title: The Ameswell Hotel | News & Press | Mountain View
meta_description: "Check out the latest news and press coverage about The Ameswell Hotel and Roger Bar and Restaurant in Silicon Valley from local, national and international media outlets. Contact our public relations team for information."
canonical_href: https://www.theameswellhotel.com/offers.html
permalink: "build/press/index.html"
permalinkBypassOutputDir: true
fabUrl: https://reservations.travelclick.com/111994
fabExternalLink: true
---
{% from "icons.njk" import svgicon %}
{% from "buttons.njk" import primaryButton %}
{% from "macros.njk" import scaled_image %}
{% from "global-image.njk" import global_image %}

{% macro form_input(item, parentClass = "", inputClass = "") %}
    <label class="form-label {{parentClass}}">
        {{item.label}}<br>
        <input class="form-input__style {{ inputClass }}"
            type="{{item.type}}" 
            {% if item.id %} id="{{item.id}}" {% endif %}             
            name="{{item.name}}"
            {% if item.onkeypress %} onkeypress = "{{item.onkeypress}}" {% endif %}            
            placeholder="{{ item.placeholder }}"  
            {% if item.val !== "" %} value="{{item.val}}" {% endif %} 
            aria-required="true" {{ 'required' if (item.required == true) }} 
            {{ 'readonly' if (item.readonly == true) }}/>
    </label>
{% endmacro %}

{# Top Banner Image #}
{% if pageCMS['top-banner'] and pageCMS['top-banner'].simple_article %}
    <section id="pageHero" class="bg-ams-primary h-screen w-full grid grid-rows-1 justify-items-center items-center overflow-hidden">
        
        {% for item in pageCMS['top-banner'].simple_article %}
            {% set top_banner_image = item.image %}
            
            {% for img in top_banner_image %}
                {{ global_image(img.global_image, imgClass = "min-h-screen min-w-full max-w-none") }}
            {% endfor %}

        {% endfor %}
        
    </section>
{% endif %}

{# Top Banner Title and Description #}
{% if pageCMS['top-banner'] and pageCMS['top-banner'].simple_article %}
    {% set top_banner_article = pageCMS['top-banner'].simple_article %}
    {% for item in top_banner_article %}
        <div class="w-full grid justify-items-center -mt-16 xmed:-mt-32 pt-4 xmed:pt-16 px-6 pb-12 small:pb-10 xmed:pb-16 bg-pattern--ams-gold xmed:bg-pattern--ams-grey">
            <article class="w-full grid justify-items-center pt-4">
                <section class="w-full grid justify-items-center max-w-screen-lg">
                    <div class="pb-4 px-4 shadow-md xmed:-mt-10 xmed:p-10 bg-ams-white text-ams-primary">
                        {% if item.title %}
                            <h2 class="title-display font-serif-display font-medium xmed:font-normal text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:pb-8 xmed:text-center">
                                {{ item.title | safe }}
                            </h2>
                        {% endif %}
                        
                        {% if item.description %}
                            <div class="xmed:text-center font-medium xmed:font-normal font-sans text-base xmed:text-lg leading-6 tracking-wide">
                                {{ item.description | safe }}
                            </div>
                        {% endif %}                    
                    </div>
                </section>
            </article>
        </div>
    {% endfor %}
    
{% endif %}

{# Press Cards #}
{% if pageCMS['press-cards'] and pageCMS['press-cards'].cards %}
{% set press_cards = pageCMS['press-cards'].cards.card %}
<section class="w-full bg-ams-base px-6 xmed:px-12 pb-6 xmed:pb-8 pt-14 xmed:pt-12">
    <section class="grid xmed:grid-cols-3 gap-6 justify-items-center w-full max-w-screen-xl mx-auto">
        {% for item in press_cards %}
            <section class="w-full relative xmed:my-0 pb-28 bg-ams-white shadow-md">
                <figure class="grid items-center">
                    <figcaption class="grid w-full justify-items-center">
                        {{ global_image(item.image.global_image) }}
                    </figcaption>
                    <div class="grid justify-center py-4 text-center">
                        <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.553 9.572C5.129 6.436 6.729 3.556 9.225 1.06L9.097 0.995998C6.857 2.084 4.937 3.94 3.273 6.564C1.609 9.124 0.777 11.62 0.777 13.988C0.777 17.38 2.889 19.684 5.897 19.684C8.777 19.684 11.081 17.38 11.081 14.564C11.081 12.836 10.441 11.492 9.097 10.468C7.753 9.444 6.281 9.124 4.553 9.572ZM16.713 9.572C17.289 6.436 18.889 3.556 21.385 1.06L21.257 0.995998C19.017 2.084 17.097 3.94 15.433 6.564C13.769 9.124 12.937 11.62 12.937 13.988C12.937 17.38 15.049 19.684 18.057 19.684C20.937 19.684 23.241 17.38 23.241 14.564C23.241 12.836 22.601 11.492 21.257 10.468C19.913 9.444 18.441 9.124 16.713 9.572Z" fill="#C2B8AB"/>
                        </svg>
                    </div>
                    <figcaption class="flex justify-center px-4 text-center article-center">
                        {% if item.description %}
                            <div class="text-ams-primary text-base xmed:text-lg font-sans">
                                {{ item.description | safe }}
                            </div>
                        {% endif %}                        
                    </figcaption>
                    <div class="grid justify-center py-4 text-center">
                        <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.553 9.572C5.129 6.436 6.729 3.556 9.225 1.06L9.097 0.995998C6.857 2.084 4.937 3.94 3.273 6.564C1.609 9.124 0.777 11.62 0.777 13.988C0.777 17.38 2.889 19.684 5.897 19.684C8.777 19.684 11.081 17.38 11.081 14.564C11.081 12.836 10.441 11.492 9.097 10.468C7.753 9.444 6.281 9.124 4.553 9.572ZM16.713 9.572C17.289 6.436 18.889 3.556 21.385 1.06L21.257 0.995998C19.017 2.084 17.097 3.94 15.433 6.564C13.769 9.124 12.937 11.62 12.937 13.988C12.937 17.38 15.049 19.684 18.057 19.684C20.937 19.684 23.241 17.38 23.241 14.564C23.241 12.836 22.601 11.492 21.257 10.468C19.913 9.444 18.441 9.124 16.713 9.572Z" fill="#C2B8AB"/>
                        </svg>
                    </div>
                </figure>

                <div class="text-center absolute left-0 right-0 bottom-0 pb-4 xmed:pb-8">
                    <div class="py-4 text-center font-sans font-bold text-base xmed:text-lg text-ams-gold">
                        {% if item.title %}
                            <p>{{item.title | safe }}</p>
                        {% endif %}                        
                    </div>
                    <p class="inline-block border-b border-ams-gold mx-4">
                        {% if item.action %}
                            {{ primaryButton(item.action.link, item.action.copy, 'inline-block pb-1 -mx-4 text-ams-gold font-serif font-medium uppercase tracking-wide button--primary button text-xl', 'a', item.action.external) }}
                        {% endif %}                        
                    </p>
                </div>
            </section>
        {% endfor %}
    </section>
</section>
{% endif %}

{# Subfooter Form #}
{% set subfooter_form = pageCMS['form'].form%}
<div class="grid justify-items-center bg-ams-taupe w-full px-6 xmed:px-12 pt-6 xmed:pt-16 pb-6 xmed:pb-8">
    <article class="max-w-screen-xl p-6 xmed:p-12 bg-ams-white w-full">
        <section class="xmed:grid xmed:grid-cols-2 xmed:gap-x-10">
            <figure class="grid">
                <figcaption class="order-2 xmed:order-1">
                    {% if subfooter_form.title %}
                        <h2 class="title-display pt-4 text-ams-primary font-serif text-2xl xmed:text-4xl pb-4 xmed:pt-0">
                            {{ subfooter_form.title | safe }}
                        </h2>
                    {% endif %}

                    {% if subfooter_form.description %}
                        <div class="cms-email text-ams-primary font-sans text-lg xmed:pb-4">
                            {{ subfooter_form.description | safe }}
                        </div>
                    {% endif %}
                    
                </figcaption>
                <figcaption class="order-1 xmed:order-2">
                    {{ global_image(subfooter_form.image.global_image) }}
                </figcaption>
            </figure>
            <form-sender data-type="press">
                <form class="pt-4 xmed:pt-20">
                    {% for input in subfooter_form.inputs %}
                        
                        {% if input.type == 'textarea' %}
                            <label name="{{input.name}}" class="form-label">
                                {{ input.label }}<br>
                                <textarea minlength="{{input.min}}" name="{{input.name}}" placeholder="{{input.placeholder}}" required="{{input.required}}" class=" min-h-l form-input__style"></textarea>
                            </label>
                        {% else %}

                        {{ form_input(item = input) }}

                        {% endif %}
                    {% endfor %}

                    <div class="text-center xmed:text-left">
                        {{ primaryButton("#", subfooter_form.cta, 'submit__button inline-block py-2 px-8 xmed:px-16 bg-ams-gold text-ams-white font-serif tracking-wide', 'button') }}
                    </div>
                    <div class="ajax__status text-ams-primary text-ams-green text-rose-600 text-xs pt-2 hidden"></div>
                </form>
            </form-sender>
        </section>
    </article>
</div>
<div class="bg-ams-taupe w-full">
    <div class="bg-pattern--ams-grey w-full h-20 hidden xmed:block"></div>
</div>