/****  start imports  ********************************/
@import "../../styles/global.css";
/****  end imports  ********************************/

@layer base {
  .page-fab {
    @apply hidden;
  }
  
    /** the typeform iframe will not by default fill this container unless
        the height + width are thus set
    **/
    iframe[src*='typeform'] {
      height: 100%;
      width: 100%;
  }
  .cms-description .text-cyan-and-underline {
    @apply text-ams-cyan;
    @apply underline;
  }
}

.cms-description a[href^="tel:"],
.cms-description a[href^="mailto:"]{
  text-decoration: underline;
  --tw-text-opacity: 1;
  color: rgba(0, 174, 239, var(--tw-text-opacity));
}