---
layout: base.njk
pagename: rfp
meta_title: The Ameswell Hotel | Book an Event
meta_description: "Book an event unlike any other with the Ameswell Hotel."
canonical_href: https://www.theameswellhotel.com/rfp.html
permalink: "build/rfp.html"
permalinkBypassOutputDir: true
---
{% from "buttons.njk" import primaryButton %}

<div id="pageHero" class="bg-ams-primary bg-hero--events-xmed xmed:bg-hero--events bg-cover bg-top min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-center pt-28 xmed:pt-0">
</div>
<div class="w-full xmed:grid xmed:justify-items-center xmed:bg-pattern--ams-grey xmed:pt-8 xmed:pb-16 xmed:px-8">
    <div class="w-full xmed:max-w-screen-lg xmed:grid xmed:grid-cols-40-60 xmed:-mt-16 xmed:border-2 xmed:shadow-md">
        <div class="w-full grid justify-items-center -mt-24 xmed:-mt-32 xmed:m-0 p-0 xmed:pt-0 px-8 pb-16 xmed:px-0 xmed:pb-0 bg-pattern--ams-grey xmed:bg-none">
            <article class="w-full grid justify-items-center pt-12 xmed:pt-16">
                <section class="w-full max-w-screen-lg pb-4 px-4 xmed:px-12 shadow-md grid content-start bg-ams-white xmed:shadow-none">
                    <h2 class="title-display text-2xl xmed:text-5xl py-4 xmed:py-8">
                        Start Planning Your Event
                    </h2>
                    <p>
                        Please let us know details of your event and a member of our team will reach out to you shortly to discuss! If you need anything in the meantime, please contact our team at <a href="tel:1-650-880-1000" class="text-ams-cyan underline">650-880-1000</a> or <a href="mailto:sales@theameswellhotel.com" target="_blank" class="text-ams-cyan underline">sales@theameswellhotel.com</a>
                    </p>
                </section>
            </article>
        </div>
        <div class="w-full grid justify-items-center xmed:-mt-16 px-8 xmed:px-0 bg-ams-base xmed:bg-transparent">
            <article class="w-full m-8 xmed:m-0 pb-8 px-4 xmed:px-8 bg-ams-white shadow-md max-w-screen-lg xmed:shadow-none">
                <h2 class="title-display text-2xl xmed:text-5xl py-4 xmed:py-8">
                    Event request form
                </h2>
                <form-sender data-type="rfp">
                    <form>
                        <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                            FIRST NAME *<br>
                            <input required="required" aria-required="true" name="firstName" type="text" placeholder="Al" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                        </label>
                        <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                            LAST NAME *<br>
                            <input required="required" aria-required="true" name="lastName" type="text" placeholder="Shepard" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                        </label>
                        <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                            PHONE NUMBER *<br>
                            <input required="required" aria-required="true" name="phone" type="text" placeholder="718-555-1212" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                        </label>
                        <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                            EMAIL ADDRESS *<br>
                            <input required="required" aria-required="true" name="email" type="text" placeholder="ashepard@example.com" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                        </label>
                        <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                            EVENT NAME *<br>
                            <input required="required" aria-required="true" name="eventName" type="text" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                        </label>
                        <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                            EVENT TYPE *<br>
                            <select required="required" aria-required="true" name="eventType" class="block w-full p-0 border-0 focus:ring-transparent bg-ams-label text-base focus:outline-none">
                                <option value="" disabled selected hidden></option>
                                <option value="wedding">wedding</option>
                                <option value="event">event</option>
                                <option value="meeting">meeting</option>
                                <option value="other">other</option>
                            </select>
                        </label>
                        <label class="datepicker relative block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                            START DATE<br>
                            <input name="startDate" type="date" placeholder="MM/DD/YYY" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                        </label>
                        <label class="datepicker relative block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                            END DATE<br>
                            <input name="endDate" type="date" placeholder="MM/DD/YYY" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                        </label>
                        <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs space-y-2">
                            GUEST ROOMS NEEDED?<br>
                            <div class="space-x-2 items-center"><input required="required" aria-required="true" type="radio" value="yes" checked name="guestRooms" class="focus:ring-transparent focus:ring-offset-0 border-2 text-ams-gold"><span>Yes</span></div>
                            <div class="space-x-2 items-center"><input required="required" aria-required="true" type="radio" value="no" name="guestRooms" class="focus:ring-transparent focus:ring-offset-0 border-2 text-ams-gold"><span>No</span></div>
                        </label>
                        <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                            IF SO, HOW MANY?<br>
                            <input name="guestRoomCount" type="number" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                        </label>
                        <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs space-y-2">
                            DO YOU REQUIRE A/V?<br>
                            <div class="space-x-2 items-center"><input required="required" aria-required="true" type="radio" value="yes" name="audioVisual" checked class="focus:ring-transparent focus:ring-offset-0 border-2 text-ams-gold"><span>Yes</span></div>
                            <div class="space-x-2 items-center"><input required="required" aria-required="true" type="radio" value="no" name="audioVisual" class="focus:ring-transparent focus:ring-offset-0 border-2 text-ams-gold"><span>No</span></div>
                        </label>
                        <label class="block mb-4 p-2 bg-ams-label shadow-md text-ams-primary text-xs">
                            OTHER INFORMATION<br>
                            <input name="additionalInfo" type="text" class="block w-full p-0 border-0 focus:ring-transparent focus:border-ams-primary focus:border-opacity-30 focus:border-b-2 border-ams-primary bg-ams-label text-base focus:outline-none placeholder-ams-primary placeholder-opacity-50">
                        </label>
                        {{ primaryButton("#", 'Submit','submit__button inline-block py-2 px-8 bg-ams-gold text-ams-white font-serif tracking-wide', 'button') }}
                        <div class="ajax__status text-ams-primary text-ams-green text-rose-600 text-xs pt-2 hidden"></div>
                    </form>
                </form-sender>
            </article>
        </div>
    </div>
</div>