---
layout: base.njk
pagename: offers
meta_title: The Ameswell Hotel | Offers
meta_description: "The Ameswell Hotel offers three unique offers outlets: Roger, an indoor/outdoor bar and restaurant, The Flyby, an all-day café, and the Airstream for snacks and craft cocktails relaxing by the pool or fire pits."
canonical_href: https://www.theameswellhotel.com/offers.html
permalink: "build/offers.html"
permalinkBypassOutputDir: true
fabUrl: https://reservations.travelclick.com/111994
fabExternalLink: true
---
{% from "icons.njk" import svgicon %}

<div id="pageHero" class="bg-ams-primary bg-hero--offers-xmed xmed:bg-hero--offers bg-cover bg-top min-h-screen w-full grid xmed:grid-rows-hero-home justify-items-center pt-28 xmed:pt-0">
</div>
<div class="w-full grid justify-items-center -mt-24 xmed:-mt-32 pt-8 xmed:pt-16 px-8 pb-16 bg-pattern--ams-green">
    <article class="w-full grid justify-items-center pt-4">
        <section class="w-full grid justify-items-center max-w-screen-lg">
            <div class="pb-4 px-4 shadow-md xmed:-mt-10 xmed:p-8 bg-ams-white">
                <h2 class="title-display text-2xl xmed:text-5xl pt-4 xmed:pt-0 pb-4 xmed:text-center">
                    Enhance Your Stay
                </h2>
                <div class="xmed:text-center">
                    Looking for a little something extra on your next visit to Silicon Valley? Treat yourself to one of these exclusive offers from The Ameswell Hotel.    
                </div>
            </div>
        </section>
    </article>
</div>
<section class="grid justify-items-center w-full bg-ams-base">
    <section class="mb-4 xmed:mt-8">
        <figure class="max-w-screen-lg xmed:grid xmed:grid-cols-60-40 gap-4 xmed:p-4 xmed:bg-ams-white xmed:shadow-md">
            <figcaption class="xmed:order-2 grid justify-items-center pt-4 xmed:pt-0">
                <img src="images/offers-1.jpg" alt="The interior of Roger, the flagship restaurant at the Ameswell Hotel, at midday">
            </figcaption>
            <figcaption class="mt-8 mx-4 p-4 xmed:p-0 shadow-md xmed:shadow-none bg-ams-white xmed:order-1">
                <header>
                    <h2 class="title-display text-3xl">
                        Food &amp; Beverag Credit Package
                    </h2>
                </header>
                <p>
                    Indoor/outdoor bar and restaurant offering cocktails on tap and apps by the piece—redefining dinner and drinks. Join us for year-around open air offers and seasonal menus featuring what you know and love about California cuisine, with some Ameswell innovation.
                </p>
            </figcaption>
        </figure>
    </section>
</section>