/****  start imports  ********************************/
@import "../../styles/global.css";
/****  end imports  ********************************/

.xmed\:grid-cols-50-50 {
    grid-template-columns: 1fr 1fr;
}

.cat-name {
    position: absolute;
    right: 8px;
    top: 8px;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.cat-name-mobile {
    position: absolute;
    bottom: 8px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    left: 8px;    
}

.w-100 {
    width: 100px;
}

.h-100 {
    height: 800px;
}

.map {
    height: 800px;
    position: sticky;
    position: -webkit-sticky;
    top: 5rem;
}

.mobile-style {
    margin: 0px 25px;
}

.m-line {
    line-height: 1.375rem;
}

.left-btn {
    position: absolute;
    left: 10px;
    background: #857550;
    width: 38px;
    height: 38px;
    align-items: center;
    justify-content: center;
    bottom: 10px;
}

.right-btn {
    position: absolute;
    right: 10px;
    background: #857550;
    width: 38px;
    height: 38px;
    align-items: center;
    justify-content: center;
    bottom: 10px;
}

@media only screen and (min-width:375px) {
    .cat-image img {
        height: 144px;
        object-fit: cover;
        object-position: bottom;
    }
}

@media only screen and (min-width:600px) and (max-width:899px) {
    .cat-image img {
        height: 200px;
        object-fit: cover;
        object-position: bottom;
    }
}

@media only screen and (max-width:899px) {
    .card-title {
        justify-content: space-between;
    }
    .h-100 {
        height: 667px;
    }
}