/****  start imports  ********************************/
@import "../../styles/global.css";
/****  end imports  ********************************/

#categoryMap{
    position: sticky !important;
}

.cms-description a {
    --tw-text-opacity: 1;
    color: rgba(0, 174, 239, var(--tw-text-opacity));
}