/****  start imports  ********************************/
@import "./variables.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/****  end imports  ********************************/


/**** base style additions ****/
/** https://tailwindcss.com/docs/functions-and-directives#layer **/
@layer base {
    /****  start fonts  ********************************/
    @font-face {
        font-display: swap;
        font-family: 'Mark Pro';
        src: url('/fonts/MarkPro.woff2'), url('/fonts/MarkPro.woff');
        font-weight: 400;
        font-style: normal;
        unicode-range: U+000-5FF;
    }
    /* TODO: add additional font styles once critical FOFT fully implemented*/
    @font-face {
        font-display: swap;
        font-family: 'Mark Pro';
        src: url('/fonts/MarkPro-Bold.woff2'), url('/fonts/MarkPro-Bold.woff');
        font-weight: 700;
        font-style: normal;
        unicode-range: U+000-5FF;
    }
    @font-face {
        font-display: swap;
        font-family: 'Eksell Display Small';
        src: url('/fonts/EksellDisplayWeb-Small.woff2'), url('/fonts/EksellDisplayWeb-Small.woff');
        font-weight: 400;
        font-style: normal;
        unicode-range: U+000-5FF;
    }
    @font-face {
        font-display: swap;
        font-family: 'Eksell Display Large';
        src: url('/fonts/EksellDisplayWeb-Large.woff2'), url('/fonts/EksellDisplayWeb-Large.woff');
        font-weight: 400;
        font-style: normal;
        unicode-range: U+000-5FF;
    }
    /****  end fonts  ********************************/


    /****  start base styles  ********************************/
    .page-content a{
        @apply text-ams-cyan;
    }
    .title {
        @apply text-ams-primary;
        @apply font-serif;
        @apply pb-4;
    }
    .title-display {
        @apply text-ams-primary;
        @apply font-serif-display;
        @apply pb-4;
    }
    /****  end base styles  ********************************/
}

/**** custom utilities ****/
@layer utilities {
    /** https://tailwindcss.com/docs/functions-and-directives#variants **/
    @variants responsive {
        .wrmode-vrl {
            writing-mode: vertical-rl;
        }
        .wrmode-vlr {
            writing-mode: vertical-lr;
        }
        .wrmode-htb {
            writing-mode: horizontal-tb;
        }
    }
}

/**** custom component styles ****/
/** https://tailwindcss.com/docs/functions-and-directives#apply **/
@layer components {
    /** https://tailwindcss.com/docs/functions-and-directives#responsive **/
    @responsive {
        .btn-purple {
            @apply py-2 px-4 bg-purple-500 text-white font-semibold rounded-lg shadow-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75;
        }
    }

    /** https://tailwindcss.com/docs/functions-and-directives#screen **/
    @screen medium {
        .subtitle {
            text-decoration: underline;
        }
    }
}

/****  start base styles  ********************************/
@layer base {
    .com-car-nav {
        @apply flex;
        @apply flex-row;
        @apply justify-between;
        @apply absolute;
        @apply z-20;
        @apply -mt-10;
        @apply xmed:top-1/2;
        @apply px-4;
        @apply w-full;
    }
    .room-car-nav {
        @apply flex;
        @apply flex-row;
        @apply justify-between;
        @apply absolute;
        @apply z-20;
        @apply -mt-10;
        @apply top-96;
        @apply xmed:top-64;
        @apply w-full;
    }
    .segment-outer {
        @apply w-full;
    }
    .segment-inner {
        @apply max-w-screen-lg;
        @apply overflow-hidden;
        @apply mx-auto;
    }
}

x-cloak {
    display: none;
}

input[type="date"]
{
    -webkit-appearance: none;
}

.segment__cta:after{
    content: '';
    display: block;
    border-style: solid;
    border-width: 1px 0 0 0;
    bottom: -4px;
    height: 0;
    left: 35%;
    margin: 0 auto;
    max-width: 30px;
    position: absolute;
    width: 30%;
}
.segment__cta--gold:after{
    border-color: theme(colors.ams-gold);
}
.segment__cta--green:after{
    border-color: theme(colors.ams-green);
}
.segment__cta--white:after{
    border-color: theme(colors.ams-white);
}
.segment__cta--primary:after{
    border-color: theme(colors.ams-primary);
}
@media all and ( max-width: 899px ) {
    .segment__cta--green:after{
        border-top-width: 2px;
        left: 0;
        width: 40px;
    }
}
.segment__cta--white:after{
    border-color: theme(colors.ams-white);
}
.segment__cta--grey:after{
    border-color: theme(colors.ams-grey);
}
@media all and ( max-width: 899px ) {
    .segment__cta--grey:after{
        border-top-width: 2px;
        left: 0;
        width: 40px;
    }
}
.segment__cta--yellow:after{
    border-color: theme(colors.ams-yellow);
}
@media all and ( max-width: 899px ) {
    .segment__cta--yellow:after{
        border-top-width: 2px;
        left: 0;
        width: 40px;
    }
}
input[type="date"]::-webkit-calendar-picker-indicator{
    display: none;
}
.datepicker:after{
    content: url("data:image/svg+xml; utf8, <svg width='23' height='24' viewBox='0 0 23 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M1.4452 22.387H22.0548V7.00064H1.4452V22.387ZM7.31647 0.75V2.15757H11.2909V0.75H12.2092V2.15757H16.1836V0.75H17.1019V2.15757H22.9732V23.25H0.526855V2.15757H6.39813V0.75H7.31647ZM6.39813 3.02052H1.4452V6.13673H22.0548V3.02052H17.1019V4.72916H16.1836V3.02052H12.2102V4.72916H11.2919V3.02052H7.31647V4.72916H6.39813V3.02052ZM8.16849 9.79372V14.0835H3.60432V9.79372H8.16849ZM7.25014 10.6567H4.52267V13.2206H7.25014V10.6567ZM8.16849 15.3041V19.594H3.60432V15.3041H8.16849ZM7.25014 16.1671H4.52267V18.7301H7.25014V16.1681V16.1671ZM14.0326 9.79372V14.0835H9.46743V9.79372H14.0326ZM13.1143 10.6567H10.3858V13.2206H13.1143V10.6567ZM19.8967 9.79372V14.0835H15.3326V9.79372H19.8978H19.8967ZM18.9784 10.6567H16.2499V13.2206H18.9784V10.6567ZM19.8967 15.3041V19.594H15.3326V15.3041H19.8978H19.8967ZM18.9784 16.1671H16.2499V18.7301H18.9784V16.1681V16.1671ZM14.0326 15.3041V19.594H9.46743V15.3041H14.0326ZM13.1143 16.1671H10.3858V18.7301H13.1143V16.1681V16.1671Z' fill='%23213E4C'/></svg>");
    display: block;
    height: 24px;
    position: absolute;
    right: 15px;
    top: 17px;
    width: 23px;
}

.floating-input>input::placeholder {
    color: transparent;
}
.floating-input>input:focus,
.floating-input>input:not(:placeholder-shown) { 
    @apply pt-6 pl-1 -mb-4
}
.floating-input>input:focus~label, 
.floating-input>input:not(:placeholder-shown)~label {
  @apply opacity-75 scale-75 -translate-y-3 translate-x-1; 
}

.image-loader {
    @apply block relative;
}
.image-loader:before {
    width: 46px;
    height: 46px;
    content: '';
    background: url('/images/loading_icon.svg');
    background-size: 100%;
    z-index: -1;
    animation: spin 2s linear infinite;
    left: calc(50% - 23px);
    @apply absolute top-6 transform -translate-x-2/4;
  }
  
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% {  transform: rotate(359deg); }
  }

  .image-loader.image-loader--white:before {
    background-image: url('/images/white_loading_icon.svg');
  }

/****  end base styles  ********************************/


/****  start page-header  ********************************/
.page-header__menu-container {
    opacity: 0;
    height: 0;
}
.page-header__toggle:checked ~ .page-header__menu-container {
    height: 100vh;
    opacity: 1;
    @apply transition-opacity duration-250 ease-in-out;
}
@media all and ( min-width: 900px ) {
    .page-header__toggle:checked ~ .page-header__menu-container {
        height: auto;
    }
}
.page-header__toggle:not(:checked) ~ .page-header__menu-container {
    @apply transition-transform duration-500 ease-in origin-top;
}
.page-header__toggle:checked ~ .page-header__menu-container .page-header__menu {
    padding-bottom: 6rem;
    padding-top: 6rem;
}
@media all and ( min-width: 900px ) {
    .page-header__toggle:checked ~ .page-header__menu-container .page-header__menu {
        padding-bottom: 6rem;
        padding-top: 8rem;
    }
}
.page-header__toggle:checked ~ .page-header__toggle-button {
    border-top: 0;
}
.page-header__toggle-button:before,
.page-header__toggle-button:after {
    border-top: solid 1px theme(colors.ams-white);
    content: '';
    display: block;
    position: absolute;
    top: 6.5px;
    width: 100%;
    @apply transition-transform duration-300 ease-linear;
}
.page-header__toggle-button:after {
    top: 14.5px;
}
.page-header__toggle:checked ~ .page-header__toggle-button:before,
.page-header__toggle:checked ~ .page-header__toggle-button:after {
    left: 0;
    top: 50%;
    @apply transform rotate-45;
}
.page-header__toggle:checked ~ .page-header__toggle-button:after {
    @apply transform -rotate-45;
}
.page-header--docked{
    background: transparent;
}
/****  end page-header  ********************************/


/****  start page-footer  ********************************/
.page-footer__toggle:checked ~ .page-footer__toggle-button .page-footer__toggle-button--arrow {
    top: 0;
    @apply transform -rotate-135;
}
.page-footer__toggle:checked ~ .page-footer__menu {
    display: block;
}
/****  end page-footer  ********************************/


/****  start page-index ********************************/
@media all and ( min-width: 900px ) {
    .page-index .page-header--splayed .page-header__section{
        grid-template-columns: 100%;
    }
}
@media all and ( min-width: 900px ) {
    .page-index .page-header--splayed .page-header__logo{
        display: none;
    }
    .page-index .page-header--splayed .page-header__weather{
        display: none;
    }
}
@media all and ( min-width: 900px ) {
    .page-index .page-header--splayed .page-header__nav{
        justify-items: center;
        margin-top: 80px;
    }
}
@media all and ( min-width: 900px ) {
    .page-index .page-header--splayed .page-header__toggle-button{
        display: none;
    }
    .page-index .page-header--splayed .page-header__weather{
        display: none;
    }
}
@media all and ( min-width: 900px ) {
    .page-index .page-header--splayed .page-header__menu-container{
        background: transparent;
        opacity: 1;
        overflow: visible;
        padding-top: 0;
        position: relative;
        right: 0;
        top: 0;
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media all and ( min-width: 900px ) {
    .page-index .page-header--splayed .page-header__menu{
        display: grid;
        grid-auto-flow: column;
        grid-gap: 40px;
        grid-template-columns: auto;
        justify-content: space-between;
        max-width: 1008px;
        padding: 0;
    }
}
@media all and ( min-width: 900px ) {
    .page-index .page-header--splayed .bg-pattern--ams-grey {
        display: none;
    }
}
@media all and ( min-width: 900px ) {
    .page-index .page-header:not(.page-header--splayed) .page-header__toggle:not(:checked) ~ .page-header__menu-container {
        @apply transition-all duration-0 ease-linear delay-0;
    }
}

/* TODO: add in no-webp bg hero images once Modernizr is added */


/****  end page-index ********************************/

.gallery-image__column {
    column-count: 2;
    column-gap: 1.5rem;
}
@media only screen and (max-width: 900px) {
    .gallery-image__column {
        column-count: 1;
    }
}

/* art homepage carousal nab button position */
.nav-position__desktop{
    @apply -bottom-4;
    @apply left-0;
    @apply right-0;
}
.nav-position__mobile{
    @apply top-2;
    @apply left-0;
    @apply right-0;
}
@media only screen and (min-width: 900px) {
    .pt-weather{
        padding-top: 1.6px;
    }
}
.hidden-in-mobile-view-able-in-desktop{
    @apply hidden;
    @apply xmed:block;
}

/** https://tailwindcss.com/docs/functions-and-directives#theme **/
/*
body {
    font-family: 'SpaceMono', monospace;
    font-size: var(--base-font-size);
    color: var(--color__secondary);
    font-weight: theme('fontWeight.medium');
}
*/