/****  start imports  ********************************/
@import "./variables.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/****  end imports  ********************************/


/**** base style additions ****/
/** https://tailwindcss.com/docs/functions-and-directives#layer **/
@layer base {
    /****  start fonts  ********************************/
    @font-face {
        font-display: swap;
        font-family: 'Mark Pro';
        src: url('../fonts/MarkPro.otf') format("opentype");
        font-weight: 400;
        font-style: normal;
        unicode-range: U+000-5FF;
    }
    @font-face {
        font-display: swap;
        font-family: 'Mark Pro';
        src: url('../fonts/MarkPro-Bold.otf') format("opentype");
        font-weight: 700;
        font-style: normal;
        unicode-range: U+000-5FF;
    }
    @font-face {
        font-display: swap;
        font-family: 'Eksell Display Small';
        src: url('../fonts/EksellDisplaySmall.otf') format("opentype");
        font-weight: 400;
        font-style: normal;
        unicode-range: U+000-5FF;
    }
    @font-face {
        font-display: swap;
        font-family: 'Eksell Display Large';
        src: url('../fonts/EksellDisplayLarge.otf') format("opentype");
        font-weight: 400;
        font-style: normal;
        unicode-range: U+000-5FF;
    }
    /****  end fonts  ********************************/


    /****  start base styles  ********************************/
    .page-content a{
        @apply text-ams-cyan;
    }
    .title {
        @apply text-ams-primary;
        @apply font-serif;
        @apply pb-4;
    }
    /****  end base styles  ********************************/
}

/**** custom utilities ****/
@layer utilities {
    /** https://tailwindcss.com/docs/functions-and-directives#variants **/
    @variants responsive {
        .wrmode-vrl {
            writing-mode: vertical-rl;
        }
        .wrmode-vlr {
            writing-mode: vertical-lr;
        }
        .wrmode-htb {
            writing-mode: horizontal-tb;
        }
    }
}

/**** custom component styles ****/
/** https://tailwindcss.com/docs/functions-and-directives#apply **/
@layer components {
    /** https://tailwindcss.com/docs/functions-and-directives#responsive **/
    @responsive {
        .btn-purple {
            @apply py-2 px-4 bg-purple-500 text-white font-semibold rounded-lg shadow-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-opacity-75;
        }
    }

    /** https://tailwindcss.com/docs/functions-and-directives#screen **/
    @screen medium {
        .subtitle {
            text-decoration: underline;
        }
    }
}


/****  start base styles  ********************************/
x-cloak {
    display: none;
}
.segment__cta:after{
    content: '';
    display: block;
    border-style: solid;
    border-width: 1px 0 0 0;
    bottom: -4px;
    height: 0;
    left: 35%;
    margin: 0 auto;
    max-width: 30px;
    position: absolute;
    width: 30%;
}
.segment__cta--gold:after{
    border-color: theme(colors.ams-gold);
}
.segment__cta--green:after{
    border-color: theme(colors.ams-green);
}
@media all and ( max-width: 899px ) {
    .segment__cta--green:after{
        border-top-width: 2px;
        left: 0;
        width: 40px;
    }
}
.segment__cta--white:after{
    border-color: theme(colors.ams-white);
}
.segment__cta--grey:after{
    border-color: theme(colors.ams-grey);
}
@media all and ( max-width: 899px ) {
    .segment__cta--grey:after{
        border-top-width: 2px;
        left: 0;
        width: 40px;
    }
}
.segment__cta--yellow:after{
    border-color: theme(colors.ams-yellow);
}
@media all and ( max-width: 899px ) {
    .segment__cta--yellow:after{
        border-top-width: 2px;
        left: 0;
        width: 40px;
    }
}
input[type="date"]::-webkit-calendar-picker-indicator{
    display: none;
}
.datepicker:after{
    content: url("data:image/svg+xml; utf8, <svg width='23' height='24' viewBox='0 0 23 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M1.4452 22.387H22.0548V7.00064H1.4452V22.387ZM7.31647 0.75V2.15757H11.2909V0.75H12.2092V2.15757H16.1836V0.75H17.1019V2.15757H22.9732V23.25H0.526855V2.15757H6.39813V0.75H7.31647ZM6.39813 3.02052H1.4452V6.13673H22.0548V3.02052H17.1019V4.72916H16.1836V3.02052H12.2102V4.72916H11.2919V3.02052H7.31647V4.72916H6.39813V3.02052ZM8.16849 9.79372V14.0835H3.60432V9.79372H8.16849ZM7.25014 10.6567H4.52267V13.2206H7.25014V10.6567ZM8.16849 15.3041V19.594H3.60432V15.3041H8.16849ZM7.25014 16.1671H4.52267V18.7301H7.25014V16.1681V16.1671ZM14.0326 9.79372V14.0835H9.46743V9.79372H14.0326ZM13.1143 10.6567H10.3858V13.2206H13.1143V10.6567ZM19.8967 9.79372V14.0835H15.3326V9.79372H19.8978H19.8967ZM18.9784 10.6567H16.2499V13.2206H18.9784V10.6567ZM19.8967 15.3041V19.594H15.3326V15.3041H19.8978H19.8967ZM18.9784 16.1671H16.2499V18.7301H18.9784V16.1681V16.1671ZM14.0326 15.3041V19.594H9.46743V15.3041H14.0326ZM13.1143 16.1671H10.3858V18.7301H13.1143V16.1681V16.1671Z' fill='%23213E4C'/></svg>");
    display: block;
    height: 24px;
    position: absolute;
    right: 15px;
    top: 17px;
    width: 23px;
}
/****  end base styles  ********************************/


/****  start page-header  ********************************/
.page-header__menu-container {
    transform: translateY(-150%);
}
.page-header__toggle:checked ~ .page-header__menu-container {
    transition: transform 0.5s ease-out;
    transform: translateY(0%);
    transform-origin: top;
}
.page-header__toggle:not(:checked) ~ .page-header__menu-container {
    transition: transform 0.5s ease-in;
    transform-origin: top;
}
.page-header__toggle-button:before,
.page-header__toggle-button:after {
    border-top: solid 1px theme(colors.ams-white);
    content: '';
    display: block;
    position: absolute;
    top: 6.5px;
    transition: transform 0.3s ease;
    width: 100%;
}
.page-header__toggle-button:after {
    top: 14.5px;
}
.page-header__toggle:checked ~ .page-header__toggle-button {
    border-top: 0;
}
.page-header__toggle:checked ~ .page-header__toggle-button:before,
.page-header__toggle:checked ~ .page-header__toggle-button:after {
    left: 0;
    top: 50%;
    transform: rotate(45deg);
}
.page-header__toggle:checked ~ .page-header__toggle-button:after {
    transform: rotate(-45deg);
}
.page-header--docked{
    background: transparent;
}
/****  end page-header  ********************************/


/****  start page-footer  ********************************/
.page-footer__toggle:checked ~ .page-footer__toggle-button .page-footer__toggle-button--arrow {
    top: 0;
    transform: rotate(-135deg);
}
.page-footer__toggle:checked ~ .page-footer__menu {
    display: block;
}
/****  end page-footer  ********************************/


/****  start page-index ********************************/
@media all and ( min-width: 900px ) {
    .page-index .page-header--splayed .page-header__section{
        grid-template-columns: 100%;
    }
}
@media all and ( min-width: 900px ) {
    .page-index .page-header--splayed .page-header__logo{
        display: none;
    }
}
@media all and ( min-width: 900px ) {
    .page-index .page-header--splayed .page-header__nav{
        justify-items: center;
        margin-top: 80px;
    }
}
@media all and ( min-width: 900px ) {
    .page-index .page-header--splayed .page-header__toggle-button{
        display: none;
    }
}
@media all and ( min-width: 900px ) {
    .page-index .page-header--splayed .page-header__menu-container{
        background: transparent;
        padding-top: 0;
        position: relative;
        right: 0;
        top: 0;
        transform: scaleY(1);
    }
}
@media all and ( min-width: 900px ) {
    .page-index .page-header--splayed .page-header__menu{
        display: grid;
        grid-auto-flow: column;
        grid-gap: 40px;
        grid-template-columns: auto;
        justify-content: space-between;
        max-width: 1008px;
        padding: 0;
    }
}
@media all and ( min-width: 900px ) {
    .page-index .page-header--splayed .bg-pattern--ams-grey {
        display: none;
    }
}
@media all and ( min-width: 900px ) {
    /* TODO: removing menu close transition on home due to docked styling at top, perhaps consider a different approach to animation? */
    .page-index .page-header:not(.page-header--splayed) .page-header__toggle:not(:checked) ~ .page-header__menu-container {
        transition: all 0s ease 0s;
    }
}

/* TODO: add in no-webp bg hero images once Modernizr is added */


/****  end page-index ********************************/








/** https://tailwindcss.com/docs/functions-and-directives#theme **/
/*
body {
    font-family: 'SpaceMono', monospace;
    font-size: var(--base-font-size);
    color: var(--color__secondary);
    font-weight: theme('fontWeight.medium');
}
*/